In [6]:
import json
import time
import random
from collections import defaultdict
from tqdm import tqdm
import google.generativeai as genai

genai.configure(api_key="<paste_your_gemini_api_key_here>")

Mounted at /content/drive

In [7]:
def build_prompt(question, shots=[]):

    prompt_instructions = (
        "You are an expert at translating natural language questions into SQL queries for the ATIS flight database.\n"
        "Use the provided schemas and follow these instructions carefully:\n"
        "- Always query the FLIGHT table to retrieve FLIGHT_ID using SELECT DISTINCT.\n"
        "- Join through CITY, AIRPORT_SERVICE, DATE_DAY, and DAYS to map city names and day names correctly.\n"
        "- Use placeholders like city_name0, city_name1, day_number0, month_number0, year0 where appropriate.\n"
        "- Use subqueries rather than join operations.\n"
        "- DO NOT hardcode values like FLIGHT_DAYS = 'MONDAY' or FLIGHT_DAYS = 2 — instead, JOIN with the DAYS and DATE_DAY tables.\n"
        "- DO NOT use constants like 'MONDAY', 'TUESDAY', or numeric day codes directly — always use placeholders + joins.\n"
        "- DO NOT use nested SELECTs unless strictly necessary.\n"
        "- DO NOT use fields not present in the schema (e.g., FLIGHT_SOURCE, FLIGHT_DESTINATION).\n"
        "- DO NOT use irrelevant joins like FLIGHT_STOP, AIRLINE, or CITYalias2 unless the question explicitly requires it (e.g., intermediate stops, airlines).\n"
        "- DO NOT invent or reference fields like DATE_DAYalias0.DATE_DAY — only use columns present in the provided schema.\n"
        "- DO NOT query FARE or use FLIGHT_FARE unless the question explicitly asks about prices or cost-related details.\n"
        "- DO NOT include any newline character in the SQL query generated.\n"
        "- Use CITY.CITY_NAME joined via AIRPORT_SERVICE and FLIGHT for city-based queries.\n"
        "- Always use FLIGHT.FROM_AIRPORT and FLIGHT.TO_AIRPORT.\n"
        "- Always map FLIGHT.FLIGHT_DAYS to DAYS.DAY_NAME via DATE_DAY.\n"
        "- Always format the FROM and WHERE clauses clearly and consistently with proper alias usage.\n"
        "- Always complete the parentheses.\n"
        "- Always add ';' at the end of the SQL query generated.\n"
        "- Return only the SQL query. Do not include explanations, comments, or additional output.\n\n"
    )

    formatted_shots = []
    for ex in shots:
        formatted_shots.append(f"Q: {ex['question']} => {ex['sql']}")

    return prompt_instructions + "\n".join(formatted_shots) + f"\nQ: {question} =>"

In [8]:
def generate_sql(question, shots=[], retries=20, base_wait=2):

    prompt = build_prompt(question, shots)
    for attempt in range(retries):
        try:
            model = genai.GenerativeModel("gemini-1.5-pro")
            response = model.generate_content(prompt)
            return response.text.strip()

        except Exception as e:
            wait = base_wait * (attempt + 1)
            print(f"Error: {e}. Waiting {wait}s...")
            time.sleep(wait)
    raise RuntimeError("Runtime Error: Failed to generate after multiple retries.")

def load_shot_examples(examples, shots):

    shot_examples = []
    for example in examples:
        sql_list = example.get("sql", [])
        if not sql_list:
            continue
        sql = min(sql_list, key=len).replace("\n", " ")
        for sent in example.get("sentences", []):
            if sent.get("question-split") not in ["train", "dev"]:
                continue
            shot_examples.append({"question": sent["text"], "sql": sql})
    # random.seed(5046)
    random.shuffle(shot_examples)
    return shot_examples[:shots]

def get_eval_examples(examples, split):

    eval_examples = []
    for example in examples:
        sql_list = example.get("sql", [])
        if not sql_list:
            continue
        sql = min(sql_list, key=len).replace("\n", " ")
        for sent in example.get("sentences", []):
            if sent.get("question-split") == split:
                eval_examples.append({"text": sent["text"], "final_sql": sql})
    return eval_examples

def evaluate(eval_examples, shots):

    correct = 0
    for example in tqdm(eval_examples):
        question = example["text"]
        final = example["final_sql"]
        predicted = generate_sql(question, shots)
        print("\nQuestion:", question)
        print("Predicted SQL:", predicted)
        print("Correct SQL:", final)
        if predicted == final:
            print("CORRECT!!!\n")
            correct += 1
        else:
            print("INCORRECT\n")

    print(f"Accuracy: {correct}/{len(eval_examples)} = {(correct/len(eval_examples)):.5f}")

In [9]:
with open("atis.json") as dataset:
    examples = json.load(dataset)

In [10]:
print("Evaluating the LLM Gemini 1.5 Pro on ATIS by \"question-split\" and 0-shot training (no examples)...")
evaluate(get_eval_examples(examples, split="test"), load_shot_examples(examples, 0))

Evaluating the LLM Gemini 1.5 Pro on ATIS by "question-split" and 0-shot training (no examples)...

  0%|          | 1/447 [00:03<29:31,  3.97s/it]

Question: i need a flight from city_name1 to city_name0 on monday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = (SELECT DAYS.DAY_CODE FROM DAYS WHERE DAYS.DAY_NAME = 'MONDAY'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

  0%|          | 2/447 [00:06<23:31,  3.17s/it]

Question: list flights from city_name1 to city_name0 on wednesday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'Wednesday');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

  1%|          | 3/447 [00:09<22:16,  3.01s/it]

Question: list flights from city_name1 to city_name0 on friday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS = (SELECT DATE_DAY.DAY_CODE FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = (SELECT DAYS.DAY_CODE FROM DAYS WHERE DAYS.DAY_NAME = 'FRIDAY'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

  1%|          | 4/447 [00:12<21:49,  2.96s/it]

Question: list flights from city_name1 to city_name0 on monday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME IN (SELECT DAYS.DAY_NAME FROM DAYS WHERE DAYS.DAY_NAME = 'MONDAY'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

  1%|          | 5/447 [00:15<21:44,  2.95s/it]

Question: list flights from city_name1 to city_name0 on wednesday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS = (SELECT DATE_DAY.DAY_CODE FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = (SELECT DAYS.DAY_CODE FROM DAYS WHERE DAYS.DAY_NAME = 'WEDNESDAY'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

  1%|▏         | 6/447 [00:18<21:39,  2.95s/it]

Question: list flights from city_name1 to city_name0 on sunday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = (SELECT DAYS.DAY_CODE FROM DAYS WHERE DAYS.DAY_NAME = 'SUNDAY'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

  2%|▏         | 7/447 [00:20<21:18,  2.91s/it]

Question: list flights from city_name1 to city_name0 on friday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = (SELECT DAYS.DAY_CODE FROM DAYS WHERE DAYS.DAY_NAME = 'FRIDAY'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

  2%|▏         | 8/447 [00:23<21:21,  2.92s/it]

Question: list flights from city_name1 to city_name0 on friday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = (SELECT DAYS.DAY_CODE FROM DAYS WHERE DAYS.DAY_NAME = 'FRIDAY'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

  2%|▏         | 9/447 [00:26<21:14,  2.91s/it]

Question: give me the flights from city_name1 to city_name0 on tuesday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = (SELECT DAYS.DAY_CODE FROM DAYS WHERE DAYS.DAY_NAME = 'TUESDAY'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

  2%|▏         | 10/447 [00:29<21:19,  2.93s/it]

Question: i need a friday flight from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_CODE FROM DATE_DAY WHERE DATE_DAY.DAY_NAME IN (SELECT DAYS.DAY_NAME FROM DAYS WHERE DAYS.DAY_NAME = 'FRIDAY'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

  2%|▏         | 11/447 [00:32<21:21,  2.94s/it]

Question: i need a sunday flight from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME IN (SELECT DAYS.DAY_NAME FROM DAYS WHERE DAYS.DAY_NAME = 'SUNDAY'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

  3%|▎         | 12/447 [00:35<21:49,  3.01s/it]

Question: city_name1 to city_name0 on friday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME IN (SELECT DAYS.DAY_NAME FROM DAYS WHERE DAYS.DAYS = 'FRIDAY'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

  3%|▎         | 13/447 [00:38<21:40,  3.00s/it]

Question: city_name1 to city_name0 on tuesday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = (SELECT DAYS.DAY_CODE FROM DAYS WHERE DAYS.DAY_NAME = 'TUESDAY'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

  3%|▎         | 14/447 [00:41<21:20,  2.96s/it]

Question: city_name1 to city_name0 month_number0 day_number0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.MONTH_NUMBER = month_number0 AND DATE_DAY.DAY_NUMBER = day_number0);
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

  3%|▎         | 15/447 [00:44<20:06,  2.79s/it]

Question: city_name1 to city_name0 on saturday
Predicted SQL: SELECT DISTINCT FLIGHT_ID FROM FLIGHT WHERE FROM_AIRPORT IN (SELECT AIRPORT_CODE FROM AIRPORT_SERVICE WHERE CITY_CODE IN (SELECT CITY_CODE FROM CITY WHERE CITY_NAME = 'city_name1')) AND TO_AIRPORT IN (SELECT AIRPORT_CODE FROM AIRPORT_SERVICE WHERE CITY_CODE IN (SELECT CITY_CODE FROM CITY WHERE CITY_NAME = 'city_name0')) AND FLIGHT_DAYS IN (SELECT DAY_OF_WEEK FROM DATE_DAY WHERE DAY_NAME = 'SATURDAY');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

  4%|▎         | 16/447 [00:47<21:51,  3.04s/it]

Question: city_name1 to city_name0 on sunday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = (SELECT DAYS.DAY_CODE FROM DAYS WHERE DAYS.DAY_NAME = 'SUNDAY'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

  4%|▍         | 17/447 [00:50<21:05,  2.94s/it]

Question: city_name1 to city_name0 on wednesday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'WEDNESDAY');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

  4%|▍         | 18/447 [00:53<20:39,  2.89s/it]

Question: what are the flights between city_name1 and city_name0 on wednesday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'WEDNESDAY');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

  4%|▍         | 19/447 [00:56<21:25,  3.00s/it]

Question: please give me the flights from city_name1 to city_name0 on month_number0 day_number0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS = (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.MONTH_NUMBER = month_number0 AND DATE_DAY.DAY_NUMBER = day_number0);
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

  4%|▍         | 20/447 [00:59<21:05,  2.96s/it]

Question: please give me the flights from city_name1 to city_name0 on month_number0 day_number0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.MONTH_NUMBER = month_number0 AND DATE_DAY.DAY_NUMBER = day_number0);
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

  5%|▍         | 21/447 [01:02<21:05,  2.97s/it]

Question: please list all the flights from city_name1 to city_name0 on month_number0 day_number0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.MONTH_NUMBER = month_number0 AND DATE_DAY.DAY_NUMBER = day_number0);
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

  5%|▍         | 22/447 [01:05<21:28,  3.03s/it]

Question: please list all the flights from city_name1 to city_name0 on month_number0 day_number0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.MONTH_NUMBER = month_number0 AND DATE_DAY.DAY_NUMBER = day_number0 AND DATE_DAY.YEAR = year0) AND FLIGHT.FLIGHT_DAYS IN (SELECT DAYS.DAY_CODE FROM DAYS);
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

  5%|▌         | 23/447 [01:08<21:07,  2.99s/it]

Question: i'd like to travel from city_name1 to city_name0 next wednesday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS = (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'WEDNESDAY');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

  5%|▌         | 24/447 [01:11<21:33,  3.06s/it]

Question: find flight from city_name1 to city_name0 on monday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = (SELECT DAYS.DAY_CODE FROM DAYS WHERE DAYS.DAY_NAME = 'MONDAY'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

  6%|▌         | 25/447 [01:14<20:34,  2.92s/it]

Question: find flight from city_name1 to city_name0 on tuesday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_CODE FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'TUESDAY');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

  6%|▌         | 26/447 [01:16<20:01,  2.85s/it]

Question: find flight from city_name1 to city_name0 on monday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_CODE FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'MONDAY');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

  6%|▌         | 27/447 [01:19<20:06,  2.87s/it]

Question: find flight from city_name1 to city_name0 on wednesday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = (SELECT DAYS.DAY_CODE FROM DAYS WHERE DAYS.DAY_NAME = 'WEDNESDAY'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

  6%|▋         | 28/447 [01:22<19:53,  2.85s/it]

Question: find flight from city_name1 to city_name0 on friday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = (SELECT DAYS.DAY_CODE FROM DAYS WHERE DAYS.DAY_NAME = 'FRIDAY'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

  6%|▋         | 29/447 [01:25<19:31,  2.80s/it]

Question: find flight from city_name1 to city_name0 on sunday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_CODE FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'SUNDAY');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

  7%|▋         | 30/447 [01:28<19:45,  2.84s/it]

Question: are there any flights on month_number0 day_number0 from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.MONTH_NUMBER = month_number0 AND DATE_DAY.DAY_NUMBER = day_number0);
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

  7%|▋         | 31/447 [01:31<19:23,  2.80s/it]

Question: i need information on flights from city_name1 to city_name0 that leave on a day_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'day_name0');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DAYSalias0.DAY_NAME = "day_name0" AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

  7%|▋         | 32/447 [01:33<19:10,  2.77s/it]

Question: i need the flights from city_name1 to city_name0 on a day_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'day_name0');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DAYSalias0.DAY_NAME = "day_name0" AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

  7%|▋         | 33/447 [01:37<20:48,  3.02s/it]

Question: i want to go from city_name1 to city_name0 on a day_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'day_name0');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DAYSalias0.DAY_NAME = "day_name0" AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

  8%|▊         | 34/447 [01:39<20:05,  2.92s/it]

Question: list day_name0 flights from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_CODE FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'day_name0');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DAYSalias0.DAY_NAME = "day_name0" AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

  8%|▊         | 35/447 [01:42<19:53,  2.90s/it]

Question: list day_name0 flights from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_CODE FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'day_name0');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DAYSalias0.DAY_NAME = "day_name0" AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

  8%|▊         | 36/447 [01:45<18:35,  2.71s/it]

Question: what flights go from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

  8%|▊         | 37/447 [01:47<17:30,  2.56s/it]

Question: what flights go from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

  9%|▊         | 38/447 [01:49<16:53,  2.48s/it]

Question: flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

  9%|▊         | 39/447 [01:52<16:58,  2.50s/it]

Question: flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

  9%|▉         | 40/447 [01:54<17:11,  2.53s/it]

Question: flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

  9%|▉         | 41/447 [01:57<16:38,  2.46s/it]

Question: i would like flight information from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

  9%|▉         | 42/447 [01:59<16:08,  2.39s/it]

Question: could i have flight information on flights from city_name0 to city_name1 please
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 10%|▉         | 43/447 [02:01<15:44,  2.34s/it]

Question: could i have flight information on flights from city_name0 to city_name1 please
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 10%|▉         | 44/447 [02:03<15:41,  2.34s/it]

Question: list flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 10%|█         | 45/447 [02:06<15:44,  2.35s/it]

Question: get flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 10%|█         | 46/447 [02:08<15:43,  2.35s/it]

Question: get flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 11%|█         | 47/447 [02:10<15:42,  2.36s/it]

Question: get flights between city_name0 and city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 11%|█         | 48/447 [02:13<15:40,  2.36s/it]

Question: list flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 11%|█         | 49/447 [02:16<17:48,  2.68s/it]

Question: what are the flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 11%|█         | 50/447 [02:19<17:18,  2.62s/it]

Question: i need information on flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 11%|█▏        | 51/447 [02:21<16:39,  2.52s/it]

Question: i need a flight from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 12%|█▏        | 52/447 [02:23<15:56,  2.42s/it]

Question: i need flight information from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 12%|█▏        | 53/447 [02:26<15:40,  2.39s/it]

Question: i need flights departing from city_name0 and arriving city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 12%|█▏        | 54/447 [02:28<15:26,  2.36s/it]

Question: i need information on flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 12%|█▏        | 55/447 [02:30<15:24,  2.36s/it]

Question: i need information on flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 13%|█▎        | 56/447 [02:32<15:06,  2.32s/it]

Question: i want a flight from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 13%|█▎        | 57/447 [02:35<15:53,  2.45s/it]

Question: i need information on flights between city_name0 and city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 13%|█▎        | 58/447 [02:37<15:35,  2.40s/it]

Question: i need the flight numbers of flights leaving from city_name0 and arriving at city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 13%|█▎        | 59/447 [02:40<15:13,  2.35s/it]

Question: show me flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 13%|█▎        | 60/447 [02:42<15:29,  2.40s/it]

Question: show me all flights from city_name0 to city_name1 please
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 14%|█▎        | 61/447 [02:44<15:13,  2.37s/it]

Question: show me the flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 14%|█▍        | 62/447 [02:47<15:13,  2.37s/it]

Question: city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 14%|█▍        | 63/447 [02:49<15:09,  2.37s/it]

Question: show me all flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 14%|█▍        | 64/447 [02:51<14:57,  2.34s/it]

Question: show me all flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 15%|█▍        | 65/447 [02:54<14:51,  2.33s/it]

Question: show me flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 15%|█▍        | 66/447 [02:56<14:37,  2.30s/it]

Question: show me flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 15%|█▍        | 67/447 [02:58<14:24,  2.27s/it]

Question: list flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 15%|█▌        | 68/447 [03:01<14:40,  2.32s/it]

Question: list flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 15%|█▌        | 69/447 [03:03<14:16,  2.27s/it]

Question: list flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 16%|█▌        | 70/447 [03:05<14:56,  2.38s/it]

Question: list flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 16%|█▌        | 71/447 [03:08<14:35,  2.33s/it]

Question: list flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 16%|█▌        | 72/447 [03:10<14:22,  2.30s/it]

Question: list flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 16%|█▋        | 73/447 [03:12<14:18,  2.29s/it]

Question: list flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 17%|█▋        | 74/447 [03:15<14:31,  2.34s/it]

Question: list flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 17%|█▋        | 75/447 [03:17<14:23,  2.32s/it]

Question: list flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 17%|█▋        | 76/447 [03:19<14:36,  2.36s/it]

Question: list flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 17%|█▋        | 77/447 [03:22<14:11,  2.30s/it]

Question: list flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 17%|█▋        | 78/447 [03:24<14:12,  2.31s/it]

Question: give me the flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 18%|█▊        | 79/447 [03:26<14:13,  2.32s/it]

Question: flight number from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 18%|█▊        | 80/447 [03:29<14:15,  2.33s/it]

Question: flight number from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 18%|█▊        | 81/447 [03:31<14:10,  2.32s/it]

Question: flight numbers from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 18%|█▊        | 82/447 [03:33<13:52,  2.28s/it]

Question: please list all the flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 19%|█▊        | 83/447 [03:35<13:50,  2.28s/it]

Question: tell me the flights that leave city_name0 and go to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 19%|█▉        | 84/447 [03:38<13:48,  2.28s/it]

Question: show me the flights between city_name0 and city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 19%|█▉        | 85/447 [03:40<14:19,  2.37s/it]

Question: show me the flights between city_name0 and city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 19%|█▉        | 86/447 [03:42<13:59,  2.32s/it]

Question: show me the flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 19%|█▉        | 87/447 [03:45<13:44,  2.29s/it]

Question: what flights go from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 20%|█▉        | 88/447 [03:47<13:41,  2.29s/it]

Question: what are the flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 20%|█▉        | 89/447 [03:49<13:22,  2.24s/it]

Question: what are the flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 20%|██        | 90/447 [03:51<13:13,  2.22s/it]

Question: what are the flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 20%|██        | 91/447 [03:54<13:26,  2.26s/it]

Question: what are the flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 21%|██        | 92/447 [03:56<13:23,  2.26s/it]

Question: what are the flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 21%|██        | 93/447 [03:58<13:25,  2.28s/it]

Question: please list the flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 21%|██        | 94/447 [04:00<13:13,  2.25s/it]

Question: please list the flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 21%|██▏       | 95/447 [04:03<13:17,  2.27s/it]

Question: please list the flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 21%|██▏       | 96/447 [04:05<13:12,  2.26s/it]

Question: i'd like to travel from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 22%|██▏       | 97/447 [04:07<13:12,  2.27s/it]

Question: like to book a flight from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 22%|██▏       | 98/447 [04:09<13:04,  2.25s/it]

Question: show me all the flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 22%|██▏       | 99/447 [04:12<12:52,  2.22s/it]

Question: find me all the flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 22%|██▏       | 100/447 [04:14<12:57,  2.24s/it]

Question: now show me all the flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 23%|██▎       | 101/447 [04:16<12:59,  2.25s/it]

Question: i want to book a flight from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 23%|██▎       | 102/447 [04:19<13:16,  2.31s/it]

Question: find me a flight that flies from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 23%|██▎       | 103/447 [04:21<13:42,  2.39s/it]

Question: i would like information on flights leaving from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 23%|██▎       | 104/447 [04:23<13:29,  2.36s/it]

Question: get fares from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 23%|██▎       | 105/447 [04:26<13:31,  2.37s/it]

Question: get fares from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 24%|██▎       | 106/447 [04:28<13:26,  2.37s/it]

Question: i need a ticket from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 24%|██▍       | 107/447 [04:30<13:10,  2.33s/it]

Question: please list all flights from city_name0 to city_name1 any any type of class
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 24%|██▍       | 108/447 [04:34<14:47,  2.62s/it]

Question: what are the flights from city_name2 to city_name1 that stop in city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FLIGHT_ID IN (SELECT FLIGHT_STOP.FLIGHT_ID FROM FLIGHT_STOP WHERE FLIGHT_STOP.STOP_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'))) AND FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name2')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , CITY AS CITYalias0 , CITY AS CITYalias1 , CITY AS CITYalias2 , FLIGHT AS FLIGHTalias0 , FLIGHT_STOP AS FLIGHT_STOPalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name1" AND FLIGHT_STOPalias0.STOP_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND FLIGHTalias0.FLIGHT_ID = FLIGHT_STOPalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name2" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 24%|██▍       | 109/447 [04:37<16:22,  2.91s/it]

Question: i need a flight from city_name2 to city_name1 that goes through city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name2')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.FLIGHT_ID IN (SELECT FLIGHT_STOP.FLIGHT_ID FROM FLIGHT_STOP WHERE FLIGHT_STOP.STOP_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , CITY AS CITYalias0 , CITY AS CITYalias1 , CITY AS CITYalias2 , FLIGHT AS FLIGHTalias0 , FLIGHT_STOP AS FLIGHT_STOPalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name1" AND FLIGHT_STOPalias0.STOP_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND FLIGHTalias0.FLIGHT_ID = FLIGHT_STOPalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name2" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 25%|██▍       | 110/447 [04:41<17:11,  3.06s/it]

Question: the flights from city_name2 to city_name1 that stop in city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FLIGHT_ID IN (SELECT FLIGHT_STOP.FLIGHT_ID FROM FLIGHT_STOP WHERE FLIGHT_STOP.STOP_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'))) AND FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name2')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , CITY AS CITYalias0 , CITY AS CITYalias1 , CITY AS CITYalias2 , FLIGHT AS FLIGHTalias0 , FLIGHT_STOP AS FLIGHT_STOPalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name1" AND FLIGHT_STOPalias0.STOP_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND FLIGHTalias0.FLIGHT_ID = FLIGHT_STOPalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name2" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 25%|██▍       | 111/447 [04:44<17:24,  3.11s/it]

Question: yes i'd like to find a flight from city_name2 to city_name1 stopping in city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name2')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.FLIGHT_ID IN (SELECT FLIGHT_STOP.FLIGHT_ID FROM FLIGHT_STOP WHERE FLIGHT_STOP.STOP_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , CITY AS CITYalias0 , CITY AS CITYalias1 , CITY AS CITYalias2 , FLIGHT AS FLIGHTalias0 , FLIGHT_STOP AS FLIGHT_STOPalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name1" AND FLIGHT_STOPalias0.STOP_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND FLIGHTalias0.FLIGHT_ID = FLIGHT_STOPalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name2" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 25%|██▌       | 112/447 [04:46<16:21,  2.93s/it]

Question: show me all airline_code0 flights from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 25%|██▌       | 113/447 [04:49<15:36,  2.81s/it]

Question: list airline_code0 flights from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 26%|██▌       | 114/447 [04:51<15:07,  2.72s/it]

Question: give me the flights from city_name1 to city_name0 on airline_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 26%|██▌       | 115/447 [04:54<14:48,  2.68s/it]

Question: flight numbers on airline_code0 from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 26%|██▌       | 116/447 [04:57<14:31,  2.63s/it]

Question: flight numbers from city_name1 to city_name0 on airline_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 26%|██▌       | 117/447 [04:59<14:17,  2.60s/it]

Question: flight numbers from city_name1 to city_name0 on airline_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 26%|██▋       | 118/447 [05:02<14:10,  2.59s/it]

Question: show airline_code0 from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 27%|██▋       | 119/447 [05:04<13:53,  2.54s/it]

Question: show airline_code0 flights from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 27%|██▋       | 120/447 [05:07<14:02,  2.58s/it]

Question: show airline_code0 flights from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 27%|██▋       | 121/447 [05:09<13:46,  2.53s/it]

Question: i would like a flight from city_name1 to city_name0 on airline_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 27%|██▋       | 122/447 [05:12<13:39,  2.52s/it]

Question: what are the airline_code0 flights from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 28%|██▊       | 123/447 [05:14<13:21,  2.47s/it]

Question: please list the flights from city_name1 to city_name0 on airline_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 28%|██▊       | 124/447 [05:16<13:19,  2.48s/it]

Question: i'd like to fly from city_name1 to city_name0 on airline_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 28%|██▊       | 125/447 [05:19<13:13,  2.46s/it]

Question: is there transport_type0 service at the airport_code0 airport
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = 'airport_code0' OR FLIGHT.TO_AIRPORT = 'airport_code0' AND EXISTS (SELECT DAY_NAME FROM DAYS WHERE DAYS.DAY_NAME = 'transport_type0') AND EXISTS (SELECT AIRPORT.AIRPORT_CODE FROM AIRPORT WHERE AIRPORT.AIRPORT_CODE = 'airport_code0');
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM AIRPORT AS AIRPORTalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" AND GROUND_SERVICEalias0.AIRPORT_CODE = AIRPORTalias0.AIRPORT_CODE AND GROUND_SERVICEalias0.TRANSPORT_TYPE = "transport_type0" ;
Incorrect

 28%|██▊       | 126/447 [05:22<13:39,  2.55s/it]

Question: how much is class_type0 flight from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'class_type0');
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FAREalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FAREalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FARE_BASISalias0.CLASS_TYPE = "class_type0" AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE ;
Incorrect

 28%|██▊       | 127/447 [05:25<15:17,  2.87s/it]

Question: which airlines fly between city_name0 and city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) UNION SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.AIRLINE_CODE = AIRLINEalias0.AIRLINE_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 29%|██▊       | 128/447 [05:28<14:18,  2.69s/it]

Question: list airlines that fly from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.AIRLINE_CODE = AIRLINEalias0.AIRLINE_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 29%|██▉       | 129/447 [05:30<14:20,  2.71s/it]

Question: which flights go from city_name1 to city_name0 and back
Predicted SQL: SELECT DISTINCT FLIGHT_ID FROM FLIGHT WHERE FROM_AIRPORT IN (SELECT AIRPORT_CODE FROM AIRPORT_SERVICE WHERE CITY_CODE IN (SELECT CITY_CODE FROM CITY WHERE CITY_NAME = 'city_name1')) AND TO_AIRPORT IN (SELECT AIRPORT_CODE FROM AIRPORT_SERVICE WHERE CITY_CODE IN (SELECT CITY_CODE FROM CITY WHERE CITY_NAME = 'city_name0')) INTERSECT SELECT DISTINCT FLIGHT_ID FROM FLIGHT WHERE FROM_AIRPORT IN (SELECT AIRPORT_CODE FROM AIRPORT_SERVICE WHERE CITY_CODE IN (SELECT CITY_CODE FROM CITY WHERE CITY_NAME = 'city_name0')) AND TO_AIRPORT IN (SELECT AIRPORT_CODE FROM AIRPORT_SERVICE WHERE CITY_CODE IN (SELECT CITY_CODE FROM CITY WHERE CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FAREalias0.ROUND_TRIP_COST IS NOT NULL AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 29%|██▉       | 130/447 [05:34<15:35,  2.95s/it]

Question: round trip flights from city_name1 to city_name0 please
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_ID IN (SELECT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FAREalias0.ROUND_TRIP_COST IS NOT NULL AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 29%|██▉       | 131/447 [05:37<16:34,  3.15s/it]

Question: show me round trip flights from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) INTERSECT SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FAREalias0.ROUND_TRIP_COST IS NOT NULL AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 30%|██▉       | 132/447 [05:41<17:04,  3.25s/it]

Question: show me round trip flights from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) INTERSECT SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FAREalias0.ROUND_TRIP_COST IS NOT NULL AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 30%|██▉       | 133/447 [05:45<18:16,  3.49s/it]

Question: show me round trips between city_name1 and city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.FLIGHT_ID IN (SELECT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FAREalias0.ROUND_TRIP_COST IS NOT NULL AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 30%|██▉       | 134/447 [05:49<18:28,  3.54s/it]

Question: show me round trip flights from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) INTERSECT SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FAREalias0.ROUND_TRIP_COST IS NOT NULL AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 30%|███       | 135/447 [05:52<18:29,  3.56s/it]

Question: show me round trip flights from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) INTERSECT SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FAREalias0.ROUND_TRIP_COST IS NOT NULL AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 30%|███       | 136/447 [05:56<18:32,  3.58s/it]

Question: i would like to book a round trip flight from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) INTERSECT SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FAREalias0.ROUND_TRIP_COST IS NOT NULL AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 31%|███       | 137/447 [05:59<17:44,  3.43s/it]

Question: city_name1 to city_name0 economy
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'ECONOMY');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FARE_BASISalias0.ECONOMY = "economy0" AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 31%|███       | 138/447 [06:02<16:36,  3.23s/it]

Question: city_name1 to city_name0 economy
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'ECONOMY');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FARE_BASISalias0.ECONOMY = "economy0" AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 31%|███       | 139/447 [06:04<15:48,  3.08s/it]

Question: city_name1 to city_name0 economy
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'ECONOMY');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FARE_BASISalias0.ECONOMY = "economy0" AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 31%|███▏      | 140/447 [06:07<15:25,  3.01s/it]

Question: city_name1 to city_name0 economy
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'ECONOMY');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FARE_BASISalias0.ECONOMY = "economy0" AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 32%|███▏      | 141/447 [06:10<15:04,  2.96s/it]

Question: city_name1 to city_name0 economy
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'ECONOMY');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FARE_BASISalias0.ECONOMY = "economy0" AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 32%|███▏      | 142/447 [06:13<14:11,  2.79s/it]

Question: what types of ground transportation are available in city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) OR FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE ;
Incorrect

 32%|███▏      | 143/447 [06:15<13:52,  2.74s/it]

Question: is ground transportation available in city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0') AND AIRPORT_SERVICE.GROUND_TRANSPORTATION = 'YES') OR FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0') AND AIRPORT_SERVICE.GROUND_TRANSPORTATION = 'YES');
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE ;
Incorrect

 32%|███▏      | 144/447 [06:18<13:22,  2.65s/it]

Question: ground transportation in city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) OR FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE ;
Incorrect

 32%|███▏      | 145/447 [06:20<12:53,  2.56s/it]

Question: ground transportation for city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) OR FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE ;
Incorrect

 33%|███▎      | 146/447 [06:22<12:42,  2.53s/it]

Question: show me ground transportation in city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) OR FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE ;
Incorrect

 33%|███▎      | 147/447 [06:25<12:38,  2.53s/it]

Question: show me ground transportation in city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) OR FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE ;
Incorrect

 33%|███▎      | 148/447 [06:27<12:15,  2.46s/it]

Question: what ground transportation is there in city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) OR FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE ;
Incorrect

 33%|███▎      | 149/447 [06:30<12:04,  2.43s/it]

Question: list ground transportation in city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) OR FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE ;
Incorrect

 34%|███▎      | 150/447 [06:32<12:24,  2.51s/it]

Question: is there ground transportation available at the city_name0 airport
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0') AND AIRPORT_SERVICE.GROUND_TRANSPORTATION = 'YES') OR FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0') AND AIRPORT_SERVICE.GROUND_TRANSPORTATION = 'YES');
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE ;
Incorrect

 34%|███▍      | 151/447 [06:35<12:43,  2.58s/it]

Question: is there ground transportation available at the city_name0 airport
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) OR FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_ID IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.GROUND_TRANSPORTATION = 'YES');
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE ;
Incorrect

 34%|███▍      | 152/447 [06:38<13:39,  2.78s/it]

Question: is there ground transportation available at the city_name0 airport
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) OR FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND EXISTS (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.AIRPORT_GROUND_TRANSPORTATION = 'YES' AND AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE ;
Incorrect

 34%|███▍      | 153/447 [06:41<12:58,  2.65s/it]

Question: is there ground transportation available at the city_name0 airport
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) OR FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE ;
Incorrect

 34%|███▍      | 154/447 [06:44<13:46,  2.82s/it]

Question: tell me about the ground transportation from city_name0 airport
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) OR FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE ;
Incorrect

 35%|███▍      | 155/447 [06:46<13:14,  2.72s/it]

Question: what type of ground transportation is there at the city_name0 airport
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) OR FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE ;
Incorrect

 35%|███▍      | 156/447 [06:49<13:04,  2.70s/it]

Question: show me the cheapest one way flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.FLIGHT_ID = (SELECT FARE.FLIGHT_ID FROM FARE ORDER BY FARE.FARE_AMOUNT ASC LIMIT 1);
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FAREalias0.ONE_DIRECTION_COST = ( SELECT MIN( FAREalias1.ONE_DIRECTION_COST ) FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 , CITY AS CITYalias2 , CITY AS CITYalias3 , FARE AS FAREalias1 , FLIGHT AS FLIGHTalias1 , FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name0" AND CITYalias3.CITY_CODE = AIRPORT_SERVICEalias3.CITY_CODE AND CITYalias3.CITY_NAME = "city_name1" AND FAREalias1.ROUND_TRIP_REQUIRED = "round_trip_required0" AND FLIGHT_FAREalias1.FARE_ID = FAREalias1.FARE_ID AND FLIGHTalias1.FLIGHT_ID = FLIGHT_FAREalias1.FLIGHT_ID AND FLIGHTalias1.FROM_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND FLIGHTalias1.TO_AIRPORT = AIRPORT_SERVICEalias3.AIRPORT_CODE ) AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 35%|███▌      | 157/447 [06:52<13:23,  2.77s/it]

Question: show me the cheapest one way flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME IN (SELECT DAYS.DAY_NAME FROM DAYS)) ORDER BY FLIGHT.PRICE ASC LIMIT 1;
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FAREalias0.ONE_DIRECTION_COST = ( SELECT MIN( FAREalias1.ONE_DIRECTION_COST ) FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 , CITY AS CITYalias2 , CITY AS CITYalias3 , FARE AS FAREalias1 , FLIGHT AS FLIGHTalias1 , FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name0" AND CITYalias3.CITY_CODE = AIRPORT_SERVICEalias3.CITY_CODE AND CITYalias3.CITY_NAME = "city_name1" AND FAREalias1.ROUND_TRIP_REQUIRED = "round_trip_required0" AND FLIGHT_FAREalias1.FARE_ID = FAREalias1.FARE_ID AND FLIGHTalias1.FLIGHT_ID = FLIGHT_FAREalias1.FLIGHT_ID AND FLIGHTalias1.FROM_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND FLIGHTalias1.TO_AIRPORT = AIRPORT_SERVICEalias3.AIRPORT_CODE ) AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 35%|███▌      | 158/447 [06:54<12:51,  2.67s/it]

Question: show me nonstop flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.NUM_STOPS = 0;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.STOPS = stops0 ;
Incorrect

 36%|███▌      | 159/447 [06:57<12:31,  2.61s/it]

Question: show me nonstop flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.STOPS = 0;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.STOPS = stops0 ;
Incorrect

 36%|███▌      | 160/447 [06:59<12:11,  2.55s/it]

Question: show me nonstop flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.NUM_STOPS = 0;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.STOPS = stops0 ;
Incorrect

 36%|███▌      | 161/447 [07:02<12:12,  2.56s/it]

Question: show me the nonstop flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.FLIGHT_ID NOT IN (SELECT FLIGHT_STOP.FLIGHT_ID FROM FLIGHT_STOP);
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.STOPS = stops0 ;
Incorrect

 36%|███▌      | 162/447 [07:05<12:38,  2.66s/it]

Question: give me the flights from city_name0 to city_name1 nonstop
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.NUM_STOPS = 0;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.STOPS = stops0 ;
Incorrect

 36%|███▋      | 163/447 [07:07<12:29,  2.64s/it]

Question: give me the flights from city_name0 to city_name1 nonstop
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.STOPS = 0;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.STOPS = stops0 ;
Incorrect

 37%|███▋      | 164/447 [07:10<12:52,  2.73s/it]

Question: what are the nonstop flights between city_name0 and city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME IN (SELECT DAYS.DAY_NAME FROM DAYS));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.STOPS = stops0 ;
Incorrect

 37%|███▋      | 165/447 [07:13<12:35,  2.68s/it]

Question: city_name1 to city_name0 one way before departure_time0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.DEPARTURE_TIME < 'departure_time0';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( FAREalias0.ROUND_TRIP_REQUIRED = "round_trip_required0" AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 37%|███▋      | 166/447 [07:16<13:16,  2.83s/it]

Question: show me one way flights from city_name1 to city_name0 before departure_time0 on any day
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.DEPARTURE_TIME < 'departure_time0';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( FAREalias0.ROUND_TRIP_REQUIRED = "round_trip_required0" AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 37%|███▋      | 167/447 [07:19<12:50,  2.75s/it]

Question: i need a flight from city_name1 to city_name0 that leaves before departure_time0 see if too much information
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.DEPARTURE_TIME < departure_time0;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 38%|███▊      | 168/447 [07:21<12:46,  2.75s/it]

Question: please list only the flights from city_name1 to city_name0 that leave before departure_time0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.DEPARTURE_TIME < 'departure_time0';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 38%|███▊      | 169/447 [07:26<15:57,  3.44s/it]

Question: list flights before departure_time0 from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.DEPARTURE_TIME  <  'departure_time0';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 38%|███▊      | 170/447 [07:29<14:41,  3.18s/it]

Question: list flights from city_name1 to city_name0 before departure_time0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.DEPARTURE_TIME  <  'departure_time0';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 38%|███▊      | 171/447 [07:31<13:44,  2.99s/it]

Question: city_name1 to city_name0 before departure_time0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.DEPARTURE_TIME  <  'departure_time0';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 38%|███▊      | 172/447 [07:34<13:00,  2.84s/it]

Question: list the flights from city_name1 to city_name0 that leave before departure_time0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.DEPARTURE_TIME < departure_time0;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 39%|███▊      | 173/447 [07:37<12:37,  2.76s/it]

Question: what type of aircraft are flying from city_name1 to city_name0 before departure_time0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.DEPARTURE_TIME < 'departure_time0';
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.BASIC_TYPE FROM AIRCRAFT AS AIRCRAFTalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , EQUIPMENT_SEQUENCE AS EQUIPMENT_SEQUENCEalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND EQUIPMENT_SEQUENCEalias0.AIRCRAFT_CODE = AIRCRAFTalias0.AIRCRAFT_CODE AND FLIGHTalias0.AIRCRAFT_CODE_SEQUENCE = EQUIPMENT_SEQUENCEalias0.AIRCRAFT_CODE_SEQUENCE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 39%|███▉      | 174/447 [07:38<10:26,  2.29s/it]

Question: what are restrictions restriction_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.RESTRICTION_CODE = 'restriction_code0';
Correct SQL: SELECT DISTINCT RESTRICTIONalias0.ADVANCE_PURCHASE , RESTRICTIONalias0.APPLICATION , RESTRICTIONalias0.MAXIMUM_STAY , RESTRICTIONalias0.MINIMUM_STAY , RESTRICTIONalias0.NO_DISCOUNTS , RESTRICTIONalias0.RESTRICTION_CODE , RESTRICTIONalias0.SATURDAY_STAY_REQUIRED , RESTRICTIONalias0.STOPOVERS FROM RESTRICTION AS RESTRICTIONalias0 WHERE RESTRICTIONalias0.RESTRICTION_CODE = "restriction_code0" ;
Incorrect

 39%|███▉      | 175/447 [07:39<09:39,  2.13s/it]

Question: what does the restriction ap58 mean
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.RESTRICTION_CODE  =  'AP58';
Correct SQL: SELECT DISTINCT RESTRICTIONalias0.ADVANCE_PURCHASE , RESTRICTIONalias0.APPLICATION , RESTRICTIONalias0.MAXIMUM_STAY , RESTRICTIONalias0.MINIMUM_STAY , RESTRICTIONalias0.NO_DISCOUNTS , RESTRICTIONalias0.RESTRICTION_CODE , RESTRICTIONalias0.SATURDAY_STAY_REQUIRED , RESTRICTIONalias0.STOPOVERS FROM RESTRICTION AS RESTRICTIONalias0 WHERE RESTRICTIONalias0.RESTRICTION_CODE = "restriction_code0" ;
Incorrect

 39%|███▉      | 176/447 [07:43<11:04,  2.45s/it]

Question: tell me again the morning flights on airline_code0 from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.DEPARTURE_TIME < 1200 AND FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ;
Incorrect

 40%|███▉      | 177/447 [07:48<14:31,  3.23s/it]

Question: what is the earliest arriving flight from city_name0 to city_name1 state_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1' AND CITY.STATE_CODE = 'state_code0')) ORDER BY FLIGHT.ARRIVAL_TIME ASC LIMIT 1;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias3.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 WHERE AIRPORT_SERVICEalias3.CITY_CODE IN ( SELECT CITYalias3.CITY_CODE FROM CITY AS CITYalias3 WHERE ( CITYalias3.CITY_NAME = "city_name1" AND CITYalias3.STATE_CODE = "state_code0" ) ) ) ) AND FLIGHTalias0.ARRIVAL_TIME = ( SELECT MIN( FLIGHTalias1.ARRIVAL_TIME ) FROM FLIGHT AS FLIGHTalias1 WHERE ( FLIGHTalias1.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias1.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE ( CITYalias1.CITY_NAME = "city_name1" AND CITYalias1.STATE_CODE = "state_code0" ) ) ) ) ) ) ;
Incorrect

 40%|███▉      | 178/447 [07:50<13:42,  3.06s/it]

Question: what is the earliest arriving flight between city_name0 and city_name1 state_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0' AND CITY.STATE_CODE = 'state_code0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) ORDER BY FLIGHT.ARRIVAL_TIME ASC LIMIT 1;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias3.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 WHERE AIRPORT_SERVICEalias3.CITY_CODE IN ( SELECT CITYalias3.CITY_CODE FROM CITY AS CITYalias3 WHERE ( CITYalias3.CITY_NAME = "city_name1" AND CITYalias3.STATE_CODE = "state_code0" ) ) ) ) AND FLIGHTalias0.ARRIVAL_TIME = ( SELECT MIN( FLIGHTalias1.ARRIVAL_TIME ) FROM FLIGHT AS FLIGHTalias1 WHERE ( FLIGHTalias1.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias1.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE ( CITYalias1.CITY_NAME = "city_name1" AND CITYalias1.STATE_CODE = "state_code0" ) ) ) ) ) ) ;
Incorrect

 40%|████      | 179/447 [07:53<13:03,  2.92s/it]

Question: what 's the earliest arriving flight between city_name0 and city_name1 state_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0' AND CITY.STATE_CODE = 'state_code0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) ORDER BY FLIGHT.ARRIVAL_TIME ASC LIMIT 1;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias3.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 WHERE AIRPORT_SERVICEalias3.CITY_CODE IN ( SELECT CITYalias3.CITY_CODE FROM CITY AS CITYalias3 WHERE ( CITYalias3.CITY_NAME = "city_name1" AND CITYalias3.STATE_CODE = "state_code0" ) ) ) ) AND FLIGHTalias0.ARRIVAL_TIME = ( SELECT MIN( FLIGHTalias1.ARRIVAL_TIME ) FROM FLIGHT AS FLIGHTalias1 WHERE ( FLIGHTalias1.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias1.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE ( CITYalias1.CITY_NAME = "city_name1" AND CITYalias1.STATE_CODE = "state_code0" ) ) ) ) ) ) ;
Incorrect

 40%|████      | 180/447 [07:55<12:23,  2.79s/it]

Question: what is the earliest arriving flight from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) ORDER BY FLIGHT.ARRIVAL_TIME ASC LIMIT 1;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.ARRIVAL_TIME = ( SELECT MIN( FLIGHTalias1.ARRIVAL_TIME ) FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 , CITY AS CITYalias2 , CITY AS CITYalias3 , FLIGHT AS FLIGHTalias1 WHERE CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name0" AND CITYalias3.CITY_CODE = AIRPORT_SERVICEalias3.CITY_CODE AND CITYalias3.CITY_NAME = "city_name1" AND FLIGHTalias1.FROM_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND FLIGHTalias1.TO_AIRPORT = AIRPORT_SERVICEalias3.AIRPORT_CODE ) AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 40%|████      | 181/447 [07:58<11:55,  2.69s/it]

Question: what is the earliest arriving flight from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) ORDER BY FLIGHT.ARRIVAL_TIME ASC LIMIT 1;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.ARRIVAL_TIME = ( SELECT MIN( FLIGHTalias1.ARRIVAL_TIME ) FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 , CITY AS CITYalias2 , CITY AS CITYalias3 , FLIGHT AS FLIGHTalias1 WHERE CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name0" AND CITYalias3.CITY_CODE = AIRPORT_SERVICEalias3.CITY_CODE AND CITYalias3.CITY_NAME = "city_name1" AND FLIGHTalias1.FROM_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND FLIGHTalias1.TO_AIRPORT = AIRPORT_SERVICEalias3.AIRPORT_CODE ) AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 41%|████      | 182/447 [08:01<12:54,  2.92s/it]

Question: what are the fares for flights between city_name0 and city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) OR FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND CITYalias1.STATE_CODE = "state_code0" AND FAREalias0.ROUND_TRIP_COST IS NOT NULL AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 41%|████      | 183/447 [08:03<11:21,  2.58s/it]

Question: what is airport_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = 'airport_code0' OR FLIGHT.TO_AIRPORT = 'airport_code0';
Correct SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" ;
Incorrect

 41%|████      | 184/447 [08:05<10:07,  2.31s/it]

Question: what is airport_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = 'airport_code0' OR FLIGHT.TO_AIRPORT = 'airport_code0';
Correct SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" ;
Incorrect

 41%|████▏     | 185/447 [08:08<10:36,  2.43s/it]

Question: i need a flight_days0 flight from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'flight_days0');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.FLIGHT_DAYS = "flight_days0" ;
Incorrect

 42%|████▏     | 186/447 [08:09<09:07,  2.10s/it]

Question: what does fare code fare_basis_code0 mean
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FARE_BASIS_CODE = 'fare_basis_code0';
Correct SQL: SELECT DISTINCT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.FARE_BASIS_CODE = "fare_basis_code0" ;
Incorrect

 42%|████▏     | 187/447 [08:10<08:09,  1.88s/it]

Question: what does fare code fare_basis_code0 mean
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FARE_BASIS_CODE = 'fare_basis_code0';
Correct SQL: SELECT DISTINCT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.FARE_BASIS_CODE = "fare_basis_code0" ;
Incorrect

 42%|████▏     | 188/447 [08:11<07:16,  1.68s/it]

Question: what does fare code fare_basis_code0 mean
Predicted SQL: SELECT DISTINCT FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FARE_BASIS_CODE = 'fare_basis_code0';
Correct SQL: SELECT DISTINCT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.FARE_BASIS_CODE = "fare_basis_code0" ;
Incorrect

 42%|████▏     | 189/447 [08:13<06:50,  1.59s/it]

Question: what does fare code fare_basis_code0 mean
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FARE_BASIS_CODE = 'fare_basis_code0';
Correct SQL: SELECT DISTINCT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.FARE_BASIS_CODE = "fare_basis_code0" ;
Incorrect

 43%|████▎     | 190/447 [08:15<07:24,  1.73s/it]

Question: what does fare code fare_basis_code0 mean
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FARE_BASIS_CODE = 'fare_basis_code0';
Correct SQL: SELECT DISTINCT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.FARE_BASIS_CODE = "fare_basis_code0" ;
Incorrect

 43%|████▎     | 191/447 [08:16<06:45,  1.59s/it]

Question: what does fare code fare_basis_code0 mean
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FARE_BASIS_CODE = 'fare_basis_code0';
Correct SQL: SELECT DISTINCT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.FARE_BASIS_CODE = "fare_basis_code0" ;
Incorrect

 43%|████▎     | 192/447 [08:18<06:47,  1.60s/it]

Question: what does fare code fare_basis_code0 mean
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FARE_BASIS_CODE = 'fare_basis_code0';
Correct SQL: SELECT DISTINCT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.FARE_BASIS_CODE = "fare_basis_code0" ;
Incorrect

 43%|████▎     | 193/447 [08:20<07:48,  1.84s/it]

Question: show me flights from city_name0 to city_name1 one way
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FAREalias0.ROUND_TRIP_REQUIRED = "round_trip_required0" AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 43%|████▎     | 194/447 [08:23<08:23,  1.99s/it]

Question: list flights from city_name1 to city_name0 after departure_time0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.DEPARTURE_TIME >= 'departure_time0';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 44%|████▎     | 195/447 [08:25<09:02,  2.15s/it]

Question: city_name1 to city_name0 after 1201am
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.DEPARTURE_TIME > 1201;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 44%|████▍     | 196/447 [08:28<09:31,  2.28s/it]

Question: what cities does airline_code0 fly out of
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME IN (SELECT AIRPORT_SERVICE.CITY_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.AIRPORT_CODE IN (SELECT FLIGHT.FROM_AIRPORT FROM FLIGHT WHERE FLIGHT.AIRLINE_CODE = 'airline_code0'))));
Correct SQL: SELECT DISTINCT CITYalias0.CITY_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 44%|████▍     | 197/447 [08:31<10:19,  2.48s/it]

Question: list the cities from which airline_code0 flies
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME IN (SELECT AIRPORT_SERVICE.CITY_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.AIRPORT_CODE IN (SELECT FLIGHT.FROM_AIRPORT FROM FLIGHT WHERE FLIGHT.AIRLINE_CODE = 'airline_code0') AND AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY)))) AND FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT DISTINCT CITYalias0.CITY_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 44%|████▍     | 198/447 [08:32<09:20,  2.25s/it]

Question: what cities does airline_code0 fly to
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRLINE_CODE = 'airline_code0' AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY));
Correct SQL: SELECT DISTINCT CITYalias0.CITY_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 45%|████▍     | 199/447 [08:34<08:13,  1.99s/it]

Question: what the abbreviation airline_code0 stand for
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 45%|████▍     | 200/447 [08:35<07:18,  1.77s/it]

Question: what airline is airline_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRLINE = 'airline_code0';
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 45%|████▍     | 201/447 [08:36<06:42,  1.64s/it]

Question: which airline is airline_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 45%|████▌     | 202/447 [08:38<06:16,  1.54s/it]

Question: what airline is airline_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 45%|████▌     | 203/447 [08:39<05:51,  1.44s/it]

Question: what airline is airline_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 46%|████▌     | 204/447 [08:40<05:43,  1.41s/it]

Question: which airline is airline_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 46%|████▌     | 205/447 [08:41<05:26,  1.35s/it]

Question: which airline is airline_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRLINE = 'airline_code0';
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 46%|████▌     | 206/447 [08:43<05:12,  1.30s/it]

Question: which airline is airline_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRLINE = 'airline_code0';
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 46%|████▋     | 207/447 [08:44<05:12,  1.30s/it]

Question: which airline is airline_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 47%|████▋     | 208/447 [08:45<05:07,  1.29s/it]

Question: what airline is airline_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRLINE = 'airline_code0';
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 47%|████▋     | 209/447 [08:47<05:24,  1.37s/it]

Question: what airline is airline_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRLINE = 'airline_code0';
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 47%|████▋     | 210/447 [08:48<05:33,  1.41s/it]

Question: what airline is airline_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRLINE = 'airline_code0';
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 47%|████▋     | 211/447 [08:49<05:25,  1.38s/it]

Question: what airline is airline_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 47%|████▋     | 212/447 [08:51<05:16,  1.35s/it]

Question: what airline is airline_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 48%|████▊     | 213/447 [08:52<05:09,  1.32s/it]

Question: what airline is airline_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 48%|████▊     | 214/447 [08:53<04:54,  1.26s/it]

Question: what airline is a s airline_code0 in sam
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRLINE = 'airline_code0';
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 48%|████▊     | 215/447 [08:54<04:51,  1.26s/it]

Question: what airline is airline_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 48%|████▊     | 216/447 [08:56<04:46,  1.24s/it]

Question: which airline is airline_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 49%|████▊     | 217/447 [08:59<06:47,  1.77s/it]

Question: city_name1 to city_name0 on wednesday arriving before arrival_time0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'WEDNESDAY') AND FLIGHT.ARRIVAL_TIME < 'arrival_time0';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.ARRIVAL_TIME < arrival_time0 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 49%|████▉     | 218/447 [09:01<07:21,  1.93s/it]

Question: list airports in city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) OR FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 WHERE AIRPORTalias0.AIRPORT_CODE = AIRPORT_SERVICEalias0.AIRPORT_CODE AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" ;
Incorrect

 49%|████▉     | 219/447 [09:03<07:41,  2.03s/it]

Question: list airports in city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) OR FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 WHERE AIRPORTalias0.AIRPORT_CODE = AIRPORT_SERVICEalias0.AIRPORT_CODE AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" ;
Incorrect

 49%|████▉     | 220/447 [09:05<07:55,  2.10s/it]

Question: list airports in city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) OR FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 WHERE AIRPORTalias0.AIRPORT_CODE = AIRPORT_SERVICEalias0.AIRPORT_CODE AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" ;
Incorrect

 49%|████▉     | 221/447 [09:08<08:14,  2.19s/it]

Question: list the airports in city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) OR FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 WHERE AIRPORTalias0.AIRPORT_CODE = AIRPORT_SERVICEalias0.AIRPORT_CODE AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" ;
Incorrect

 50%|████▉     | 222/447 [09:10<08:19,  2.22s/it]

Question: tell me all the airports near city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) OR FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 WHERE AIRPORTalias0.AIRPORT_CODE = AIRPORT_SERVICEalias0.AIRPORT_CODE AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" ;
Incorrect

 50%|████▉     | 223/447 [09:13<08:45,  2.34s/it]

Question: tell me all the airports in the city_name0 area
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) OR FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 WHERE AIRPORTalias0.AIRPORT_CODE = AIRPORT_SERVICEalias0.AIRPORT_CODE AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" ;
Incorrect

 50%|█████     | 224/447 [09:14<07:58,  2.14s/it]

Question: i need to transport_type0 at city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE ( GROUND_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) AND GROUND_SERVICEalias0.TRANSPORT_TYPE = "transport_type0" ) ;
Incorrect

 50%|█████     | 225/447 [09:18<09:15,  2.50s/it]

Question: i would like a flight that leaves on sunday from city_name1 state_name1 to city_name0 state_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1' AND CITY.STATE_CODE IN (SELECT STATE.STATE_CODE FROM STATE WHERE STATE.STATE_NAME = 'state_name1'))) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0' AND CITY.STATE_CODE IN (SELECT STATE.STATE_CODE FROM STATE WHERE STATE.STATE_NAME = 'state_name0'))) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_CODE FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'SUNDAY');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 , STATE AS STATEalias0 , STATE AS STATEalias1 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE AND STATEalias1.STATE_CODE = CITYalias1.STATE_CODE AND STATEalias1.STATE_NAME = "state_name0" ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND STATEalias0.STATE_CODE = CITYalias0.STATE_CODE AND STATEalias0.STATE_NAME = "state_name1" ;
Incorrect

 51%|█████     | 226/447 [09:21<10:02,  2.73s/it]

Question: what are the flights from city_name1 state_name1 to city_name0 state_name0 on tuesday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1' AND CITY.STATE_CODE IN (SELECT STATE.STATE_CODE FROM STATE WHERE STATE.STATE_NAME = 'state_name1'))) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0' AND CITY.STATE_CODE IN (SELECT STATE.STATE_CODE FROM STATE WHERE STATE.STATE_NAME = 'state_name0'))) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_CODE FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'TUESDAY');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 , STATE AS STATEalias0 , STATE AS STATEalias1 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE AND STATEalias1.STATE_CODE = CITYalias1.STATE_CODE AND STATEalias1.STATE_NAME = "state_name0" ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND STATEalias0.STATE_CODE = CITYalias0.STATE_CODE AND STATEalias0.STATE_NAME = "state_name1" ;
Incorrect

 51%|█████     | 227/447 [09:22<08:35,  2.34s/it]

Question: what does fare code booking_class0 mean
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FLIGHT_ID IN (SELECT FARE.FLIGHT_ID FROM FARE WHERE FARE.FARE_BASECODE = 'booking_class0');
Correct SQL: SELECT DISTINCT CLASS_OF_SERVICEalias0.BOOKING_CLASS FROM CLASS_OF_SERVICE AS CLASS_OF_SERVICEalias0 WHERE CLASS_OF_SERVICEalias0.BOOKING_CLASS = "booking_class0" ;
Incorrect

 51%|█████     | 228/447 [09:24<07:54,  2.17s/it]

Question: what does fare code booking_class0 mean
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FLIGHT_ID IN (SELECT FARE.FLIGHT_ID FROM FARE WHERE FARE.FARE_BASIS_CODE = 'booking_class0');
Correct SQL: SELECT DISTINCT CLASS_OF_SERVICEalias0.BOOKING_CLASS FROM CLASS_OF_SERVICE AS CLASS_OF_SERVICEalias0 WHERE CLASS_OF_SERVICEalias0.BOOKING_CLASS = "booking_class0" ;
Incorrect

 51%|█████     | 229/447 [09:25<06:45,  1.86s/it]

Question: what does fare code booking_class0 mean
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FARE_CODE = 'booking_class0';
Correct SQL: SELECT DISTINCT CLASS_OF_SERVICEalias0.BOOKING_CLASS FROM CLASS_OF_SERVICE AS CLASS_OF_SERVICEalias0 WHERE CLASS_OF_SERVICEalias0.BOOKING_CLASS = "booking_class0" ;
Incorrect

 51%|█████▏    | 230/447 [09:27<06:00,  1.66s/it]

Question: what does fare code booking_class0 mean
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FARE_CODE = 'booking_class0';
Correct SQL: SELECT DISTINCT CLASS_OF_SERVICEalias0.BOOKING_CLASS FROM CLASS_OF_SERVICE AS CLASS_OF_SERVICEalias0 WHERE CLASS_OF_SERVICEalias0.BOOKING_CLASS = "booking_class0" ;
Incorrect

 52%|█████▏    | 231/447 [09:28<05:46,  1.60s/it]

Question: what class is fare code booking_class0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FARE_CODE = 'booking_class0';
Correct SQL: SELECT DISTINCT CLASS_OF_SERVICEalias0.BOOKING_CLASS FROM CLASS_OF_SERVICE AS CLASS_OF_SERVICEalias0 WHERE CLASS_OF_SERVICEalias0.BOOKING_CLASS = "booking_class0" ;
Incorrect

 52%|█████▏    | 232/447 [09:30<06:38,  1.85s/it]

Question: list the airlines with flights to or from city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) OR FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = AIRLINEalias0.AIRLINE_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 52%|█████▏    | 233/447 [09:32<06:41,  1.88s/it]

Question: how many airline_code0 flights leave city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT COUNT( DISTINCT FLIGHTalias0.FLIGHT_ID ) FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 52%|█████▏    | 234/447 [09:38<10:13,  2.88s/it]

Question: list airfares for class_type0 class round trip from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT F.FLIGHT_ID FROM FLIGHT AS F WHERE F.FLIGHT_ID IN (SELECT FA.FLIGHT_ID FROM FARE AS FA WHERE FA.CLASS = 'class_type0' AND FA.ROUND_TRIP_REQUIRED = 'YES' AND FA.FLIGHT_ID IN (SELECT F0.FLIGHT_ID FROM FLIGHT AS F0, AIRPORT_SERVICE AS AS0, CITY AS C0 WHERE F0.FROM_AIRPORT = AS0.AIRPORT_CODE AND AS0.CITY_CODE = C0.CITY_CODE AND C0.CITY_NAME = 'city_name0' AND F0.TO_AIRPORT IN (SELECT AS1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AS1, CITY AS C1 WHERE AS1.CITY_CODE = C1.CITY_CODE AND C1.CITY_NAME = 'city_name1'))) AND F.FLIGHT_ID IN (SELECT F1.FLIGHT_ID FROM FLIGHT AS F1, AIRPORT_SERVICE AS AS2, CITY AS C2 WHERE F1.FROM_AIRPORT = AS2.AIRPORT_CODE AND AS2.CITY_CODE = C2.CITY_CODE AND C2.CITY_NAME = 'city_name1' AND F1.TO_AIRPORT IN (SELECT AS3.AIRPORT_CODE FROM AIRPORT_SERVICE AS AS3, CITY AS C3 WHERE AS3.CITY_CODE = C3.CITY_CODE AND C3.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FAREalias0.ROUND_TRIP_COST IS NOT NULL AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FARE_BASISalias0.CLASS_TYPE = "class_type0" AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE ;
Incorrect

 53%|█████▎    | 235/447 [09:42<12:00,  3.40s/it]

Question: list class_type0 round trip airfare from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.FLIGHT_DAYS = (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'class_type0') AND FLIGHT.FLIGHT_ID IN (SELECT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS = (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'class_type0'));
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FAREalias0.ROUND_TRIP_COST IS NOT NULL AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FARE_BASISalias0.CLASS_TYPE = "class_type0" AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE ;
Incorrect

 53%|█████▎    | 236/447 [09:46<12:52,  3.66s/it]

Question: show me the cost of a class_type0 class ticket from city_name0 to city_name1 and back
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FLIGHT_ID IN (SELECT FARE.FLIGHT_ID FROM FARE WHERE FARE.CLASS = 'class_type0') AND FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) INTERSECT SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FLIGHT_ID IN (SELECT FARE.FLIGHT_ID FROM FARE WHERE FARE.CLASS = 'class_type0') AND FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FAREalias0.ROUND_TRIP_COST IS NOT NULL AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FARE_BASISalias0.CLASS_TYPE = "class_type0" AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE ;
Incorrect

 53%|█████▎    | 237/447 [09:48<10:48,  3.09s/it]

Question: list all flights departing from city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 53%|█████▎    | 238/447 [09:51<10:21,  2.98s/it]

Question: i need the fares on flights from city_name1 to city_name0 on a day_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_CODE FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'day_name0');
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DAYS AS DAYSalias0 , DAYS AS DAYSalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DAYSalias1.DAY_NAME = "day_name0" AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias1.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND DAYSalias0.DAY_NAME = "day_name0" AND FARE_BASISalias0.BASIS_DAYS = DAYSalias0.DAYS_CODE AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 53%|█████▎    | 239/447 [09:54<10:08,  2.93s/it]

Question: get day_name0 fares from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'day_name0');
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DAYS AS DAYSalias0 , DAYS AS DAYSalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DAYSalias1.DAY_NAME = "day_name0" AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias1.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND DAYSalias0.DAY_NAME = "day_name0" AND FARE_BASISalias0.BASIS_DAYS = DAYSalias0.DAYS_CODE AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 54%|█████▎    | 240/447 [09:57<10:22,  3.01s/it]

Question: get day_name0 fares from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_CODE FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'day_name0');
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DAYS AS DAYSalias0 , DAYS AS DAYSalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DAYSalias1.DAY_NAME = "day_name0" AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias1.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND DAYSalias0.DAY_NAME = "day_name0" AND FARE_BASISalias0.BASIS_DAYS = DAYSalias0.DAYS_CODE AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 54%|█████▍    | 241/447 [10:00<10:12,  2.97s/it]

Question: get day_name0 fares from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'day_name0');
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DAYS AS DAYSalias0 , DAYS AS DAYSalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DAYSalias1.DAY_NAME = "day_name0" AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias1.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND DAYSalias0.DAY_NAME = "day_name0" AND FARE_BASISalias0.BASIS_DAYS = DAYSalias0.DAYS_CODE AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 54%|█████▍    | 242/447 [10:03<10:04,  2.95s/it]

Question: get the day_name0 fare from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_CODE FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'day_name0');
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DAYS AS DAYSalias0 , DAYS AS DAYSalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DAYSalias1.DAY_NAME = "day_name0" AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias1.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND DAYSalias0.DAY_NAME = "day_name0" AND FARE_BASISalias0.BASIS_DAYS = DAYSalias0.DAYS_CODE AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 54%|█████▍    | 243/447 [10:05<09:50,  2.89s/it]

Question: get first flight from city_name1 to city_name0 on thursday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'THURSDAY');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias3.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 WHERE AIRPORT_SERVICEalias3.CITY_CODE IN ( SELECT CITYalias3.CITY_CODE FROM CITY AS CITYalias3 WHERE CITYalias3.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME = ( SELECT MIN( FLIGHTalias1.DEPARTURE_TIME ) FROM FLIGHT AS FLIGHTalias1 WHERE ( ( FLIGHTalias1.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias1.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias1.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ) ) ;
Incorrect

 55%|█████▍    | 244/447 [10:07<08:50,  2.61s/it]

Question: list the airline_code0 flights from city_name0 to anywhere
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 55%|█████▍    | 245/447 [10:10<08:18,  2.47s/it]

Question: list the airline_code0 flights from city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 55%|█████▌    | 246/447 [10:12<07:45,  2.31s/it]

Question: list the airline_code0 flights departing from city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 55%|█████▌    | 247/447 [10:14<08:21,  2.51s/it]

Question: i need a flight on airline_code0 from city_name1 to city_name0 that arrives around 5pm
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.AIRLINE_CODE = 'airline_code0' AND FLIGHT.ARRIVAL_TIME BETWEEN 1700 AND 1759;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.ARRIVAL_TIME <= arrival_time0 AND FLIGHTalias0.ARRIVAL_TIME >= arrival_time1 ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 55%|█████▌    | 248/447 [10:17<08:48,  2.65s/it]

Question: i'd like to fly from city_name1 to city_name0 on on airline_code0 arriving around 5pm
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.AIRLINE_CODE = 'airline_code0' AND FLIGHT.ARRIVAL_TIME  >= 1700 AND FLIGHT.ARRIVAL_TIME < 1800;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.ARRIVAL_TIME <= arrival_time0 AND FLIGHTalias0.ARRIVAL_TIME >= arrival_time1 ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 56%|█████▌    | 249/447 [10:20<08:17,  2.51s/it]

Question: show me the airports serviced by airline_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.AIRLINE_CODE = 'airline_code0') OR FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.AIRLINE_CODE = 'airline_code0');
Correct SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 , FLIGHT AS FLIGHTalias0 WHERE FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.TO_AIRPORT = AIRPORTalias0.AIRPORT_CODE ;
Incorrect

 56%|█████▌    | 250/447 [10:23<08:50,  2.69s/it]

Question: cheapest fare from city_name1 to city_name0 on the day_number0 of month_number0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NUMBER = day_number0 AND DATE_DAY.MONTH_NUMBER = month_number0) ORDER BY FLIGHT.FLIGHT_FARE ASC LIMIT 1;
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FARE_BASISalias0.BASIS_DAYS = DAYSalias0.DAYS_CODE AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FAREalias0.ONE_DIRECTION_COST = ( SELECT MIN( FAREalias1.ONE_DIRECTION_COST ) FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 , CITY AS CITYalias2 , CITY AS CITYalias3 , DATE_DAY AS DATE_DAYalias1 , DAYS AS DAYSalias1 , FARE AS FAREalias1 , FARE_BASIS AS FARE_BASISalias1 , FLIGHT AS FLIGHTalias1 , FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name1" AND CITYalias3.CITY_CODE = AIRPORT_SERVICEalias3.CITY_CODE AND CITYalias3.CITY_NAME = "city_name0" AND DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 AND DAYSalias1.DAY_NAME = DATE_DAYalias1.DAY_NAME AND FARE_BASISalias1.BASIS_DAYS = DAYSalias1.DAYS_CODE AND FAREalias1.FARE_BASIS_CODE = FARE_BASISalias1.FARE_BASIS_CODE AND FLIGHT_FAREalias1.FARE_ID = FAREalias1.FARE_ID AND FLIGHTalias1.FLIGHT_ID = FLIGHT_FAREalias1.FLIGHT_ID AND FLIGHTalias1.FROM_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND FLIGHTalias1.TO_AIRPORT = AIRPORT_SERVICEalias3.AIRPORT_CODE ) ;
Incorrect

 56%|█████▌    | 251/447 [10:24<07:24,  2.27s/it]

Question: what is a aircraft_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRCRAFT_CODE_ID = 'aircraft_code0';
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Incorrect

 56%|█████▋    | 252/447 [10:25<06:17,  1.94s/it]

Question: what type of plane is a aircraft_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRCRAFT_CODE = 'aircraft_code0';
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Incorrect

 57%|█████▋    | 253/447 [10:26<05:34,  1.72s/it]

Question: what is a aircraft_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRCRAFT_CODE = 'aircraft_code0';
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Incorrect

 57%|█████▋    | 254/447 [10:28<05:09,  1.60s/it]

Question: what is the seating capacity on the aircraft aircraft_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRCRAFT_CODE = 'aircraft_code0';
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Incorrect

 57%|█████▋    | 255/447 [10:30<05:38,  1.76s/it]

Question: what is the seating capacity of a aircraft_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRCRAFT_CODE_ID = 'aircraft_code0';
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Incorrect

 57%|█████▋    | 256/447 [10:31<05:06,  1.61s/it]

Question: what is the seating capacity of the aircraft aircraft_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRCRAFT_CODE = 'aircraft_code0';
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Incorrect

 57%|█████▋    | 257/447 [10:32<04:50,  1.53s/it]

Question: what is the seating capacity of the aircraft aircraft_code0
Predicted SQL: SELECT DISTINCT FLIGHT.SEATING_CAPACITY FROM FLIGHT WHERE FLIGHT.AIRCRAFT_CODE = 'aircraft_code0';
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Incorrect

 58%|█████▊    | 258/447 [10:34<04:37,  1.47s/it]

Question: what is the seating capacity of the type of aircraft aircraft_code0
Predicted SQL: SELECT DISTINCT FLIGHT.SEATING_CAPACITY FROM FLIGHT WHERE FLIGHT.AIRCRAFT_CODE = 'aircraft_code0';
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Incorrect

 58%|█████▊    | 259/447 [10:35<04:31,  1.45s/it]

Question: what is the seating capacity of an aircraft_code0
Predicted SQL: SELECT DISTINCT FLIGHT.SEATING_CAPACITY FROM FLIGHT WHERE FLIGHT.AIRCRAFT_CODE = 'aircraft_code0';
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Incorrect

 58%|█████▊    | 260/447 [10:37<04:42,  1.51s/it]

Question: what is the capacity of the aircraft_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRCRAFT_CODE = 'aircraft_code0';
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Incorrect

 58%|█████▊    | 261/447 [10:38<04:32,  1.47s/it]

Question: what is aircraft_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRCRAFT_CODE = 'aircraft_code0';
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Incorrect

 59%|█████▊    | 262/447 [10:40<04:30,  1.46s/it]

Question: what is seating capacity on the aircraft aircraft_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRCRAFT_CODE = 'aircraft_code0';
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Incorrect

 59%|█████▉    | 263/447 [10:41<04:22,  1.43s/it]

Question: what is the seating capacity of a aircraft_code0
Predicted SQL: SELECT DISTINCT FLIGHT.SEATING_CAPACITY FROM FLIGHT WHERE FLIGHT.AIRCRAFT_CODE = 'aircraft_code0';
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Incorrect

 59%|█████▉    | 264/447 [10:42<04:17,  1.40s/it]

Question: how many people will a aircraft_code0 hold
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRCRAFT_CODE_ID = 'aircraft_code0';
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Incorrect

 59%|█████▉    | 265/447 [10:44<04:20,  1.43s/it]

Question: how many passengers can fly on a aircraft_code0
Predicted SQL: SELECT COUNT(*) FROM FLIGHT WHERE AIRCRAFT_CODE_ID = 'aircraft_code0';
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Incorrect

 60%|█████▉    | 266/447 [10:45<04:03,  1.35s/it]

Question: what is the seating capacity of the aircraft_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRCRAFT_CODE = 'aircraft_code0';
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Incorrect

 60%|█████▉    | 267/447 [10:46<04:02,  1.35s/it]

Question: tell me about the aircraft_code0 aircraft
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRCRAFT_CODE = 'aircraft_code0';
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Incorrect

 60%|█████▉    | 268/447 [10:48<03:53,  1.30s/it]

Question: tell me about the aircraft_code0 aircraft
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRCRAFT_CODE_ID = aircraft_code0;
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Incorrect

 60%|██████    | 269/447 [10:49<03:54,  1.32s/it]

Question: tell me about the type of aircraft called an aircraft_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRCRAFT_CODE = 'aircraft_code0';
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Incorrect

 60%|██████    | 270/447 [10:50<03:53,  1.32s/it]

Question: what is the seating capacity of the aircraft_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRCRAFT_CODE = 'aircraft_code0';
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Incorrect

 61%|██████    | 271/447 [10:52<03:54,  1.33s/it]

Question: what is the seating capacity of the aircraft_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRCRAFT_CODE = 'aircraft_code0';
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Incorrect

 61%|██████    | 272/447 [10:53<04:12,  1.44s/it]

Question: what is the seating capacity on the aircraft aircraft_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRCRAFT_CODE = 'aircraft_code0';
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Incorrect

 61%|██████    | 273/447 [10:56<05:38,  1.95s/it]

Question: show me one way flights from city_name1 to city_name0 after departure_time0 on wednesday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.DEPARTURE_TIME > departure_time0 AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME IN (SELECT DAYS.DAY_NAME FROM DAYS WHERE DAYS.DAY_NAME = 'WEDNESDAY'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DATE_DAY AS DATE_DAYalias1 , DAYS AS DAYSalias0 , DAYS AS DAYSalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND DAYSalias1.DAY_NAME = DATE_DAYalias1.DAY_NAME AND FARE_BASISalias0.BASIS_DAYS = DAYSalias1.DAYS_CODE AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FAREalias0.ROUND_TRIP_REQUIRED = "round_trip_required0" AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ) AND FLIGHTalias0.DEPARTURE_TIME > departure_time0 ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 61%|██████▏   | 274/447 [11:00<06:36,  2.29s/it]

Question: from city_name1 to city_name0 one way after departure_time0 wednesday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.DEPARTURE_TIME > departure_time0 AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = (SELECT DAYS.DAY_CODE FROM DAYS WHERE DAYS.DAY_NAME = 'WEDNESDAY'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DATE_DAY AS DATE_DAYalias1 , DAYS AS DAYSalias0 , DAYS AS DAYSalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND DAYSalias1.DAY_NAME = DATE_DAYalias1.DAY_NAME AND FARE_BASISalias0.BASIS_DAYS = DAYSalias1.DAYS_CODE AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FAREalias0.ROUND_TRIP_REQUIRED = "round_trip_required0" AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ) AND FLIGHTalias0.DEPARTURE_TIME > departure_time0 ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 62%|██████▏   | 275/447 [11:02<07:08,  2.49s/it]

Question: give me the flights from city_name1 to city_name0 that have meals on airline_code0 saturday morning
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.AIRLINE_CODE = 'airline_code0' AND FLIGHT.MEAL_CODE != 'N' AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_CODE FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'SATURDAY');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.MEAL_CODE IN ( SELECT FOOD_SERVICEalias0.MEAL_CODE FROM FOOD_SERVICE AS FOOD_SERVICEalias0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) ;
Incorrect

 62%|██████▏   | 276/447 [11:06<07:46,  2.73s/it]

Question: give me the flights from city_name1 to city_name0 on airline_code0 that have meals early saturday morning
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.AIRLINE_CODE = 'airline_code0' AND FLIGHT.FLIGHT_DAYS = (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'SATURDAY') AND FLIGHT.MEAL_CODE = 'M';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.MEAL_CODE IN ( SELECT FOOD_SERVICEalias0.MEAL_CODE FROM FOOD_SERVICE AS FOOD_SERVICEalias0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) ;
Incorrect

 62%|██████▏   | 277/447 [11:09<07:53,  2.78s/it]

Question: give me a combination of airline_code0 flights from city_name1 to city_name0 that have meals early saturday morning
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'SATURDAY') AND FLIGHT.MEAL_CODE = 'M';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.MEAL_CODE IN ( SELECT FOOD_SERVICEalias0.MEAL_CODE FROM FOOD_SERVICE AS FOOD_SERVICEalias0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) ;
Incorrect

 62%|██████▏   | 278/447 [11:12<08:02,  2.85s/it]

Question: give me the saturday morning flights on airline_code0 that have meals from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.AIRLINE_CODE = 'airline_code0' AND FLIGHT.MEAL_CODE = 'M' AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'SATURDAY');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.MEAL_CODE IN ( SELECT FOOD_SERVICEalias0.MEAL_CODE FROM FOOD_SERVICE AS FOOD_SERVICEalias0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) ;
Incorrect

 62%|██████▏   | 279/447 [11:15<08:10,  2.92s/it]

Question: give me the saturday morning flights from city_name1 to city_name0 on airline_code0 that have meals
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.AIRLINE_CODE = 'airline_code0' AND FLIGHT.MEAL_CODE <> 'N' AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_CODE FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'SATURDAY');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.MEAL_CODE IN ( SELECT FOOD_SERVICEalias0.MEAL_CODE FROM FOOD_SERVICE AS FOOD_SERVICEalias0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) ;
Incorrect

 63%|██████▎   | 280/447 [11:18<08:04,  2.90s/it]

Question: how about a flight from city_name1 to city_name0 that leaves monday night
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = (SELECT DAYS.DAY_CODE FROM DAYS WHERE DAYS.DAY_NAME = 'MONDAY'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( ( FLIGHTalias0.DEPARTURE_TIME <= departure_time0 AND FLIGHTalias0.DEPARTURE_TIME >= departure_time1 ) AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) OR ( FLIGHTalias0.DEPARTURE_TIME <= departure_time2 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 63%|██████▎   | 281/447 [11:21<08:10,  2.95s/it]

Question: how about a flight leaving tuesday night from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME IN (SELECT DAYS.DAY_NAME FROM DAYS WHERE DAYS.DAY_NAME = 'TUESDAY'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( ( FLIGHTalias0.DEPARTURE_TIME <= departure_time0 AND FLIGHTalias0.DEPARTURE_TIME >= departure_time1 ) AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) OR ( FLIGHTalias0.DEPARTURE_TIME <= departure_time2 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 63%|██████▎   | 282/447 [11:23<07:13,  2.63s/it]

Question: get flights from city_name0 to airport_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT = 'airport_code0';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT AS AIRPORTalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORTalias0.AIRPORT_CODE ;
Incorrect

 63%|██████▎   | 283/447 [11:25<07:10,  2.63s/it]

Question: show me a return flight from city_name0 to airport_code0 please
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT = 'airport_code0' AND FLIGHT.FLIGHT_DAYS = (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = (SELECT DAYS.DAY_NAME FROM DAYS WHERE DAYS.DAY_CODE = FLIGHT.FLIGHT_DAYS));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT AS AIRPORTalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORTalias0.AIRPORT_CODE ;
Incorrect

 64%|██████▎   | 284/447 [11:28<07:32,  2.77s/it]

Question: give me the flights from city_name1 to city_name0 on wednesday on airline_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_CODE FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'WEDNESDAY') AND FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 64%|██████▍   | 285/447 [11:31<07:31,  2.79s/it]

Question: saturday flight on airline_code0 from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'SATURDAY') AND FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 64%|██████▍   | 286/447 [11:34<07:36,  2.83s/it]

Question: i'd like to book a flight from city_name1 to city_name0 on airline_code0 for next saturday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.AIRLINE_CODE = 'airline_code0' AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'SATURDAY');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 64%|██████▍   | 287/447 [11:40<09:53,  3.71s/it]

Question: find me all the round trip flights from city_name2 to city_name1 stopping in city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name2')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.FLIGHT_ID IN (SELECT FLIGHT_STOP.FLIGHT_ID FROM FLIGHT_STOP WHERE FLIGHT_STOP.STOP_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'))) INTERSECT SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name2')) AND FLIGHT.FLIGHT_ID IN (SELECT FLIGHT_STOP.FLIGHT_ID FROM FLIGHT_STOP WHERE FLIGHT_STOP.STOP_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 , CITY AS CITYalias0 , CITY AS CITYalias1 , CITY AS CITYalias2 , CITY AS CITYalias3 , FLIGHT AS FLIGHTalias0 , FLIGHT_STOP AS FLIGHT_STOPalias0 , FLIGHT_STOP AS FLIGHT_STOPalias1 WHERE ( ( CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name0" AND FLIGHT_STOPalias0.STOP_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND FLIGHTalias0.FLIGHT_ID = FLIGHT_STOPalias0.FLIGHT_ID ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name2" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 64%|██████▍   | 288/447 [11:46<12:10,  4.59s/it]

Question: cheapest round trip fare from city_name1 to city_name0 on month_number0 day_number0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FLIGHT_ID IN (SELECT F.FLIGHT_ID FROM FLIGHT F, AIRPORT_SERVICE AS AS0, CITY AS C0 WHERE F.FROM_AIRPORT = AS0.AIRPORT_CODE AND AS0.CITY_CODE = C0.CITY_CODE AND C0.CITY_NAME = 'city_name1' AND F.FLIGHT_ID IN (SELECT F0.FLIGHT_ID FROM FLIGHT F0, DATE_DAY DD, DAYS D WHERE F0.FLIGHT_DAYS = DD.DAY_CODE AND DD.DAY_NAME = D.DAY_NAME AND DD.MONTH_NUMBER = month_number0 AND DD.DAY_NUMBER = day_number0) AND F.FLIGHT_ID IN (SELECT F1.FLIGHT_ID FROM FLIGHT F1, AIRPORT_SERVICE AS AS1, CITY AS C1 WHERE F1.TO_AIRPORT = AS1.AIRPORT_CODE AND AS1.CITY_CODE = C1.CITY_CODE AND C1.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_ID IN (SELECT F2.FLIGHT_ID FROM FLIGHT F2, AIRPORT_SERVICE AS AS2, CITY AS C2 WHERE F2.TO_AIRPORT = AS2.AIRPORT_CODE AND AS2.CITY_CODE = C2.CITY_CODE AND C2.CITY_NAME = 'city_name1' AND F2.FLIGHT_ID IN (SELECT F3.FLIGHT_ID FROM FLIGHT F3, DATE_DAY DD1, DAYS D1 WHERE F3.FLIGHT_DAYS = DD1.DAY_CODE AND DD1.DAY_NAME = D1.DAY_NAME AND DD1.MONTH_NUMBER = month_number0 AND DD1.DAY_NUMBER = day_number0) AND F2.FLIGHT_ID IN (SELECT F4.FLIGHT_ID FROM FLIGHT F4, AIRPORT_SERVICE AS AS3, CITY AS C3 WHERE F4.FROM_AIRPORT = AS3.AIRPORT_CODE AND AS3.CITY_CODE = C3.CITY_CODE AND C3.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DATE_DAY AS DATE_DAYalias1 , DAYS AS DAYSalias0 , DAYS AS DAYSalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 AND DAYSalias1.DAY_NAME = DATE_DAYalias1.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias1.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FARE_BASISalias0.BASIS_DAYS = DAYSalias0.DAYS_CODE AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FAREalias0.ROUND_TRIP_COST = ( SELECT MIN( FAREalias1.ROUND_TRIP_COST ) FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 , CITY AS CITYalias2 , CITY AS CITYalias3 , DATE_DAY AS DATE_DAYalias2 , DATE_DAY AS DATE_DAYalias3 , DAYS AS DAYSalias2 , DAYS AS DAYSalias3 , FARE AS FAREalias1 , FARE_BASIS AS FARE_BASISalias1 , FLIGHT AS FLIGHTalias1 , FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE ( CITYalias3.CITY_CODE = AIRPORT_SERVICEalias3.CITY_CODE AND CITYalias3.CITY_NAME = "city_name0" AND DATE_DAYalias3.DAY_NUMBER = day_number0 AND DATE_DAYalias3.MONTH_NUMBER = month_number0 AND DATE_DAYalias3.YEAR = year0 AND DAYSalias3.DAY_NAME = DATE_DAYalias3.DAY_NAME AND FLIGHTalias1.FLIGHT_DAYS = DAYSalias3.DAYS_CODE AND FLIGHTalias1.TO_AIRPORT = AIRPORT_SERVICEalias3.AIRPORT_CODE ) AND CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name1" AND DATE_DAYalias2.DAY_NUMBER = day_number0 AND DATE_DAYalias2.MONTH_NUMBER = month_number0 AND DATE_DAYalias2.YEAR = year0 AND DAYSalias2.DAY_NAME = DATE_DAYalias2.DAY_NAME AND FARE_BASISalias1.BASIS_DAYS = DAYSalias2.DAYS_CODE AND FAREalias1.FARE_BASIS_CODE = FARE_BASISalias1.FARE_BASIS_CODE AND FLIGHT_FAREalias1.FARE_ID = FAREalias1.FARE_ID AND FLIGHTalias1.FLIGHT_ID = FLIGHT_FAREalias1.FLIGHT_ID AND FLIGHTalias1.FROM_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE ) ;
Incorrect

 65%|██████▍   | 289/447 [11:52<13:12,  5.02s/it]

Question: cheapest fare round trip from city_name1 to city_name0 on month_number0 day_number0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FLIGHT_ID IN (SELECT FARE.FLIGHT_ID FROM FARE WHERE FARE.ROUND_TRIP_COST = (SELECT MIN(FARE.ROUND_TRIP_COST) FROM FARE WHERE FARE.FLIGHT_ID IN (SELECT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS = (SELECT DATE_DAY.DAY_NAME FROM DATE_DAY WHERE DATE_DAY.MONTH_NUMBER = month_number0 AND DATE_DAY.DAY_NUMBER = day_number0)))) AND FARE.FLIGHT_ID IN (SELECT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.FLIGHT_DAYS = (SELECT DATE_DAY.DAY_NAME FROM DATE_DAY WHERE DATE_DAY.MONTH_NUMBER = month_number0 AND DATE_DAY.DAY_NUMBER = day_number0)));
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DATE_DAY AS DATE_DAYalias1 , DAYS AS DAYSalias0 , DAYS AS DAYSalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 AND DAYSalias1.DAY_NAME = DATE_DAYalias1.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias1.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FARE_BASISalias0.BASIS_DAYS = DAYSalias0.DAYS_CODE AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FAREalias0.ROUND_TRIP_COST = ( SELECT MIN( FAREalias1.ROUND_TRIP_COST ) FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 , CITY AS CITYalias2 , CITY AS CITYalias3 , DATE_DAY AS DATE_DAYalias2 , DATE_DAY AS DATE_DAYalias3 , DAYS AS DAYSalias2 , DAYS AS DAYSalias3 , FARE AS FAREalias1 , FARE_BASIS AS FARE_BASISalias1 , FLIGHT AS FLIGHTalias1 , FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE ( CITYalias3.CITY_CODE = AIRPORT_SERVICEalias3.CITY_CODE AND CITYalias3.CITY_NAME = "city_name0" AND DATE_DAYalias3.DAY_NUMBER = day_number0 AND DATE_DAYalias3.MONTH_NUMBER = month_number0 AND DATE_DAYalias3.YEAR = year0 AND DAYSalias3.DAY_NAME = DATE_DAYalias3.DAY_NAME AND FLIGHTalias1.FLIGHT_DAYS = DAYSalias3.DAYS_CODE AND FLIGHTalias1.TO_AIRPORT = AIRPORT_SERVICEalias3.AIRPORT_CODE ) AND CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name1" AND DATE_DAYalias2.DAY_NUMBER = day_number0 AND DATE_DAYalias2.MONTH_NUMBER = month_number0 AND DATE_DAYalias2.YEAR = year0 AND DAYSalias2.DAY_NAME = DATE_DAYalias2.DAY_NAME AND FARE_BASISalias1.BASIS_DAYS = DAYSalias2.DAYS_CODE AND FAREalias1.FARE_BASIS_CODE = FARE_BASISalias1.FARE_BASIS_CODE AND FLIGHT_FAREalias1.FARE_ID = FAREalias1.FARE_ID AND FLIGHTalias1.FLIGHT_ID = FLIGHT_FAREalias1.FLIGHT_ID AND FLIGHTalias1.FROM_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE ) ;
Incorrect

 65%|██████▍   | 290/447 [11:57<12:55,  4.94s/it]

Question: show me class_type0 class flights from city_name1 to city_name0 round trip
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FLIGHT_ID IN (SELECT F0.FLIGHT_ID FROM FLIGHT AS F0, AIRPORT_SERVICE AS AS0, CITY AS C0 WHERE F0.FROM_AIRPORT = AS0.AIRPORT_CODE AND AS0.CITY_CODE = C0.CITY_CODE AND C0.CITY_NAME = 'city_name1' AND F0.CLASS_TYPE = 'class_type0' AND F0.TO_AIRPORT IN (SELECT AS1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AS1, CITY AS C1 WHERE AS1.CITY_CODE = C1.CITY_CODE AND C1.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_ID IN (SELECT F1.FLIGHT_ID FROM FLIGHT AS F1, AIRPORT_SERVICE AS AS2, CITY AS C2 WHERE F1.FROM_AIRPORT = AS2.AIRPORT_CODE AND AS2.CITY_CODE = C2.CITY_CODE AND C2.CITY_NAME = 'city_name0' AND F1.CLASS_TYPE = 'class_type0' AND F1.TO_AIRPORT IN (SELECT AS3.AIRPORT_CODE FROM AIRPORT_SERVICE AS AS3, CITY AS C3 WHERE AS3.CITY_CODE = C3.CITY_CODE AND C3.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( FARE_BASISalias0.CLASS_TYPE = "class_type0" AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FAREalias0.ROUND_TRIP_COST IS NOT NULL AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 65%|██████▌   | 291/447 [12:03<13:25,  5.16s/it]

Question: show me class_type0 class flights from city_name1 to city_name0 round trip
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FLIGHT_ID IN (SELECT F.FLIGHT_ID FROM FLIGHT F, AIRPORT_SERVICE AS AS0, CITY AS C0 WHERE F.FROM_AIRPORT = AS0.AIRPORT_CODE AND AS0.CITY_CODE = C0.CITY_CODE AND C0.CITY_NAME = 'city_name1' AND F.TO_AIRPORT IN (SELECT AS1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AS1, CITY AS C1 WHERE AS1.CITY_CODE = C1.CITY_CODE AND C1.CITY_NAME = 'city_name0') AND F.CLASS_TYPE = 'class_type0') AND FLIGHT.FLIGHT_ID IN (SELECT F.FLIGHT_ID FROM FLIGHT F, AIRPORT_SERVICE AS AS0, CITY AS C0 WHERE F.FROM_AIRPORT = AS0.AIRPORT_CODE AND AS0.CITY_CODE = C0.CITY_CODE AND C0.CITY_NAME = 'city_name0' AND F.TO_AIRPORT IN (SELECT AS1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AS1, CITY AS C1 WHERE AS1.CITY_CODE = C1.CITY_CODE AND C1.CITY_NAME = 'city_name1') AND F.CLASS_TYPE = 'class_type0');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( FARE_BASISalias0.CLASS_TYPE = "class_type0" AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FAREalias0.ROUND_TRIP_COST IS NOT NULL AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 65%|██████▌   | 292/447 [12:05<10:41,  4.14s/it]

Question: list the airline_code0 flights arriving in city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 66%|██████▌   | 293/447 [12:06<08:41,  3.39s/it]

Question: list airports
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE);
Correct SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 ;
Incorrect

 66%|██████▌   | 294/447 [12:08<07:14,  2.84s/it]

Question: list airports
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT.AIRPORT_CODE FROM AIRPORT) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT.AIRPORT_CODE FROM AIRPORT);
Correct SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 ;
Incorrect

 66%|██████▌   | 295/447 [12:11<07:14,  2.86s/it]

Question: i need flight information for a flight departing from city_name1 to city_name0 wednesday after departure_time0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'WEDNESDAY') AND FLIGHT.DEPARTURE_TIME > departure_time0;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 66%|██████▌   | 296/447 [12:14<07:17,  2.90s/it]

Question: i need flight information for flights departing from city_name1 going back to city_name0 wednesday after departure_time0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'WEDNESDAY') AND FLIGHT.DEPARTURE_TIME > departure_time0;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 66%|██████▋   | 297/447 [12:17<07:35,  3.03s/it]

Question: i need flight information for flights departing from city_name1 to city_name0 on wednesday after departure_time0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'Wednesday') AND FLIGHT.DEPARTURE_TIME > departure_time0;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 67%|██████▋   | 298/447 [12:20<07:23,  2.98s/it]

Question: i need flight information for flights departing from city_name1 to city_name0 on wednesday after departure_time0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'WEDNESDAY') AND FLIGHT.DEPARTURE_TIME > departure_time0;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 67%|██████▋   | 299/447 [12:23<07:11,  2.91s/it]

Question: i need a flight from city_name1 to city_name0 departing wednesday after departure_time0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'WEDNESDAY') AND FLIGHT.DEPARTURE_TIME > departure_time0;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 67%|██████▋   | 300/447 [12:26<07:09,  2.92s/it]

Question: i need a flight from city_name1 to city_name0 on wednesday departing after departure_time0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'WEDNESDAY') AND FLIGHT.DEPARTURE_TIME > departure_time0;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 67%|██████▋   | 301/447 [12:29<07:15,  2.98s/it]

Question: give me the flights from city_name1 to city_name0 leaving after departure_time0 on wednesday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.DEPARTURE_TIME > 'departure_time0' AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME IN (SELECT DAYS.DAY_NAME FROM DAYS WHERE DAYS.DAY_NAME = 'WEDNESDAY'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 68%|██████▊   | 302/447 [12:32<07:02,  2.92s/it]

Question: i need flight and airline information for a flight from city_name1 to city_name0 on monday departing after departure_time0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'MONDAY') AND FLIGHT.DEPARTURE_TIME > departure_time0;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 68%|██████▊   | 303/447 [12:34<06:19,  2.64s/it]

Question: list all flights arriving in city_name0 between arrival_time1 and arrival_time0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.ARRIVAL_TIME BETWEEN arrival_time1 AND arrival_time0;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.ARRIVAL_TIME <= arrival_time0 AND FLIGHTalias0.ARRIVAL_TIME >= arrival_time1 ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) ;
Incorrect

 68%|██████▊   | 304/447 [12:35<05:46,  2.42s/it]

Question: list all flights arriving in city_name0 between arrival_time1 and arrival_time0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.ARRIVAL_TIME BETWEEN arrival_time1 AND arrival_time0;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.ARRIVAL_TIME <= arrival_time0 AND FLIGHTalias0.ARRIVAL_TIME >= arrival_time1 ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) ;
Incorrect

 68%|██████▊   | 305/447 [12:38<05:40,  2.40s/it]

Question: list all flights on all types of aircraft arriving in city_name0 between arrival_time1 and arrival_time0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.ARRIVAL_TIME BETWEEN arrival_time1 AND arrival_time0;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.ARRIVAL_TIME <= arrival_time0 AND FLIGHTalias0.ARRIVAL_TIME >= arrival_time1 ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) ;
Incorrect

 68%|██████▊   | 306/447 [12:41<06:14,  2.66s/it]

Question: please find all the flights from city_name1 to any airport in the city_name0 area that arrive next saturday before arrival_time1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.ARRIVAL_TIME < 'arrival_time1' AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME IN (SELECT DAYS.DAY_NAME FROM DAYS WHERE DAYS.DAY_NUMBER = 7));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( ( ( FLIGHTalias0.ARRIVAL_TIME < arrival_time0 OR FLIGHTalias0.TIME_ELAPSED >= time_elapsed0 ) AND FLIGHTalias0.DEPARTURE_TIME > FLIGHTalias0.ARRIVAL_TIME ) AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) OR ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND NOT ( ( FLIGHTalias0.ARRIVAL_TIME < arrival_time0 OR FLIGHTalias0.TIME_ELAPSED >= time_elapsed0 ) AND FLIGHTalias0.DEPARTURE_TIME > FLIGHTalias0.ARRIVAL_TIME ) ) ) AND FLIGHTalias0.ARRIVAL_TIME <= arrival_time1 ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 69%|██████▊   | 307/447 [12:44<06:14,  2.68s/it]

Question: list distance from airports to downtown in city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) OR FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT AIRPORT_SERVICEalias0.MILES_DISTANT FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" ;
Incorrect

 69%|██████▉   | 308/447 [12:47<06:41,  2.89s/it]

Question: list day_name0 night flights from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'day_name0') AND FLIGHT.ARRIVAL_TIME < '06:00' OR FLIGHT.ARRIVAL_TIME >= '20:00';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( FLIGHTalias0.DEPARTURE_TIME <= departure_time0 AND FLIGHTalias0.DEPARTURE_TIME >= departure_time1 ) AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME = "day_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 69%|██████▉   | 309/447 [12:50<06:37,  2.88s/it]

Question: please list the flights from city_name1 to city_name0 on a day_name0 night
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'day_name0');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( FLIGHTalias0.DEPARTURE_TIME <= departure_time0 AND FLIGHTalias0.DEPARTURE_TIME >= departure_time1 ) AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME = "day_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 69%|██████▉   | 310/447 [12:54<07:11,  3.15s/it]

Question: please show me class_type0 class flights from city_name1 to city_name0 one way leaving before departure_time0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FLIGHT_ID IN (SELECT FLIGHT.FLIGHT_ID FROM FLIGHT, AIRPORT_SERVICE AS airport_service0, CITY AS city0 WHERE FLIGHT.FROM_AIRPORT = airport_service0.AIRPORT_CODE AND airport_service0.CITY_CODE = city0.CITY_CODE AND city0.CITY_NAME = 'city_name1') AND FLIGHT.FLIGHT_ID IN (SELECT FLIGHT.FLIGHT_ID FROM FLIGHT, AIRPORT_SERVICE AS airport_service1, CITY AS city1 WHERE FLIGHT.TO_AIRPORT = airport_service1.AIRPORT_CODE AND airport_service1.CITY_CODE = city1.CITY_CODE AND city1.CITY_NAME = 'city_name0') AND FLIGHT.FLIGHT_ID IN (SELECT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.CLASS_TYPE = 'class_type0') AND FLIGHT.DEPARTURE_TIME  <  'departure_time0';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( ( FAREalias0.ROUND_TRIP_REQUIRED = "round_trip_required0" ) AND FARE_BASISalias0.CLASS_TYPE = "class_type0" AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 70%|██████▉   | 311/447 [12:58<07:38,  3.37s/it]

Question: show me all round trip flights from city_name1 to city_name0 nonstop
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_ID IN (SELECT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FAREalias0.ROUND_TRIP_COST IS NOT NULL AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FLIGHTalias0.STOPS = stops0 ;
Incorrect

 70%|██████▉   | 312/447 [13:01<07:45,  3.45s/it]

Question: show me all round trip flights from city_name1 to city_name0 nonstop
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_ID IN (SELECT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FAREalias0.ROUND_TRIP_COST IS NOT NULL AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FLIGHTalias0.STOPS = stops0 ;
Incorrect

 70%|███████   | 313/447 [13:05<07:39,  3.43s/it]

Question: get flight from city_name1 to city_name0 stopping at airport_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_ID IN (SELECT FLIGHT_STOP.FLIGHT_ID FROM FLIGHT_STOP WHERE FLIGHT_STOP.STOP_AIRPORT = 'airport_code0');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT AS AIRPORTalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 , FLIGHT_STOP AS FLIGHT_STOPalias0 WHERE ( AIRPORTalias0.AIRPORT_CODE = "airport_code0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHT_STOPalias0.STOP_AIRPORT = AIRPORTalias0.AIRPORT_CODE AND FLIGHTalias0.FLIGHT_ID = FLIGHT_STOPalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 70%|███████   | 314/447 [13:06<06:11,  2.79s/it]

Question: list all airline_code0 flights
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) ;
Incorrect

 70%|███████   | 315/447 [13:08<05:35,  2.54s/it]

Question: how many flights does airline_code0 have to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT COUNT( DISTINCT FLIGHTalias0.FLIGHT_ID ) FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 71%|███████   | 316/447 [13:10<05:16,  2.42s/it]

Question: show airline_code0 flights from airport_code0 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = 'airport_code0' AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT AS AIRPORTalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE ( AIRPORTalias0.AIRPORT_CODE = "airport_code0" AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORTalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 71%|███████   | 317/447 [13:12<04:59,  2.30s/it]

Question: what are the flights from airport_code0 to city_name0 on airline_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = 'airport_code0' AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT AS AIRPORTalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE ( AIRPORTalias0.AIRPORT_CODE = "airport_code0" AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORTalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 71%|███████   | 318/447 [13:16<05:40,  2.64s/it]

Question: give me the flights from city_name1 to city_name0 on saturday or sunday on airline_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME IN (SELECT DAYS.DAY_NAME FROM DAYS WHERE DAYS.DAY_NAME = 'SATURDAY' OR DAYS.DAY_NAME = 'SUNDAY')) AND FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DATE_DAY AS DATE_DAYalias1 , DAYS AS DAYSalias0 , DAYS AS DAYSalias1 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) AND ( ( FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND DATE_DAYalias0.YEAR = year0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.DAY_NUMBER = day_number0 ) OR ( FLIGHTalias0.FLIGHT_DAYS = DAYSalias1.DAYS_CODE AND DAYSalias1.DAY_NAME = DATE_DAYalias1.DAY_NAME AND DATE_DAYalias1.YEAR = year0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.DAY_NUMBER = day_number0 ) ) ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 71%|███████▏  | 319/447 [13:18<05:36,  2.63s/it]

Question: i need an early flight from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.DEPARTURE_TIME < 1200;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 72%|███████▏  | 320/447 [13:21<05:38,  2.66s/it]

Question: please list afternoon flights between city_name0 and city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.DEPARTURE_TIME BETWEEN 1200 AND 1800;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 72%|███████▏  | 321/447 [13:23<05:29,  2.62s/it]

Question: list flights from city_name0 to city_name1 in the morning
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.DEPARTURE_TIME < 1200;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 72%|███████▏  | 322/447 [13:26<05:20,  2.56s/it]

Question: can i have a morning flight from city_name0 to city_name1 please
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.DEPARTURE_TIME < 1200;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 72%|███████▏  | 323/447 [13:29<05:21,  2.59s/it]

Question: show me the morning flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.DEPARTURE_TIME < 1200;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 72%|███████▏  | 324/447 [13:31<05:16,  2.57s/it]

Question: i want a flight from city_name0 to city_name1 early in the morning
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.DEPARTURE_TIME < '1200';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 73%|███████▎  | 325/447 [13:34<05:14,  2.58s/it]

Question: i would like a morning flight from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.DEPARTURE_TIME < 1200;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 73%|███████▎  | 326/447 [13:36<05:12,  2.58s/it]

Question: i'd like a morning flight from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.DEPART_TIME < 1200;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 73%|███████▎  | 327/447 [13:40<05:38,  2.82s/it]

Question: i'd like an evening flight from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME IN (SELECT DAYS.DAY_NAME FROM DAYS WHERE DAYS.PERIOD_OF_DAY = 'EVENING'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 73%|███████▎  | 328/447 [13:42<05:28,  2.76s/it]

Question: what flights go from city_name1 to city_name0 on tuesday morning
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS = (SELECT DATE_DAY.DAY_CODE FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'TUESDAY');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 74%|███████▎  | 329/447 [13:45<05:22,  2.74s/it]

Question: i need to fly from city_name1 to city_name0 on wednesday afternoon
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'Wednesday');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 74%|███████▍  | 330/447 [13:48<05:31,  2.84s/it]

Question: list flights from city_name1 to city_name0 on monday morning
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = (SELECT DAYS.DAY_CODE FROM DAYS WHERE DAYS.DAY_NAME = 'MONDAY')) AND FLIGHT.DEPARTURE_TIME < 1200;';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 74%|███████▍  | 331/447 [13:51<05:38,  2.92s/it]

Question: give me the flights from city_name1 to city_name0 thursday evening
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_CODE FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'THURSDAY') AND FLIGHT.ARRIVAL_TIME < 2000 AND FLIGHT.ARRIVAL_TIME > 1700;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 74%|███████▍  | 332/447 [13:54<05:25,  2.83s/it]

Question: give me the flights from city_name1 to city_name0 on wednesday evening
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'WEDNESDAY');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 74%|███████▍  | 333/447 [13:57<05:23,  2.84s/it]

Question: give me a flight from city_name1 to city_name0 on tuesday morning
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_CODE FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'TUESDAY') AND FLIGHT.DEPARTURE_TIME < 1200;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 75%|███████▍  | 334/447 [14:00<05:32,  2.94s/it]

Question: city_name1 to city_name0 sunday morning
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = (SELECT DAYS.DAY_CODE FROM DAYS WHERE DAYS.DAY_NAME = 'SUNDAY')) AND FLIGHT.DEPARTURE_TIME < 1200;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 75%|███████▍  | 335/447 [14:03<05:46,  3.09s/it]

Question: city_name1 to city_name0 wednesday morning
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = (SELECT DAYS.DAY_CODE FROM DAYS WHERE DAYS.DAY_NAME = 'WEDNESDAY')) AND FLIGHT.DEPARTURE_TIME < 1200;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 75%|███████▌  | 336/447 [14:06<05:40,  3.07s/it]

Question: city_name1 to city_name0 sunday afternoon
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_CODE FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'SUNDAY') AND FLIGHT.DEPARTURE_TIME BETWEEN 1200 AND 1800;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 75%|███████▌  | 337/447 [14:09<05:45,  3.14s/it]

Question: city_name1 to city_name0 sunday afternoon
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = (SELECT DAYS.DAY_CODE FROM DAYS WHERE DAYS.DAY_NAME = 'SUNDAY')) AND FLIGHT.DEPARTURE_TIME between 1200 and 1800;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 76%|███████▌  | 338/447 [14:13<05:43,  3.15s/it]

Question: city_name1 to city_name0 sunday afternoon
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = (SELECT DAYS.DAY_CODE FROM DAYS WHERE DAYS.DAY_NAME = 'SUNDAY')) AND FLIGHT.DEPARTURE_TIME between 1200 and 1800;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 76%|███████▌  | 339/447 [14:16<05:38,  3.14s/it]

Question: city_name1 to city_name0 on sunday afternoon
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'SUNDAY') AND FLIGHT.DEPARTURE_TIME between 1200 and 1800;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 76%|███████▌  | 340/447 [14:19<05:38,  3.16s/it]

Question: city_name1 to city_name0 saturday morning
Predicted SQL: SELECT DISTINCT FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_CODE FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'SATURDAY') AND FLIGHT.DEPARTURE_TIME < 1200;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 76%|███████▋  | 341/447 [14:22<05:45,  3.26s/it]

Question: city_name1 to city_name0 saturday morning
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = (SELECT DAYS.DAY_CODE FROM DAYS WHERE DAYS.DAY_NAME = 'SATURDAY')) AND FLIGHT.DEPARTURE_TIME < 1200;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 77%|███████▋  | 342/447 [14:25<05:25,  3.10s/it]

Question: city_name1 to city_name0 thursday evening
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = (SELECT DAYS.DAY_CODE FROM DAYS WHERE DAYS.DAY_NAME = 'THURSDAY'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 77%|███████▋  | 343/447 [14:28<05:26,  3.14s/it]

Question: please list all flights from city_name1 to city_name0 on monday morning
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = (SELECT DAYS.DAY_CODE FROM DAYS WHERE DAYS.DAY_NAME = 'MONDAY'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 77%|███████▋  | 344/447 [14:31<05:13,  3.04s/it]

Question: please list the flights from city_name1 to city_name0 on monday morning
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'MONDAY');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 77%|███████▋  | 345/447 [14:35<05:18,  3.12s/it]

Question: i would like to leave thursday morning from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = (SELECT DAYS.DAY_NAME FROM DAYS WHERE DAYS.DAY_NAME = 'THURSDAY')) AND FLIGHT.DEPARTURE_TIME < 1200;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 77%|███████▋  | 346/447 [14:37<04:59,  2.96s/it]

Question: i would like a flight on friday morning from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_CODE FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'FRIDAY');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 78%|███████▊  | 347/447 [14:40<04:53,  2.93s/it]

Question: i need a morning flight from city_name1 to city_name0 on next monday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.DEPARTURE_TIME < 1200 AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'MONDAY');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 78%|███████▊  | 348/447 [14:44<05:14,  3.18s/it]

Question: and a flight from city_name1 to city_name0 that leaves tuesday afternoon
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'TUESDAY') AND FLIGHT.DEPART_TIME BETWEEN 1200 AND 1800;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 78%|███████▊  | 349/447 [14:47<05:07,  3.14s/it]

Question: find flight from city_name1 to city_name0 on monday am
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'MONDAY' AND DATE_DAY.PERIOD_OF_DAY = 'AM');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 78%|███████▊  | 350/447 [14:53<06:23,  3.95s/it]

Question: get last flight from city_name1 to city_name0 on wednesday or first flight from city_name1 to city_name0 on thursday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FLIGHT_ID IN (SELECT F.FLIGHT_ID FROM FLIGHT F, AIRPORT_SERVICE AS AS0, CITY AS C0, AIRPORT_SERVICE AS AS1, CITY AS C1, DATE_DAY AS DD, DAYS AS D WHERE F.FROM_AIRPORT = AS0.AIRPORT_CODE AND AS0.CITY_CODE = C0.CITY_CODE AND C0.CITY_NAME = 'city_name1' AND F.TO_AIRPORT = AS1.AIRPORT_CODE AND AS1.CITY_CODE = C1.CITY_CODE AND C1.CITY_NAME = 'city_name0' AND F.FLIGHT_DAYS = DD.DAY_OF_WEEK AND DD.DAY_NAME = D.DAY_NAME AND D.DAY_NAME = 'WEDNESDAY' ORDER BY F.DEPARTURE_TIME DESC LIMIT 1) UNION SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FLIGHT_ID IN (SELECT F.FLIGHT_ID FROM FLIGHT F, AIRPORT_SERVICE AS AS0, CITY AS C0, AIRPORT_SERVICE AS AS1, CITY AS C1, DATE_DAY AS DD, DAYS AS D WHERE F.FROM_AIRPORT = AS0.AIRPORT_CODE AND AS0.CITY_CODE = C0.CITY_CODE AND C0.CITY_NAME = 'city_name1' AND F.TO_AIRPORT = AS1.AIRPORT_CODE AND AS1.CITY_CODE = C1.CITY_CODE AND C1.CITY_NAME = 'city_name0' AND F.FLIGHT_DAYS = DD.DAY_OF_WEEK AND DD.DAY_NAME = D.DAY_NAME AND D.DAY_NAME = 'THURSDAY' ORDER BY F.DEPARTURE_TIME ASC LIMIT 1);
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( FLIGHTalias0.DEPARTURE_TIME = ( SELECT MAX( FLIGHTalias1.DEPARTURE_TIME ) FROM FLIGHT AS FLIGHTalias1 WHERE ( ( FLIGHTalias1.FLIGHT_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) AND FLIGHTalias1.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias3.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 WHERE AIRPORT_SERVICEalias3.CITY_CODE IN ( SELECT CITYalias3.CITY_CODE FROM CITY AS CITYalias3 WHERE CITYalias3.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias1.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name1" ) ) ) ) AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) OR ( FLIGHTalias0.DEPARTURE_TIME = ( SELECT MIN( FLIGHTalias2.DEPARTURE_TIME ) FROM FLIGHT AS FLIGHTalias2 WHERE ( ( FLIGHTalias2.FLIGHT_DAYS IN ( SELECT DAYSalias3.DAYS_CODE FROM DAYS AS DAYSalias3 WHERE DAYSalias3.DAY_NAME IN ( SELECT DATE_DAYalias3.DAY_NAME FROM DATE_DAY AS DATE_DAYalias3 WHERE DATE_DAYalias3.DAY_NUMBER = day_number0 AND DATE_DAYalias3.MONTH_NUMBER = month_number0 AND DATE_DAYalias3.YEAR = year0 ) ) AND FLIGHTalias2.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias5.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias5 WHERE AIRPORT_SERVICEalias5.CITY_CODE IN ( SELECT CITYalias5.CITY_CODE FROM CITY AS CITYalias5 WHERE CITYalias5.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias2.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias4.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias4 WHERE AIRPORT_SERVICEalias4.CITY_CODE IN ( SELECT CITYalias4.CITY_CODE FROM CITY AS CITYalias4 WHERE CITYalias4.CITY_NAME = "city_name1" ) ) ) ) AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias2.DAYS_CODE FROM DAYS AS DAYSalias2 WHERE DAYSalias2.DAY_NAME IN ( SELECT DATE_DAYalias2.DAY_NAME FROM DATE_DAY AS DATE_DAYalias2 WHERE DATE_DAYalias2.DAY_NUMBER = day_number0 AND DATE_DAYalias2.MONTH_NUMBER = month_number0 AND DATE_DAYalias2.YEAR = year0 ) ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 79%|███████▊  | 351/447 [14:55<05:42,  3.56s/it]

Question: get last flight from city_name1 to city_name0 on wednesday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_CODE FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'WEDNESDAY');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias3.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 WHERE AIRPORT_SERVICEalias3.CITY_CODE IN ( SELECT CITYalias3.CITY_CODE FROM CITY AS CITYalias3 WHERE CITYalias3.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME = ( SELECT MAX( FLIGHTalias1.DEPARTURE_TIME ) FROM FLIGHT AS FLIGHTalias1 WHERE ( ( FLIGHTalias1.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias1.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias1.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ) ) ;
Incorrect

 79%|███████▊  | 352/447 [14:58<05:14,  3.31s/it]

Question: list last wednesday flight from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'WEDNESDAY');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias3.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 WHERE AIRPORT_SERVICEalias3.CITY_CODE IN ( SELECT CITYalias3.CITY_CODE FROM CITY AS CITYalias3 WHERE CITYalias3.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME = ( SELECT MAX( FLIGHTalias1.DEPARTURE_TIME ) FROM FLIGHT AS FLIGHTalias1 WHERE ( ( FLIGHTalias1.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias1.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias1.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ) ) ;
Incorrect

 79%|███████▉  | 353/447 [15:01<05:13,  3.33s/it]

Question: i need a flight from city_name1 to city_name0 leaving monday before departure_time0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.DEPARTURE_TIME < 'departure_time0' AND FLIGHT.FLIGHT_DAYS = (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = (SELECT DAYS.DAY_CODE FROM DAYS WHERE DAYS.DAY_NAME = 'MONDAY'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 79%|███████▉  | 354/447 [15:04<04:57,  3.20s/it]

Question: i need a flight departing from city_name1 to city_name0 leaving monday before departure_time0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'MONDAY') AND FLIGHT.DEPARTURE_TIME < departure_time0;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 79%|███████▉  | 355/447 [15:08<04:55,  3.21s/it]

Question: i need flight numbers for those flights departing on thursday before departure_time0 from city_name1 going to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = (SELECT DAYS.DAY_CODE FROM DAYS WHERE DAYS.DAY_NAME = 'THURSDAY')) AND FLIGHT.DEPARTURE_TIME  <  departure_time0;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 80%|███████▉  | 356/447 [15:11<04:49,  3.18s/it]

Question: list flights from city_name1 to city_name0 before 6am thursday morning
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.DEPARTURE_TIME < 600 AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = (SELECT DAYS.DAY_CODE FROM DAYS WHERE DAYS.DAY_NAME = 'THURSDAY'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 80%|███████▉  | 357/447 [15:14<04:46,  3.18s/it]

Question: can you find me another flight from city_name1 to city_name0 on saturday before departure_time0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.DEPARTURE_TIME < departure_time0 AND FLIGHT.FLIGHT_DAYS = (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = (SELECT DAYS.DAY_CODE FROM DAYS WHERE DAYS.DAY_NAME = 'SATURDAY'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 80%|████████  | 358/447 [15:17<04:44,  3.20s/it]

Question: i need flight information for a flight departing from city_name1 to city_name0 departing tuesday at departure_time0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.DEPARTURE_TIME = departure_time0 AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME IN (SELECT DAYS.DAY_NAME FROM DAYS WHERE DAYS.DAY_NAME = 'TUESDAY'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME = departure_time0 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 80%|████████  | 359/447 [15:20<04:37,  3.15s/it]

Question: i need flight and fare information for thursday departing prior to departure_time0 from city_name1 going to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = (SELECT DAYS.DAY_NAME FROM DAYS WHERE DAYS.DAY_NAME = 'THURSDAY')) AND FLIGHT.DEPARTURE_TIME < departure_time0;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.BASIS_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) ) AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ;
Incorrect

 81%|████████  | 360/447 [15:23<04:27,  3.08s/it]

Question: i need flight and fare information departing from city_name1 to city_name0 on thursday before departure_time0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'THURSDAY') AND FLIGHT.DEPARTURE_TIME  <  departure_time0;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.BASIS_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) ) AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ;
Incorrect

 81%|████████  | 361/447 [15:26<04:33,  3.18s/it]

Question: i need flight numbers and airlines for flights departing from city_name1 to city_name0 on thursday departing before departure_time0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID, FLIGHT.AIRLINE_CODE FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = (SELECT DAYS.DAY_CODE FROM DAYS WHERE DAYS.DAY_NAME = 'THURSDAY')) AND FLIGHT.DEPARTURE_TIME  <  'departure_time0';
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE , FLIGHTalias0.FLIGHT_NUMBER FROM AIRLINE AS AIRLINEalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.AIRLINE_CODE = AIRLINEalias0.AIRLINE_CODE ;
Incorrect

 81%|████████  | 362/447 [15:31<05:05,  3.59s/it]

Question: list airports in state_name2 state_name1 and state_name0 please
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.STATE_CODE = 'state_name2')) OR FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.STATE_CODE = 'state_name1')) OR FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.STATE_CODE = 'state_name0')) OR FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.STATE_CODE = 'state_name2')) OR FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.STATE_CODE = 'state_name1')) OR FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.STATE_CODE = 'state_name0'));
Correct SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.STATE_CODE IN ( SELECT STATEalias0.STATE_CODE FROM STATE AS STATEalias0 WHERE ( ( STATEalias0.STATE_NAME = "state_name0" OR STATEalias0.STATE_NAME = "state_name1" ) OR STATEalias0.STATE_NAME = "state_name2" ) ) ;
Incorrect

 81%|████████  | 363/447 [15:34<04:41,  3.36s/it]

Question: list state_name0 state_name1 state_name2 airports
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.STATE_CODE IN ('state_name0','state_name1','state_name2'))) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.STATE_CODE IN ('state_name0','state_name1','state_name2')));
Correct SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.STATE_CODE IN ( SELECT STATEalias0.STATE_CODE FROM STATE AS STATEalias0 WHERE ( ( STATEalias0.STATE_NAME = "state_name0" OR STATEalias0.STATE_NAME = "state_name1" ) OR STATEalias0.STATE_NAME = "state_name2" ) ) ;
Incorrect

 81%|████████▏ | 364/447 [15:36<03:59,  2.89s/it]

Question: list the state_name0 airport
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.STATE_CODE = 'state_name0'));
Correct SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.STATE_CODE IN ( SELECT STATEalias0.STATE_CODE FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "state_name0" ) ;
Incorrect

 82%|████████▏ | 365/447 [15:38<03:55,  2.88s/it]

Question: list state_name0 airports
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.STATE_CODE IN (SELECT STATE.STATE_CODE FROM STATE WHERE STATE.STATE_NAME = 'state_name0'))) OR FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.STATE_CODE IN (SELECT STATE.STATE_CODE FROM STATE WHERE STATE.STATE_NAME = 'state_name0')));
Correct SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.STATE_CODE IN ( SELECT STATEalias0.STATE_CODE FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "state_name0" ) ;
Incorrect

 82%|████████▏ | 366/447 [15:41<03:50,  2.84s/it]

Question: list state_name0 airports
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.STATE_CODE IN (SELECT STATE.STATE_CODE FROM STATE WHERE STATE.STATE_NAME = 'state_name0'))) OR FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.STATE_CODE IN (SELECT STATE.STATE_CODE FROM STATE WHERE STATE.STATE_NAME = 'state_name0')));
Correct SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.STATE_CODE IN ( SELECT STATEalias0.STATE_CODE FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "state_name0" ) ;
Incorrect

 82%|████████▏ | 367/447 [15:44<03:44,  2.80s/it]

Question: list airports in state_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.STATE_CODE IN (SELECT STATE.STATE_CODE FROM STATE WHERE STATE.STATE_NAME = 'state_name0')) OR FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.STATE_CODE IN (SELECT STATE.STATE_CODE FROM STATE WHERE STATE.STATE_NAME = 'state_name0'));
Correct SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.STATE_CODE IN ( SELECT STATEalias0.STATE_CODE FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "state_name0" ) ;
Incorrect

 82%|████████▏ | 368/447 [15:47<03:40,  2.79s/it]

Question: list airports in state_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.STATE_CODE IN (SELECT STATE.STATE_CODE FROM STATE WHERE STATE.STATE_NAME = 'state_name0')) OR FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.STATE_CODE IN (SELECT STATE.STATE_CODE FROM STATE WHERE STATE.STATE_NAME = 'state_name0'));
Correct SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.STATE_CODE IN ( SELECT STATEalias0.STATE_CODE FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "state_name0" ) ;
Incorrect

 83%|████████▎ | 369/447 [15:49<03:33,  2.74s/it]

Question: i need a ticket from city_name0 state_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0' AND CITY.STATE_CODE IN (SELECT STATE.STATE_CODE FROM STATE WHERE STATE.STATE_NAME = 'state_name0'))) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE ( CITYalias0.CITY_NAME = "city_name0" AND CITYalias0.STATE_CODE IN ( SELECT STATEalias0.STATE_CODE FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "state_name0" ) ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 83%|████████▎ | 370/447 [15:52<03:30,  2.74s/it]

Question: list flights from city_name0 state_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0' AND CITY.STATE_CODE IN (SELECT STATE.STATE_CODE FROM STATE WHERE STATE.STATE_NAME = 'state_name0'))) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE ( CITYalias0.CITY_NAME = "city_name0" AND CITYalias0.STATE_CODE IN ( SELECT STATEalias0.STATE_CODE FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "state_name0" ) ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 83%|████████▎ | 371/447 [15:55<03:27,  2.73s/it]

Question: list flights from city_name0 state_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0' AND CITY.STATE_CODE IN (SELECT STATE.STATE_CODE FROM STATE WHERE STATE.STATE_NAME = 'state_name0'))) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE ( CITYalias0.CITY_NAME = "city_name0" AND CITYalias0.STATE_CODE IN ( SELECT STATEalias0.STATE_CODE FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "state_name0" ) ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 83%|████████▎ | 372/447 [15:58<03:28,  2.78s/it]

Question: i'd like a one way ticket from city_name1 to city_name0 either wednesday evening or thursday morning
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'WEDNESDAY' OR DATE_DAY.DAY_NAME = 'THURSDAY');
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( ( ( FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.BASIS_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FAREalias0.FARE_ID IN ( SELECT FLIGHT_FAREalias0.FARE_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FLIGHT_ID IN ( SELECT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ) ) ) OR ( FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias1.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias1 WHERE FARE_BASISalias1.BASIS_DAYS IN ( SELECT DAYSalias2.DAYS_CODE FROM DAYS AS DAYSalias2 WHERE DAYSalias2.DAY_NAME IN ( SELECT DATE_DAYalias2.DAY_NAME FROM DATE_DAY AS DATE_DAYalias2 WHERE DATE_DAYalias2.DAY_NUMBER = day_number0 AND DATE_DAYalias2.MONTH_NUMBER = month_number0 AND DATE_DAYalias2.YEAR = year0 ) ) ) AND FAREalias0.FARE_ID IN ( SELECT FLIGHT_FAREalias1.FARE_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE FLIGHT_FAREalias1.FLIGHT_ID IN ( SELECT FLIGHTalias1.FLIGHT_ID FROM FLIGHT AS FLIGHTalias1 WHERE ( ( ( ( FLIGHTalias1.DEPARTURE_TIME BETWEEN departure_time2 AND departure_time3 ) AND FLIGHTalias1.FLIGHT_DAYS IN ( SELECT DAYSalias3.DAYS_CODE FROM DAYS AS DAYSalias3 WHERE DAYSalias3.DAY_NAME IN ( SELECT DATE_DAYalias3.DAY_NAME FROM DATE_DAY AS DATE_DAYalias3 WHERE DATE_DAYalias3.DAY_NUMBER = day_number0 AND DATE_DAYalias3.MONTH_NUMBER = month_number0 AND DATE_DAYalias3.YEAR = year0 ) ) ) AND FLIGHTalias1.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias3.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 WHERE AIRPORT_SERVICEalias3.CITY_CODE IN ( SELECT CITYalias3.CITY_CODE FROM CITY AS CITYalias3 WHERE CITYalias3.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias1.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name1" ) ) ) ) ) ) ) AND FAREalias0.ROUND_TRIP_REQUIRED = "round_trip_required0" ) ;
Incorrect

 83%|████████▎ | 373/447 [16:02<03:49,  3.10s/it]

Question: now show me all round trip flights from city_name1 to city_name0 that arrive before arrival_time0 in city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.ARRIVAL_TIME < 'arrival_time0' AND FLIGHT.FLIGHT_ID IN (SELECT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.ARRIVAL_TIME < arrival_time0 AND FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias0.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FARE_ID IN ( SELECT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( FAREalias0.ROUND_TRIP_COST IS NOT NULL ) ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 84%|████████▎ | 374/447 [16:05<04:03,  3.33s/it]

Question: show me the cheapest economy flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.ECONOMY_CLASS_FARE = (SELECT MIN(ECONOMY_CLASS_FARE) FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias0.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FARE_ID IN ( SELECT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( ( FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias1.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias1 WHERE FARE_BASISalias1.ECONOMY = "economy0" ) AND FAREalias0.FARE_ID IN ( SELECT FLIGHT_FAREalias2.FARE_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias2 WHERE FLIGHT_FAREalias2.FLIGHT_ID IN ( SELECT FLIGHTalias2.FLIGHT_ID FROM FLIGHT AS FLIGHTalias2 WHERE ( FLIGHTalias2.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias4.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias4 WHERE AIRPORT_SERVICEalias4.CITY_CODE IN ( SELECT CITYalias4.CITY_CODE FROM CITY AS CITYalias4 WHERE CITYalias4.CITY_NAME = "city_name0" ) ) AND FLIGHTalias2.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias5.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias5 WHERE AIRPORT_SERVICEalias5.CITY_CODE IN ( SELECT CITYalias5.CITY_CODE FROM CITY AS CITYalias5 WHERE CITYalias5.CITY_NAME = "city_name1" ) ) ) ) ) ) AND FAREalias0.ONE_DIRECTION_COST = ( SELECT MIN( FAREalias1.ONE_DIRECTION_COST ) FROM FARE AS FAREalias1 WHERE ( FAREalias1.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.ECONOMY = "economy0" ) AND FAREalias1.FARE_ID IN ( SELECT FLIGHT_FAREalias1.FARE_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE FLIGHT_FAREalias1.FLIGHT_ID IN ( SELECT FLIGHTalias1.FLIGHT_ID FROM FLIGHT AS FLIGHTalias1 WHERE ( FLIGHTalias1.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name0" ) ) AND FLIGHTalias1.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias3.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 WHERE AIRPORT_SERVICEalias3.CITY_CODE IN ( SELECT CITYalias3.CITY_CODE FROM CITY AS CITYalias3 WHERE CITYalias3.CITY_NAME = "city_name1" ) ) ) ) ) ) ) ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) ;
Incorrect

 84%|████████▍ | 375/447 [16:08<03:52,  3.22s/it]

Question: and from city_name1 to city_name0 before departure_time0 flight_days0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.DEPARTURE_TIME < 'departure_time0' AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'flight_days0');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.FLIGHT_DAYS = "flight_days0" ) ;
Incorrect

 84%|████████▍ | 376/447 [16:11<03:40,  3.11s/it]

Question: show me the nonstop flights and fares from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.NUM_STOPS = 0;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.STOPS = stops0 ) AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ;
Incorrect

 84%|████████▍ | 377/447 [16:14<03:36,  3.09s/it]

Question: show me weekday flights from city_name1 to city_name0 one way
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME IN (SELECT DAYS.DAY_NAME FROM DAYS WHERE DAYS.WEEKDAY = 'Y'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias6.DAYS_CODE FROM DAYS AS DAYSalias6 WHERE DAYSalias6.DAY_NAME = "day_name0" ) AND FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias3.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias3 WHERE FLIGHT_FAREalias3.FARE_ID IN ( SELECT FAREalias3.FARE_ID FROM FARE AS FAREalias3 WHERE ( FAREalias3.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias3.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias3 WHERE FARE_BASISalias3.BASIS_DAYS IN ( SELECT DAYSalias7.DAYS_CODE FROM DAYS AS DAYSalias7 WHERE DAYSalias7.DAY_NAME = "day_name0" ) ) AND FAREalias3.ROUND_TRIP_REQUIRED = "round_trip_required0" ) ) ) ) OR ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias8.DAYS_CODE FROM DAYS AS DAYSalias8 WHERE DAYSalias8.DAY_NAME = "day_name1" ) AND FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias4.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias4 WHERE FLIGHT_FAREalias4.FARE_ID IN ( SELECT FAREalias4.FARE_ID FROM FARE AS FAREalias4 WHERE ( FAREalias4.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias4.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias4 WHERE FARE_BASISalias4.BASIS_DAYS IN ( SELECT DAYSalias9.DAYS_CODE FROM DAYS AS DAYSalias9 WHERE DAYSalias9.DAY_NAME = "day_name1" ) ) AND FAREalias4.ROUND_TRIP_REQUIRED = "round_trip_required0" ) ) ) ) ) OR ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias4.DAYS_CODE FROM DAYS AS DAYSalias4 WHERE DAYSalias4.DAY_NAME = "day_name2" ) AND FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias2.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias2 WHERE FLIGHT_FAREalias2.FARE_ID IN ( SELECT FAREalias2.FARE_ID FROM FARE AS FAREalias2 WHERE ( FAREalias2.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias2.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias2 WHERE FARE_BASISalias2.BASIS_DAYS IN ( SELECT DAYSalias5.DAYS_CODE FROM DAYS AS DAYSalias5 WHERE DAYSalias5.DAY_NAME = "day_name2" ) ) AND FAREalias2.ROUND_TRIP_REQUIRED = "round_trip_required0" ) ) ) ) ) OR ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias2.DAYS_CODE FROM DAYS AS DAYSalias2 WHERE DAYSalias2.DAY_NAME = "day_name3" ) AND FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias1.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE FLIGHT_FAREalias1.FARE_ID IN ( SELECT FAREalias1.FARE_ID FROM FARE AS FAREalias1 WHERE ( FAREalias1.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias1.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias1 WHERE FARE_BASISalias1.BASIS_DAYS IN ( SELECT DAYSalias3.DAYS_CODE FROM DAYS AS DAYSalias3 WHERE DAYSalias3.DAY_NAME = "day_name3" ) ) AND FAREalias1.ROUND_TRIP_REQUIRED = "round_trip_required0" ) ) ) ) ) OR ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME = "day_name4" ) AND FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias0.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FARE_ID IN ( SELECT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.BASIS_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME = "day_name4" ) ) AND FAREalias0.ROUND_TRIP_REQUIRED = "round_trip_required0" ) ) ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 85%|████████▍ | 378/447 [16:17<03:30,  3.05s/it]

Question: show me weekday flights from city_name1 to city_name0 one way
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME IN (SELECT DAYS.DAY_NAME FROM DAYS WHERE DAYS.DAY_NAME IN ('MONDAY','TUESDAY','WEDNESDAY','THURSDAY','FRIDAY')));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias6.DAYS_CODE FROM DAYS AS DAYSalias6 WHERE DAYSalias6.DAY_NAME = "day_name0" ) AND FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias3.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias3 WHERE FLIGHT_FAREalias3.FARE_ID IN ( SELECT FAREalias3.FARE_ID FROM FARE AS FAREalias3 WHERE ( FAREalias3.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias3.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias3 WHERE FARE_BASISalias3.BASIS_DAYS IN ( SELECT DAYSalias7.DAYS_CODE FROM DAYS AS DAYSalias7 WHERE DAYSalias7.DAY_NAME = "day_name0" ) ) AND FAREalias3.ROUND_TRIP_REQUIRED = "round_trip_required0" ) ) ) ) OR ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias8.DAYS_CODE FROM DAYS AS DAYSalias8 WHERE DAYSalias8.DAY_NAME = "day_name1" ) AND FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias4.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias4 WHERE FLIGHT_FAREalias4.FARE_ID IN ( SELECT FAREalias4.FARE_ID FROM FARE AS FAREalias4 WHERE ( FAREalias4.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias4.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias4 WHERE FARE_BASISalias4.BASIS_DAYS IN ( SELECT DAYSalias9.DAYS_CODE FROM DAYS AS DAYSalias9 WHERE DAYSalias9.DAY_NAME = "day_name1" ) ) AND FAREalias4.ROUND_TRIP_REQUIRED = "round_trip_required0" ) ) ) ) ) OR ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias4.DAYS_CODE FROM DAYS AS DAYSalias4 WHERE DAYSalias4.DAY_NAME = "day_name2" ) AND FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias2.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias2 WHERE FLIGHT_FAREalias2.FARE_ID IN ( SELECT FAREalias2.FARE_ID FROM FARE AS FAREalias2 WHERE ( FAREalias2.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias2.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias2 WHERE FARE_BASISalias2.BASIS_DAYS IN ( SELECT DAYSalias5.DAYS_CODE FROM DAYS AS DAYSalias5 WHERE DAYSalias5.DAY_NAME = "day_name2" ) ) AND FAREalias2.ROUND_TRIP_REQUIRED = "round_trip_required0" ) ) ) ) ) OR ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias2.DAYS_CODE FROM DAYS AS DAYSalias2 WHERE DAYSalias2.DAY_NAME = "day_name3" ) AND FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias1.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE FLIGHT_FAREalias1.FARE_ID IN ( SELECT FAREalias1.FARE_ID FROM FARE AS FAREalias1 WHERE ( FAREalias1.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias1.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias1 WHERE FARE_BASISalias1.BASIS_DAYS IN ( SELECT DAYSalias3.DAYS_CODE FROM DAYS AS DAYSalias3 WHERE DAYSalias3.DAY_NAME = "day_name3" ) ) AND FAREalias1.ROUND_TRIP_REQUIRED = "round_trip_required0" ) ) ) ) ) OR ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME = "day_name4" ) AND FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias0.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FARE_ID IN ( SELECT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.BASIS_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME = "day_name4" ) ) AND FAREalias0.ROUND_TRIP_REQUIRED = "round_trip_required0" ) ) ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 85%|████████▍ | 379/447 [16:19<03:05,  2.72s/it]

Question: list city_name0
Predicted SQL: SELECT DISTINCT FLIGHT_ID FROM FLIGHT WHERE FROM_AIRPORT IN (SELECT AIRPORT_CODE FROM AIRPORT_SERVICE WHERE CITY_CODE IN (SELECT CITY_CODE FROM CITY WHERE CITY_NAME = 'city_name0')) OR TO_AIRPORT IN (SELECT AIRPORT_CODE FROM AIRPORT_SERVICE WHERE CITY_CODE IN (SELECT CITY_CODE FROM CITY WHERE CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ;
Incorrect

 85%|████████▌ | 380/447 [16:22<02:57,  2.65s/it]

Question: list city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) OR FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ;
Incorrect

 85%|████████▌ | 381/447 [16:24<02:42,  2.46s/it]

Question: list flights from airport_code0 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = 'airport_code0' AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) ;
Incorrect

 85%|████████▌ | 382/447 [16:27<02:50,  2.63s/it]

Question: list flights from city_name1 to city_name0 with fares on monday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME IN (SELECT DAYS.DAY_NAME FROM DAYS WHERE DAYS.DAY_NAME = 'MONDAY'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.BASIS_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) ) AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ;
Incorrect

 86%|████████▌ | 383/447 [16:30<03:07,  2.93s/it]

Question: give me the flights and fares for a trip to city_name0 from city_name1 on wednesday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = (SELECT DAYS.DAY_CODE FROM DAYS WHERE DAYS.DAY_NAME = 'WEDNESDAY'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.BASIS_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) ) AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ;
Incorrect

 86%|████████▌ | 384/447 [16:33<02:55,  2.79s/it]

Question: list flights from city_name0 on saturday afternoon
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'SATURDAY') AND FLIGHT.DEPARTURE_TIME BETWEEN 1200 AND 1800;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 86%|████████▌ | 385/447 [16:35<02:35,  2.51s/it]

Question: list type of aircraft for all flights from city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.BASIC_TYPE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE IN ( SELECT EQUIPMENT_SEQUENCEalias0.AIRCRAFT_CODE FROM EQUIPMENT_SEQUENCE AS EQUIPMENT_SEQUENCEalias0 WHERE EQUIPMENT_SEQUENCEalias0.AIRCRAFT_CODE_SEQUENCE IN ( SELECT FLIGHTalias0.AIRCRAFT_CODE_SEQUENCE FROM FLIGHT AS FLIGHTalias0 WHERE FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) ) ;
Incorrect

 86%|████████▋ | 386/447 [16:39<03:06,  3.06s/it]

Question: list flights and fares from city_name0 to city_name1 round trip leaving saturday returning next saturday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.FLIGHT_DAYS = (SELECT DATE_DAY.DAY_CODE FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'SATURDAY') INTERSECT SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS = (SELECT DATE_DAY.DAY_CODE FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'SATURDAY');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) OR ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name1" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias3.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 WHERE AIRPORT_SERVICEalias3.CITY_CODE IN ( SELECT CITYalias3.CITY_CODE FROM CITY AS CITYalias3 WHERE CITYalias3.CITY_NAME = "city_name0" ) ) ) ) AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND ( ( FAREalias0.ROUND_TRIP_COST IS NOT NULL ) AND FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.BASIS_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) ) ) AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ;
Incorrect

 87%|████████▋ | 387/447 [16:42<03:05,  3.09s/it]

Question: list flights from city_name1 to city_name0 on saturday of fare basis code of fare_basis_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS = (SELECT DATE_DAY.DAY_CODE FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = (SELECT DAYS.DAY_NAME FROM DAYS WHERE DAYS.DAYS = 'SATURDAY')) AND FLIGHT.FARE_BASIS_CODE = 'fare_basis_code0';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias0.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FARE_ID IN ( SELECT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( FAREalias0.FARE_BASIS_CODE = "fare_basis_code0" AND FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.BASIS_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) ) ) ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 87%|████████▋ | 388/447 [16:45<03:04,  3.12s/it]

Question: list seating capacities of airline_code0 flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.SEATING_CAPACITY FROM FLIGHT WHERE FLIGHT.FLIGHT_ID IN (SELECT FLIGHT_ID FROM FLIGHT, AIRPORT_SERVICE AS AirportService0, CITY AS City0 WHERE FLIGHT.FROM_AIRPORT = AirportService0.AIRPORT_CODE AND AirportService0.CITY_CODE = City0.CITY_CODE AND City0.CITY_NAME = 'city_name0' AND FLIGHT.FLIGHT_ID IN (SELECT FLIGHT_ID FROM FLIGHT, AIRPORT_SERVICE AS AirportService1, CITY AS City1 WHERE FLIGHT.TO_AIRPORT = AirportService1.AIRPORT_CODE AND AirportService1.CITY_CODE = City1.CITY_CODE AND City1.CITY_NAME = 'city_name1' AND FLIGHT.AIRLINE_CODE = 'airline_code0'));
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE IN ( SELECT EQUIPMENT_SEQUENCEalias0.AIRCRAFT_CODE FROM EQUIPMENT_SEQUENCE AS EQUIPMENT_SEQUENCEalias0 WHERE EQUIPMENT_SEQUENCEalias0.AIRCRAFT_CODE_SEQUENCE IN ( SELECT FLIGHTalias0.AIRCRAFT_CODE_SEQUENCE FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) ) ) ;
Incorrect

 87%|████████▋ | 389/447 [16:48<02:56,  3.05s/it]

Question: list airline_code0 flights from city_name0 to city_name1 with aircraft type
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.AIRCRAFT_CODE_ID = 'airline_code0';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRCRAFT AS AIRCRAFTalias0 , EQUIPMENT_SEQUENCE AS EQUIPMENT_SEQUENCEalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) AND EQUIPMENT_SEQUENCEalias0.AIRCRAFT_CODE = AIRCRAFTalias0.AIRCRAFT_CODE AND FLIGHTalias0.AIRCRAFT_CODE_SEQUENCE = EQUIPMENT_SEQUENCEalias0.AIRCRAFT_CODE_SEQUENCE ;
Incorrect

 87%|████████▋ | 390/447 [16:53<03:16,  3.45s/it]

Question: give me the round trip flights from city_name1 to city_name0 next wednesday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'WEDNESDAY') INTERSECT SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'WEDNESDAY');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias0.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FARE_ID IN ( SELECT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.BASIS_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) ) AND FAREalias0.ROUND_TRIP_COST IS NOT NULL ) ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 87%|████████▋ | 391/447 [16:57<03:27,  3.70s/it]

Question: give me the fares for round trip flights from city_name1 to city_name0 next wednesday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'WEDNESDAY') UNION SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'WEDNESDAY');
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( ( FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.BASIS_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FAREalias0.FARE_ID IN ( SELECT FLIGHT_FAREalias0.FARE_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FLIGHT_ID IN ( SELECT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ) ) ) AND FAREalias0.ROUND_TRIP_COST IS NOT NULL ) ;
Incorrect

 88%|████████▊ | 392/447 [17:00<03:08,  3.43s/it]

Question: give me the fares from city_name1 to city_name0 next sunday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'SUNDAY');
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.BASIS_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FAREalias0.FARE_ID IN ( SELECT FLIGHT_FAREalias0.FARE_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FLIGHT_ID IN ( SELECT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ) ) ) ;
Incorrect

 88%|████████▊ | 393/447 [17:03<03:04,  3.42s/it]

Question: give me the meal flights departing early saturday morning from city_name1 to city_name0 nonstop
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS = (SELECT DATE_DAY.DAY_CODE FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = (SELECT DAYS.DAY_NAME FROM DAYS WHERE DAYS.DAY_CODE = 7)) AND FLIGHT.DEPARTURE_TIME < 1200 AND FLIGHT.STOPS = 0 AND FLIGHT.MEAL_CODE = 'M';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.MEAL_CODE IN ( SELECT FOOD_SERVICEalias0.MEAL_CODE FROM FOOD_SERVICE AS FOOD_SERVICEalias0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) AND FLIGHTalias0.STOPS = stops0 ) ;
Incorrect

 88%|████████▊ | 394/447 [17:06<02:51,  3.24s/it]

Question: give me the flights from city_name1 to city_name0 saturday morning that have meals
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'SATURDAY') AND FLIGHT.MEAL = 'YES';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.MEAL_CODE IN ( SELECT FOOD_SERVICEalias0.MEAL_CODE FROM FOOD_SERVICE AS FOOD_SERVICEalias0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 88%|████████▊ | 395/447 [17:09<02:52,  3.32s/it]

Question: give me the saturday morning flights with meals from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME IN (SELECT DAYS.DAY_NAME FROM DAYS WHERE DAYS.DAY_NAME = 'SATURDAY')) AND FLIGHT.MEAL_CODE  =  'M';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.MEAL_CODE IN ( SELECT FOOD_SERVICEalias0.MEAL_CODE FROM FOOD_SERVICE AS FOOD_SERVICEalias0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 89%|████████▊ | 396/447 [17:12<02:40,  3.15s/it]

Question: give me flights from city_name1 to city_name0 that have meals on airline_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.AIRLINE_CODE = 'airline_code0' AND FLIGHT.MEAL_CODE <> 'N';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.MEAL_CODE IN ( SELECT FOOD_SERVICEalias0.MEAL_CODE FROM FOOD_SERVICE AS FOOD_SERVICEalias0 ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) ;
Incorrect

 89%|████████▉ | 397/447 [17:17<03:01,  3.63s/it]

Question: give me the cheapest round trip flights from city_name1 to city_name0 around month_number0 day_number0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.MONTH_NUMBER = month_number0 AND DATE_DAY.DAY_NUMBER = day_number0) INTERSECT SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.MONTH_NUMBER = month_number0 AND DATE_DAY.DAY_NUMBER = day_number0);
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias0.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FARE_ID IN ( SELECT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( ( FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias1.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias1 WHERE FARE_BASISalias1.BASIS_DAYS IN ( SELECT DAYSalias3.DAYS_CODE FROM DAYS AS DAYSalias3 WHERE DAYSalias3.DAY_NAME IN ( SELECT DATE_DAYalias3.DAY_NAME FROM DATE_DAY AS DATE_DAYalias3 WHERE DATE_DAYalias3.DAY_NUMBER = day_number0 AND DATE_DAYalias3.MONTH_NUMBER = month_number0 AND DATE_DAYalias3.YEAR = year0 ) ) ) AND FAREalias0.FARE_ID IN ( SELECT FLIGHT_FAREalias2.FARE_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias2 WHERE FLIGHT_FAREalias2.FLIGHT_ID IN ( SELECT FLIGHTalias2.FLIGHT_ID FROM FLIGHT AS FLIGHTalias2 WHERE ( ( FLIGHTalias2.FLIGHT_DAYS IN ( SELECT DAYSalias4.DAYS_CODE FROM DAYS AS DAYSalias4 WHERE DAYSalias4.DAY_NAME IN ( SELECT DATE_DAYalias4.DAY_NAME FROM DATE_DAY AS DATE_DAYalias4 WHERE DATE_DAYalias4.DAY_NUMBER = day_number0 AND DATE_DAYalias4.MONTH_NUMBER = month_number0 AND DATE_DAYalias4.YEAR = year0 ) ) AND FLIGHTalias2.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias5.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias5 WHERE AIRPORT_SERVICEalias5.CITY_CODE IN ( SELECT CITYalias5.CITY_CODE FROM CITY AS CITYalias5 WHERE CITYalias5.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias2.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias4.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias4 WHERE AIRPORT_SERVICEalias4.CITY_CODE IN ( SELECT CITYalias4.CITY_CODE FROM CITY AS CITYalias4 WHERE CITYalias4.CITY_NAME = "city_name1" ) ) ) ) ) ) AND FAREalias0.ROUND_TRIP_COST = ( SELECT MIN( FAREalias1.ROUND_TRIP_COST ) FROM FARE AS FAREalias1 WHERE ( FAREalias1.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.BASIS_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) ) AND FAREalias1.FARE_ID IN ( SELECT FLIGHT_FAREalias1.FARE_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE FLIGHT_FAREalias1.FLIGHT_ID IN ( SELECT FLIGHTalias1.FLIGHT_ID FROM FLIGHT AS FLIGHTalias1 WHERE ( ( FLIGHTalias1.FLIGHT_DAYS IN ( SELECT DAYSalias2.DAYS_CODE FROM DAYS AS DAYSalias2 WHERE DAYSalias2.DAY_NAME IN ( SELECT DATE_DAYalias2.DAY_NAME FROM DATE_DAY AS DATE_DAYalias2 WHERE DATE_DAYalias2.DAY_NUMBER = day_number0 AND DATE_DAYalias2.MONTH_NUMBER = month_number0 AND DATE_DAYalias2.YEAR = year0 ) ) AND FLIGHTalias1.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias3.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 WHERE AIRPORT_SERVICEalias3.CITY_CODE IN ( SELECT CITYalias3.CITY_CODE FROM CITY AS CITYalias3 WHERE CITYalias3.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias1.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name1" ) ) ) ) ) ) ) ) ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 89%|████████▉ | 398/447 [17:22<03:24,  4.18s/it]

Question: cheapest one way fare from city_name1 to city_name0 on month_number0 day_number0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.MONTH_NUMBER = month_number0 AND DATE_DAY.DAY_NUMBER = day_number0) AND FLIGHT.FLIGHT_ID IN (SELECT FARE.FLIGHT_ID FROM FARE WHERE FARE.ONE_DIRECTION_COST = (SELECT MIN(FARE.ONE_DIRECTION_COST) FROM FARE WHERE FARE.FLIGHT_ID IN (SELECT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.MONTH_NUMBER = month_number0 AND DATE_DAY.DAY_NUMBER = day_number0)))) ;
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( ( FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias1.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias1 WHERE FARE_BASISalias1.BASIS_DAYS IN ( SELECT DAYSalias2.DAYS_CODE FROM DAYS AS DAYSalias2 WHERE DAYSalias2.DAY_NAME IN ( SELECT DATE_DAYalias2.DAY_NAME FROM DATE_DAY AS DATE_DAYalias2 WHERE DATE_DAYalias2.DAY_NUMBER = day_number0 AND DATE_DAYalias2.MONTH_NUMBER = month_number0 AND DATE_DAYalias2.YEAR = year0 ) ) ) AND FAREalias0.FARE_ID IN ( SELECT FLIGHT_FAREalias1.FARE_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE FLIGHT_FAREalias1.FLIGHT_ID IN ( SELECT FLIGHTalias1.FLIGHT_ID FROM FLIGHT AS FLIGHTalias1 WHERE ( ( FLIGHTalias1.FLIGHT_DAYS IN ( SELECT DAYSalias3.DAYS_CODE FROM DAYS AS DAYSalias3 WHERE DAYSalias3.DAY_NAME IN ( SELECT DATE_DAYalias3.DAY_NAME FROM DATE_DAY AS DATE_DAYalias3 WHERE DATE_DAYalias3.DAY_NUMBER = day_number0 AND DATE_DAYalias3.MONTH_NUMBER = month_number0 AND DATE_DAYalias3.YEAR = year0 ) ) AND FLIGHTalias1.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias3.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 WHERE AIRPORT_SERVICEalias3.CITY_CODE IN ( SELECT CITYalias3.CITY_CODE FROM CITY AS CITYalias3 WHERE CITYalias3.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias1.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name1" ) ) ) ) ) ) AND FAREalias0.ONE_DIRECTION_COST = ( SELECT MIN( FAREalias1.ONE_DIRECTION_COST ) FROM FARE AS FAREalias1 WHERE ( FAREalias1.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.BASIS_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FAREalias1.FARE_ID IN ( SELECT FLIGHT_FAREalias0.FARE_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FLIGHT_ID IN ( SELECT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ) ) ) AND FAREalias1.ROUND_TRIP_REQUIRED = "round_trip_required0" ) AND FAREalias0.ROUND_TRIP_REQUIRED = "round_trip_required0" ) ;
Incorrect

 89%|████████▉ | 399/447 [17:25<03:02,  3.80s/it]

Question: is there a fare from city_name0 to city_name1 under one_direction_cost0 dollars
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.FLIGHT_ID IN (SELECT FARE.FLIGHT_ID FROM FARE WHERE FARE.ONE_DIRECTION_COST < one_direction_cost0);
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( FAREalias0.FARE_ID IN ( SELECT FLIGHT_FAREalias0.FARE_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FLIGHT_ID IN ( SELECT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) ) ) AND FAREalias0.ONE_DIRECTION_COST < one_direction_cost0 ) ;
Incorrect

 89%|████████▉ | 400/447 [17:30<03:11,  4.08s/it]

Question: city_name1 to city_name0 and city_name2 to city_name0 on sunday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME IN (SELECT DAYS.DAY_NAME FROM DAYS WHERE DAYS.DAY_NAME = 'SUNDAY')) UNION SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name2')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME IN (SELECT DAYS.DAY_NAME FROM DAYS WHERE DAYS.DAY_NAME = 'SUNDAY'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name0" ) ) ) AND ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) OR FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name2" ) ) ) ) ;
Incorrect

 90%|████████▉ | 401/447 [17:35<03:16,  4.27s/it]

Question: city_name1 to city_name0 and city_name2 to city_name0 on sunday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS = (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = (SELECT DAYS.DAY_CODE FROM DAYS WHERE DAYS.DAY_NAME = 'SUNDAY')) UNION SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name2')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS = (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = (SELECT DAYS.DAY_CODE FROM DAYS WHERE DAYS.DAY_NAME = 'SUNDAY'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name0" ) ) ) AND ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) OR FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name2" ) ) ) ) ;
Incorrect

 90%|████████▉ | 402/447 [17:38<02:58,  3.96s/it]

Question: city_name1 to city_name0 afternoon day_name0
Predicted SQL: SELECT DISTINCT FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'day_name0') AND FLIGHT.DEPARTURE_TIME between 1200 and 1800;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT AS AIRPORTalias0 , AIRPORT AS AIRPORTalias1 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = AIRPORT_SERVICEalias0.AIRPORT_CODE AND AIRPORTalias1.AIRPORT_CODE = AIRPORT_SERVICEalias1.AIRPORT_CODE AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND DAYSalias0.DAY_NAME = "day_name0" AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORTalias1.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORTalias0.AIRPORT_CODE ;
Incorrect

 90%|█████████ | 403/447 [17:41<02:44,  3.73s/it]

Question: city_name1 to city_name0 afternoon on day_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_CODE FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'day_name0') AND FLIGHT.DEPARTURE_TIME between 1200 and 1800;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT AS AIRPORTalias0 , AIRPORT AS AIRPORTalias1 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = AIRPORT_SERVICEalias0.AIRPORT_CODE AND AIRPORTalias1.AIRPORT_CODE = AIRPORT_SERVICEalias1.AIRPORT_CODE AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND DAYSalias0.DAY_NAME = "day_name0" AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORTalias1.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORTalias0.AIRPORT_CODE ;
Incorrect

 90%|█████████ | 404/447 [17:44<02:28,  3.45s/it]

Question: a flight from city_name1 to city_name0 arriving between arrival_time1 and arrival_time0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.ARRIVAL_TIME BETWEEN arrival_time1 AND arrival_time0;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.ARRIVAL_TIME <= arrival_time0 AND FLIGHTalias0.ARRIVAL_TIME >= arrival_time1 ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 91%|█████████ | 405/447 [17:46<02:11,  3.12s/it]

Question: how many airline_code0 flights leave city_name0 state_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0' AND CITY.STATE_CODE = 'state_code0')) AND FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT DISTINCT COUNT( * ) FROM FLIGHT AS FLIGHTalias0 WHERE ( FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE ( CITYalias0.CITY_NAME = "city_name0" AND CITYalias0.STATE_CODE IN ( SELECT STATEalias0.STATE_CODE FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_CODE = "state_code0" ) ) ) ) ) ;
Incorrect

 91%|█████████ | 406/447 [17:48<01:48,  2.66s/it]

Question: how many flights does airline_code0 have leaving airport_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = 'airport_code0' AND FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT DISTINCT COUNT( * ) FROM FLIGHT AS FLIGHTalias0 WHERE ( FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" ) ) ;
Incorrect

 91%|█████████ | 407/447 [17:50<01:44,  2.61s/it]

Question: i would like a connecting flight from city_name1 to city_name0 leaving after departure_time0 o'clock
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.DEPARTURE_TIME > departure_time000;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.CONNECTIONS > connections0 ) ;
Incorrect

 91%|█████████▏| 408/447 [17:53<01:47,  2.76s/it]

Question: show me the class_type0 class and class_type1 flights between airport_code0 and city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FLIGHT_ID IN (SELECT FLIGHT.FLIGHT_ID FROM FLIGHT, AIRPORT_SERVICE AS airport0 WHERE airport0.AIRPORT_CODE = 'airport_code0' AND FLIGHT.FROM_AIRPORT = airport0.AIRPORT_CODE AND FLIGHT.CLASS = 'class_type0') AND FLIGHT.FLIGHT_ID IN (SELECT FLIGHT.FLIGHT_ID FROM FLIGHT, AIRPORT_SERVICE AS airport0, CITY AS city0 WHERE city0.CITY_NAME = 'city_name0' AND airport0.CITY_CODE = city0.CITY_CODE AND FLIGHT.TO_AIRPORT = airport0.AIRPORT_CODE AND FLIGHT.CLASS = 'class_type1');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias0.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FARE_ID IN ( SELECT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( ( FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.CLASS_TYPE = "class_type0" ) ) OR ( FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias1.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias1 WHERE FARE_BASISalias1.CLASS_TYPE = "class_type1" ) ) ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" ) ) ;
Incorrect

 91%|█████████▏| 409/447 [17:56<01:43,  2.71s/it]

Question: show me the class_type0 class and class_type1 flights from airport_code0 airport to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = 'airport_code0' AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'class_type0' OR DATE_DAY.DAY_NAME = 'class_type1');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias0.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FARE_ID IN ( SELECT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( ( FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.CLASS_TYPE = "class_type0" ) ) OR ( FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias1.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias1 WHERE FARE_BASISalias1.CLASS_TYPE = "class_type1" ) ) ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" ) ) ;
Incorrect

 92%|█████████▏| 410/447 [18:00<01:50,  2.98s/it]

Question: show me the class_type0 class and class_type1 flights from airport_code0 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = 'airport_code0' AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'class_type0') INTERSECT SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = 'airport_code0' AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'class_type1');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias0.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FARE_ID IN ( SELECT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( ( FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.CLASS_TYPE = "class_type0" ) ) OR ( FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias1.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias1 WHERE FARE_BASISalias1.CLASS_TYPE = "class_type1" ) ) ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" ) ) ;
Incorrect

 92%|█████████▏| 411/447 [18:01<01:33,  2.60s/it]

Question: are meals ever served on airline_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRLINE_CODE = 'airline_code0' AND FLIGHT.MEAL_CODE <> 'N';
Correct SQL: SELECT DISTINCT FOOD_SERVICEalias0.COMPARTMENT , FOOD_SERVICEalias0.MEAL_CODE , FOOD_SERVICEalias0.MEAL_NUMBER FROM FOOD_SERVICE AS FOOD_SERVICEalias0 WHERE FOOD_SERVICEalias0.MEAL_CODE IN ( SELECT FLIGHTalias0.MEAL_CODE FROM FLIGHT AS FLIGHTalias0 WHERE ( FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) ) ;
Incorrect

 92%|█████████▏| 412/447 [18:03<01:20,  2.30s/it]

Question: are snacks served on airline_code0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRLINE_CODE = 'airline_code0' AND FLIGHT.MEAL_CODE  =  'S';
Correct SQL: SELECT DISTINCT FOOD_SERVICEalias0.COMPARTMENT , FOOD_SERVICEalias0.MEAL_CODE , FOOD_SERVICEalias0.MEAL_NUMBER FROM FOOD_SERVICE AS FOOD_SERVICEalias0 WHERE ( FOOD_SERVICEalias0.MEAL_CODE IN ( SELECT FLIGHTalias0.MEAL_CODE FROM FLIGHT AS FLIGHTalias0 WHERE ( FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) ) AND FOOD_SERVICEalias0.MEAL_DESCRIPTION = "meal_description0" ) ;
Incorrect

 92%|█████████▏| 413/447 [18:06<01:29,  2.63s/it]

Question: what is the least expensive fare from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.FLIGHT_ID IN (SELECT FARE.FLIGHT_ID FROM FARE ORDER BY FARE.FARE ASC LIMIT 1);
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( FAREalias0.FARE_ID IN ( SELECT FLIGHT_FAREalias1.FARE_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE FLIGHT_FAREalias1.FLIGHT_ID IN ( SELECT FLIGHTalias1.FLIGHT_ID FROM FLIGHT AS FLIGHTalias1 WHERE ( FLIGHTalias1.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name0" ) ) AND FLIGHTalias1.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias3.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 WHERE AIRPORT_SERVICEalias3.CITY_CODE IN ( SELECT CITYalias3.CITY_CODE FROM CITY AS CITYalias3 WHERE CITYalias3.CITY_NAME = "city_name1" ) ) ) ) ) AND FAREalias0.ONE_DIRECTION_COST = ( SELECT MIN( FAREalias1.ONE_DIRECTION_COST ) FROM FARE AS FAREalias1 WHERE FAREalias1.FARE_ID IN ( SELECT FLIGHT_FAREalias0.FARE_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FLIGHT_ID IN ( SELECT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) ) ) ) ) ;
Incorrect

 93%|█████████▎| 414/447 [18:10<01:33,  2.83s/it]

Question: list the cheapest fare from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.FLIGHT_ID IN (SELECT FARE.FLIGHT_ID FROM FARE WHERE FARE.FARE_ID IN ( SELECT MIN(FARE.FARE_ID) FROM FARE));
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( FAREalias0.FARE_ID IN ( SELECT FLIGHT_FAREalias1.FARE_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE FLIGHT_FAREalias1.FLIGHT_ID IN ( SELECT FLIGHTalias1.FLIGHT_ID FROM FLIGHT AS FLIGHTalias1 WHERE ( FLIGHTalias1.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name0" ) ) AND FLIGHTalias1.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias3.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 WHERE AIRPORT_SERVICEalias3.CITY_CODE IN ( SELECT CITYalias3.CITY_CODE FROM CITY AS CITYalias3 WHERE CITYalias3.CITY_NAME = "city_name1" ) ) ) ) ) AND FAREalias0.ONE_DIRECTION_COST = ( SELECT MIN( FAREalias1.ONE_DIRECTION_COST ) FROM FARE AS FAREalias1 WHERE FAREalias1.FARE_ID IN ( SELECT FLIGHT_FAREalias0.FARE_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FLIGHT_ID IN ( SELECT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) ) ) ) ) ;
Incorrect

 93%|█████████▎| 415/447 [18:13<01:31,  2.87s/it]

Question: what are the lowest fares from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.FLIGHT_ID IN (SELECT FARE.FLIGHT_ID FROM FARE WHERE FARE.FARE_ID IN ( SELECT MIN(FARE.FARE_ID) FROM FARE));
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( FAREalias0.FARE_ID IN ( SELECT FLIGHT_FAREalias1.FARE_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE FLIGHT_FAREalias1.FLIGHT_ID IN ( SELECT FLIGHTalias1.FLIGHT_ID FROM FLIGHT AS FLIGHTalias1 WHERE ( FLIGHTalias1.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE ( CITYalias2.CITY_NAME = "city_name0" AND CITYalias2.STATE_CODE = "state_code0" ) ) ) AND FLIGHTalias1.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias3.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 WHERE AIRPORT_SERVICEalias3.CITY_CODE IN ( SELECT CITYalias3.CITY_CODE FROM CITY AS CITYalias3 WHERE CITYalias3.CITY_NAME = "city_name1" ) ) ) ) ) AND FAREalias0.ONE_DIRECTION_COST = ( SELECT MIN( FAREalias1.ONE_DIRECTION_COST ) FROM FARE AS FAREalias1 WHERE FAREalias1.FARE_ID IN ( SELECT FLIGHT_FAREalias0.FARE_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FLIGHT_ID IN ( SELECT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE ( CITYalias0.CITY_NAME = "city_name0" AND CITYalias0.STATE_CODE = "state_code0" ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) ) ) ) ) ;
Incorrect

 93%|█████████▎| 416/447 [18:15<01:19,  2.57s/it]

Question: what is the lowest fare from airport_code0 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = 'airport_code0' AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( FAREalias0.FARE_ID IN ( SELECT FLIGHT_FAREalias1.FARE_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE FLIGHT_FAREalias1.FLIGHT_ID IN ( SELECT FLIGHTalias1.FLIGHT_ID FROM FLIGHT AS FLIGHTalias1 WHERE ( FLIGHTalias1.FROM_AIRPORT IN ( SELECT AIRPORTalias1.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias1 WHERE AIRPORTalias1.AIRPORT_CODE = "airport_code0" ) AND FLIGHTalias1.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) ) ) AND FAREalias0.ONE_DIRECTION_COST = ( SELECT MIN( FAREalias1.ONE_DIRECTION_COST ) FROM FARE AS FAREalias1 WHERE FAREalias1.FARE_ID IN ( SELECT FLIGHT_FAREalias0.FARE_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FLIGHT_ID IN ( SELECT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) ) ) ) ) ;
Incorrect

 93%|█████████▎| 417/447 [18:17<01:11,  2.39s/it]

Question: list all flights leaving city_name0 between departure_time1 and departure_time0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.DEPARTURE_TIME BETWEEN departure_time1 AND departure_time0;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.DEPARTURE_TIME <= departure_time0 AND FLIGHTalias0.DEPARTURE_TIME >= departure_time1 ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) ;
Incorrect

 94%|█████████▎| 418/447 [18:19<01:08,  2.35s/it]

Question: what airlines serve city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) OR FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE IN ( SELECT FLIGHTalias0.AIRLINE_CODE FROM FLIGHT AS FLIGHTalias0 WHERE FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) ;
Incorrect

 94%|█████████▎| 419/447 [18:21<01:01,  2.20s/it]

Question: what airlines fly into city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE IN ( SELECT FLIGHTalias0.AIRLINE_CODE FROM FLIGHT AS FLIGHTalias0 WHERE FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) ;
Incorrect

 94%|█████████▍| 420/447 [18:23<01:01,  2.29s/it]

Question: list all of the flight_days0 flights arriving in city_name0 between arrival_time1 and arrival_time0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.ARRIVAL_TIME  BETWEEN  arrival_time1 AND arrival_time0 AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'flight_days0');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.ARRIVAL_TIME <= arrival_time0 AND FLIGHTalias0.ARRIVAL_TIME >= arrival_time1 ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FLIGHT_DAYS = "flight_days0" ) ;
Incorrect

 94%|█████████▍| 421/447 [18:26<01:01,  2.36s/it]

Question: list all of the flight_days0 flights arriving in city_name0 from arrival_time1 to arrival_time0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.ARRIVAL_TIME BETWEEN 'arrival_time1' AND 'arrival_time0' AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'flight_days0');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.ARRIVAL_TIME <= arrival_time0 AND FLIGHTalias0.ARRIVAL_TIME >= arrival_time1 ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FLIGHT_DAYS = "flight_days0" ) ;
Incorrect

 94%|█████████▍| 422/447 [18:28<00:59,  2.40s/it]

Question: show me all of the flight_days0 flights arriving in city_name0 between arrival_time1 and arrival_time0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'flight_days0') AND FLIGHT.ARRIVAL_TIME BETWEEN arrival_time1 AND arrival_time0;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.ARRIVAL_TIME <= arrival_time0 AND FLIGHTalias0.ARRIVAL_TIME >= arrival_time1 ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FLIGHT_DAYS = "flight_days0" ) ;
Incorrect

 95%|█████████▍| 423/447 [18:31<01:00,  2.51s/it]

Question: list all flights arriving or leaving city_name0 between arrival_time1 and arrival_time0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.ARRIVAL_TIME  BETWEEN arrival_time1 AND arrival_time0 UNION SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.ARRIVAL_TIME  BETWEEN arrival_time1 AND arrival_time0;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.ARRIVAL_TIME <= arrival_time0 AND FLIGHTalias0.ARRIVAL_TIME >= arrival_time1 ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) OR ( ( FLIGHTalias0.DEPARTURE_TIME <= departure_time0 AND FLIGHTalias0.DEPARTURE_TIME >= departure_time1 ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) ) ;
Incorrect

 95%|█████████▍| 424/447 [18:33<00:53,  2.31s/it]

Question: what ground transportation is available from airport_code0 airport into city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = 'airport_code0' AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE ( GROUND_SERVICEalias0.AIRPORT_CODE IN ( SELECT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" ) AND GROUND_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ;
Incorrect

 95%|█████████▌| 425/447 [18:35<00:48,  2.19s/it]

Question: is there ground transportation from airport_code0 into city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = 'airport_code0' AND FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE ( GROUND_SERVICEalias0.AIRPORT_CODE IN ( SELECT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" ) AND GROUND_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ;
Incorrect

 95%|█████████▌| 426/447 [18:37<00:44,  2.10s/it]

Question: please list the ground transportation from airport_code0 into city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = 'airport_code0' AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE ( GROUND_SERVICEalias0.AIRPORT_CODE IN ( SELECT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" ) AND GROUND_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ;
Incorrect

 96%|█████████▌| 427/447 [18:38<00:41,  2.06s/it]

Question: please list ground transportation from airport_code0 into city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = 'airport_code0' AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE ( GROUND_SERVICEalias0.AIRPORT_CODE IN ( SELECT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" ) AND GROUND_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ;
Incorrect

 96%|█████████▌| 428/447 [18:41<00:43,  2.29s/it]

Question: what are the nonstop flights from city_name1 to city_name0 leaving after departure_time0 and arriving before arrival_time0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.DEPARTURE_TIME > 'departure_time0' AND FLIGHT.ARRIVAL_TIME < 'arrival_time0';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( FLIGHTalias0.ARRIVAL_TIME < arrival_time0 AND FLIGHTalias0.DEPARTURE_TIME > departure_time0 ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.STOPS = stops0 ) ;
Incorrect

 96%|█████████▌| 429/447 [18:45<00:48,  2.68s/it]

Question: i would like a flight on tuesday which leaves from city_name1 to city_name0 state_name0 and that leaves in the afternoon
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT = (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE = (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0' AND CITY.STATE_CODE = (SELECT STATE.STATE_CODE FROM STATE WHERE STATE.STATE_NAME = 'state_name0'))) AND FLIGHT.FLIGHT_DAYS = (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = (SELECT DAYS.DAY_CODE FROM DAYS WHERE DAYS.DAY_NAME = 'TUESDAY')) AND FLIGHT.DEPART_TIME BETWEEN 1200 AND 1800;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE ( CITYalias1.CITY_NAME = "city_name0" AND CITYalias1.STATE_CODE IN ( SELECT STATEalias0.STATE_CODE FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "state_name0" ) ) ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 96%|█████████▌| 430/447 [18:47<00:41,  2.43s/it]

Question: what type of aircraft is used for the airline_code0 flight leaving at departure_time0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.AIRCRAFT_CODE_ID = (SELECT AIRCRAFT.AIRCRAFT_CODE_ID FROM AIRCRAFT WHERE AIRCRAFT.AIRLINE_CODE = 'airline_code0') AND FLIGHT.DEPARTURE_TIME = departure_time0;
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE IN ( SELECT EQUIPMENT_SEQUENCEalias0.AIRCRAFT_CODE FROM EQUIPMENT_SEQUENCE AS EQUIPMENT_SEQUENCEalias0 WHERE EQUIPMENT_SEQUENCEalias0.AIRCRAFT_CODE_SEQUENCE IN ( SELECT FLIGHTalias0.AIRCRAFT_CODE_SEQUENCE FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME = departure_time0 AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) ) ) ;
Incorrect

 96%|█████████▋| 431/447 [18:51<00:48,  3.06s/it]

Question: i need a flight leaving city_name1 to city_name0 leaving next wednesday and returning the following day
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'WEDNESDAY') AND FLIGHT.FLIGHT_ID IN (SELECT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'THURSDAY'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) OR ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias3.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 WHERE AIRPORT_SERVICEalias3.CITY_CODE IN ( SELECT CITYalias3.CITY_CODE FROM CITY AS CITYalias3 WHERE CITYalias3.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name0" ) ) ) ) ;
Incorrect

 97%|█████████▋| 432/447 [18:55<00:47,  3.16s/it]

Question: what are the flights on day_name0 that travel from city_name1 state_name1 to city_name0 state_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1' AND CITY.STATE_CODE IN (SELECT STATE.STATE_CODE FROM STATE WHERE STATE.STATE_NAME = 'state_name1'))) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0' AND CITY.STATE_CODE IN (SELECT STATE.STATE_CODE FROM STATE WHERE STATE.STATE_NAME = 'state_name0'))) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'day_name0');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME = "day_name0" ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE ( CITYalias1.CITY_NAME = "city_name0" AND CITYalias1.STATE_CODE IN ( SELECT STATEalias1.STATE_CODE FROM STATE AS STATEalias1 WHERE STATEalias1.STATE_NAME = "state_name0" ) ) ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE ( CITYalias0.CITY_NAME = "city_name1" AND CITYalias0.STATE_CODE IN ( SELECT STATEalias0.STATE_CODE FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "state_name1" ) ) ) ) ) ;
Incorrect

 97%|█████████▋| 433/447 [18:58<00:44,  3.15s/it]

Question: what are the flights on thursday leaving from city_name1 state_name0 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1' AND CITY.STATE_CODE IN (SELECT STATE.STATE_CODE FROM STATE WHERE STATE.STATE_NAME = 'state_name0'))) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'THURSDAY');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE ( CITYalias0.CITY_NAME = "city_name1" AND CITYalias0.STATE_CODE IN ( SELECT STATEalias0.STATE_CODE FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "state_name0" ) ) ) ) ) ;
Incorrect

 97%|█████████▋| 434/447 [19:01<00:41,  3.17s/it]

Question: what are the flights from city_name1 to city_name0 state_name0 leaving on friday
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1') AND AIRPORT_SERVICE.STATE_CODE IN (SELECT STATE.STATE_CODE FROM STATE WHERE STATE.STATE_NAME = 'state_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_CODE FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'FRIDAY');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE ( CITYalias1.CITY_NAME = "city_name0" AND CITYalias1.STATE_CODE IN ( SELECT STATEalias0.STATE_CODE FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "state_name0" ) ) ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 97%|█████████▋| 435/447 [19:03<00:35,  2.93s/it]

Question: i need a flight from city_name0 to airport_code0 airport that arrives on saturday before arrival_time1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT = 'airport_code0' AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'SATURDAY') AND FLIGHT.ARRIVAL_TIME < 'arrival_time1';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( ( ( ( FLIGHTalias0.ARRIVAL_TIME < arrival_time0 OR FLIGHTalias0.TIME_ELAPSED >= time_elapsed0 ) AND FLIGHTalias0.DEPARTURE_TIME > FLIGHTalias0.ARRIVAL_TIME ) AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) ) OR ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND NOT ( ( FLIGHTalias0.ARRIVAL_TIME < arrival_time0 OR FLIGHTalias0.TIME_ELAPSED >= time_elapsed0 ) AND FLIGHTalias0.DEPARTURE_TIME > FLIGHTalias0.ARRIVAL_TIME ) ) ) AND FLIGHTalias0.ARRIVAL_TIME < arrival_time1 ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) ;
Incorrect

 98%|█████████▊| 436/447 [19:06<00:31,  2.85s/it]

Question: i'd like a flight from city_name0 to airport_code0 airport that arrives on saturday before arrival_time1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT = 'airport_code0' AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = (SELECT DAYS.DAY_NAME FROM DAYS WHERE DAYS.DAY_NAME = 'SATURDAY')) AND FLIGHT.ARRIVAL_TIME  <  arrival_time1;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( ( ( ( FLIGHTalias0.ARRIVAL_TIME < arrival_time0 OR FLIGHTalias0.TIME_ELAPSED >= time_elapsed0 ) AND FLIGHTalias0.DEPARTURE_TIME > FLIGHTalias0.ARRIVAL_TIME ) AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) ) OR ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND NOT ( ( FLIGHTalias0.ARRIVAL_TIME < arrival_time0 OR FLIGHTalias0.TIME_ELAPSED >= time_elapsed0 ) AND FLIGHTalias0.DEPARTURE_TIME > FLIGHTalias0.ARRIVAL_TIME ) ) ) AND FLIGHTalias0.ARRIVAL_TIME < arrival_time1 ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) ;
Incorrect

 98%|█████████▊| 437/447 [19:09<00:29,  2.98s/it]

Question: what are the flights between city_name1 and city_name0 state_name0 which leave after departure_time0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1' AND CITY.STATE_CODE IN (SELECT STATE.STATE_CODE FROM STATE WHERE STATE.STATE_NAME = 'state_name0'))) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.DEPARTURE_TIME > 'departure_time0';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE ( CITYalias1.CITY_NAME = "city_name0" AND CITYalias1.STATE_CODE IN ( SELECT STATEalias0.STATE_CODE FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "state_name0" ) ) ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 98%|█████████▊| 438/447 [19:13<00:27,  3.08s/it]

Question: what are the nonstop flights between city_name0 and city_name1 state_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0' AND CITY.STATE_CODE IN (SELECT STATE.STATE_CODE FROM STATE WHERE STATE.STATE_NAME = 'state_name0'))) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME IN (SELECT DAYS.DAY_NAME FROM DAYS WHERE DAYS.DAYS_CODE = FLIGHT.FLIGHT_DAYS));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE ( CITYalias1.CITY_NAME = "city_name1" AND CITYalias1.STATE_CODE IN ( SELECT STATEalias0.STATE_CODE FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "state_name0" ) ) ) ) ) AND FLIGHTalias0.STOPS = stops0 ) ;
Incorrect

 98%|█████████▊| 439/447 [19:16<00:24,  3.09s/it]

Question: can you find me a flight from city_name0 to city_name1 city next day_name0 before arriving before arrival_time0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.ARRIVAL_TIME < 'arrival_time0' AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = 'day_name0');
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT AS AIRPORTalias0 , AIRPORT AS AIRPORTalias1 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = AIRPORT_SERVICEalias0.AIRPORT_CODE AND AIRPORTalias1.AIRPORT_CODE = AIRPORT_SERVICEalias1.AIRPORT_CODE AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND DAYSalias0.DAY_NAME = "day_name0" AND FLIGHTalias0.ARRIVAL_TIME < arrival_time0 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORTalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORTalias1.AIRPORT_CODE ;
Incorrect

 98%|█████████▊| 440/447 [19:19<00:21,  3.14s/it]

Question: can you list all of the airline_code0 flights from city_name1 to city_name0 next saturday arriving before arrival_time0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.DAY_NAME = (SELECT DAYS.DAY_NAME FROM DAYS WHERE DAYS.DAY_OF_WEEK = 7)) AND FLIGHT.ARRIVAL_TIME  <  'arrival_time0' AND FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( FLIGHTalias0.ARRIVAL_TIME < arrival_time0 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) ;
Incorrect

 99%|█████████▊| 441/447 [19:23<00:19,  3.27s/it]

Question: i'd like a round trip flight from city_name1 to city_name0 on wednesday month_number0 day_number0 arriving at arrival_time0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.FLIGHT_DAYS IN (SELECT DATE_DAY.DAY_OF_WEEK FROM DATE_DAY WHERE DATE_DAY.MONTH_NUMBER = month_number0 AND DATE_DAY.DAY_NUMBER = day_number0 AND DATE_DAY.DAY_NAME IN (SELECT DAYS.DAY_NAME FROM DAYS WHERE DAYS.DAY_NAME = 'WEDNESDAY')) AND FLIGHT.ARRIVAL_TIME = arrival_time0;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( FLIGHTalias0.ARRIVAL_TIME = arrival_time0 AND FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias0.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FARE_ID IN ( SELECT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.BASIS_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) ) AND FAREalias0.ROUND_TRIP_COST IS NOT NULL ) ) ) ) AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 99%|█████████▉| 442/447 [19:25<00:15,  3.14s/it]

Question: find airline_code0 flight from city_name1 to city_name0 around 630pm
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.DEPARTURE_TIME >= 1830 AND FLIGHT.DEPARTURE_TIME < 1900 AND FLIGHT.AIRLINE_CODE = 'airline_code0';
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( FLIGHTalias0.DEPARTURE_TIME <= departure_time0 AND FLIGHTalias0.DEPARTURE_TIME >= departure_time1 ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) ;
Incorrect

 99%|█████████▉| 443/447 [19:33<00:17,  4.39s/it]

Question: please find a flight round trip from city_name2 to city_name1 state_name0 with a stopover in city_name0 not exceeding the price of round_trip_cost0 dollars for month_number0 day_number0 year0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FLIGHT_ID IN (SELECT F0.FLIGHT_ID FROM FLIGHT AS F0, AIRPORT_SERVICE AS AS0, CITY AS C0 WHERE F0.FROM_AIRPORT = AS0.AIRPORT_CODE AND AS0.CITY_CODE = C0.CITY_CODE AND C0.CITY_NAME = 'city_name2' AND F0.TO_AIRPORT IN (SELECT AS1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AS1, CITY AS C1 WHERE AS1.CITY_CODE = C1.CITY_CODE AND C1.CITY_NAME = 'city_name0') AND F0.FLIGHT_ID IN (SELECT F1.FLIGHT_ID FROM FLIGHT AS F1, DATE_DAY AS DD1, DAYS AS D1 WHERE F1.FLIGHT_DAYS = DD1.DAY_OF_WEEK AND DD1.DAY_NAME = D1.DAY_NAME AND DD1.MONTH_NUMBER = month_number0 AND DD1.DAY_NUMBER = day_number0 AND DD1.YEAR = year0)) AND FLIGHT.FLIGHT_ID IN (SELECT F2.FLIGHT_ID FROM FLIGHT AS F2, AIRPORT_SERVICE AS AS2, CITY AS C2 WHERE F2.FROM_AIRPORT = AS2.AIRPORT_CODE AND AS2.CITY_CODE = C2.CITY_CODE AND C2.CITY_NAME = 'city_name0' AND F2.TO_AIRPORT IN (SELECT AS3.AIRPORT_CODE FROM AIRPORT_SERVICE AS AS3, CITY AS C3, STATE AS S0 WHERE AS3.CITY_CODE = C3.CITY_CODE AND C3.STATE_CODE = S0.STATE_CODE AND C3.CITY_NAME = 'city_name1' AND S0.STATE_NAME = 'state_name0') AND F2.FLIGHT_ID IN (SELECT F3.FLIGHT_ID FROM FLIGHT AS F3, DATE_DAY AS DD3, DAYS AS D3 WHERE F3.FLIGHT_DAYS = DD3.DAY_OF_WEEK AND DD3.DAY_NAME = D3.DAY_NAME AND DD3.MONTH_NUMBER = month_number0 AND DD3.DAY_NUMBER = day_number0 AND DD3.YEAR = year0));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias0.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FARE_ID IN ( SELECT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( ( FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.BASIS_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year1 ) ) ) AND FAREalias0.ROUND_TRIP_COST <= round_trip_cost0 ) AND FAREalias0.ROUND_TRIP_COST IS NOT NULL ) ) ) ) AND FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_STOPalias0.FLIGHT_ID FROM FLIGHT_STOP AS FLIGHT_STOPalias0 WHERE FLIGHT_STOPalias0.STOP_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name0" ) ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE ( CITYalias1.CITY_NAME = "city_name1" AND CITYalias1.STATE_CODE IN ( SELECT STATEalias0.STATE_CODE FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "state_name0" ) ) ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name2" ) ) ) ;
Incorrect

 99%|█████████▉| 444/447 [19:39<00:14,  4.85s/it]

Question: please find a flight from city_name2 to city_name1 that makes a stop in city_name0 on month_number0 day_number0 one way with meal_description0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FLIGHT_ID IN (SELECT F0.FLIGHT_ID FROM FLIGHT AS F0, AIRPORT_SERVICE AS AS0, CITY AS C0 WHERE F0.FROM_AIRPORT = AS0.AIRPORT_CODE AND AS0.CITY_CODE = C0.CITY_CODE AND C0.CITY_NAME = 'city_name2' AND F0.FLIGHT_ID IN (SELECT FS0.FLIGHT_ID FROM FLIGHT_STOP AS FS0, AIRPORT_SERVICE AS AS1, CITY AS C1 WHERE FS0.STOP_AIRPORT = AS1.AIRPORT_CODE AND AS1.CITY_CODE = C1.CITY_CODE AND C1.CITY_NAME = 'city_name0' AND FS0.FLIGHT_ID IN (SELECT F1.FLIGHT_ID FROM FLIGHT AS F1, AIRPORT_SERVICE AS AS2, CITY AS C2, DATE_DAY AS DD0, DAYS AS D0 WHERE F1.TO_AIRPORT = AS2.AIRPORT_CODE AND AS2.CITY_CODE = C2.CITY_CODE AND C2.CITY_NAME = 'city_name1' AND F1.FLIGHT_DAYS = DD0.DAY_CODE AND DD0.DAY_NAME = D0.DAY_NAME AND DD0.MONTH_NUMBER = month_number0 AND DD0.DAY_NUMBER = day_number0 AND DD0.YEAR = year0 AND F1.MEAL_CODE IN (SELECT M0.MEAL_CODE FROM MEAL AS M0 WHERE M0.MEAL_DESCRIPTION = 'meal_description0'))));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias0.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FARE_ID IN ( SELECT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.BASIS_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) ) AND FAREalias0.ROUND_TRIP_REQUIRED = "round_trip_required0" ) ) ) ) AND FLIGHTalias0.MEAL_CODE IN ( SELECT FOOD_SERVICEalias0.MEAL_CODE FROM FOOD_SERVICE AS FOOD_SERVICEalias0 WHERE FOOD_SERVICEalias0.MEAL_DESCRIPTION = "meal_description0" ) ) AND FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_STOPalias0.FLIGHT_ID FROM FLIGHT_STOP AS FLIGHT_STOPalias0 WHERE FLIGHT_STOPalias0.STOP_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name0" ) ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name2" ) ) ) ;
Incorrect

100%|█████████▉| 445/447 [19:44<00:09,  4.98s/it]

Question: is there one airline that flies from city_name1 to city_name2 milwaukee to city_name0 and from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name2')) INTERSECT SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'MILWAUKEE')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) INTERSECT SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE ( ( AIRLINEalias0.AIRLINE_CODE IN ( SELECT FLIGHTalias1.AIRLINE_CODE FROM FLIGHT AS FLIGHTalias1 WHERE ( FLIGHTalias1.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name0" ) ) AND FLIGHTalias1.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias3.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 WHERE AIRPORT_SERVICEalias3.CITY_CODE IN ( SELECT CITYalias3.CITY_CODE FROM CITY AS CITYalias3 WHERE CITYalias3.CITY_NAME = "city_name1" ) ) ) ) AND AIRLINEalias0.AIRLINE_CODE IN ( SELECT FLIGHTalias2.AIRLINE_CODE FROM FLIGHT AS FLIGHTalias2 WHERE ( FLIGHTalias2.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias4.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias4 WHERE AIRPORT_SERVICEalias4.CITY_CODE IN ( SELECT CITYalias4.CITY_CODE FROM CITY AS CITYalias4 WHERE CITYalias4.CITY_NAME = "city_name1" ) ) AND FLIGHTalias2.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias5.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias5 WHERE AIRPORT_SERVICEalias5.CITY_CODE IN ( SELECT CITYalias5.CITY_CODE FROM CITY AS CITYalias5 WHERE CITYalias5.CITY_NAME = "city_name2" ) ) ) ) ) AND AIRLINEalias0.AIRLINE_CODE IN ( SELECT FLIGHTalias0.AIRLINE_CODE FROM FLIGHT AS FLIGHTalias0 WHERE ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name2" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) ) ) ;
Incorrect

100%|█████████▉| 446/447 [19:46<00:04,  4.04s/it]

Question: i'd like to book two flights to city_name0
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ;
Incorrect

100%|██████████| 447/447 [19:48<00:00,  2.66s/it]

Question: find me a flight from city_name0 to any airport in the city_name1 area
Predicted SQL: SELECT DISTINCT FLIGHT.FLIGHT_ID FROM FLIGHT WHERE FLIGHT.FROM_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name0')) AND FLIGHT.TO_AIRPORT IN (SELECT AIRPORT_SERVICE.AIRPORT_CODE FROM AIRPORT_SERVICE WHERE AIRPORT_SERVICE.CITY_CODE IN (SELECT CITY.CITY_CODE FROM CITY WHERE CITY.CITY_NAME = 'city_name1'));
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.AIRPORT_CODE IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) ) ;
Incorrect


Accuracy: 0/447 = 0.00000

In [ ]:
print("Evaluating the LLM Gemini 1.5 Pro on ATIS by \"question-split\" and 5-shot training (few examples)...")
evaluate(get_eval_examples(examples, split="test"), load_shot_examples(examples, 5))

In [11]:
print("Evaluating the LLM Gemini 1.5 Pro on ATIS by \"question-split\" and 40-shot training (many examples)...")
evaluate(get_eval_examples(examples, split="test"), load_shot_examples(examples, 40))

Evaluating LLM Gemini 1.5 Pro on ATIS by "question-split" and 40-shot training (many examples)...

  0%|          | 1/447 [00:04<37:05,  4.99s/it]

Question: i need a flight from city_name1 to city_name0 on monday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

  0%|          | 2/447 [00:09<33:23,  4.50s/it]

Question: list flights from city_name1 to city_name0 on wednesday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

  1%|          | 3/447 [00:13<31:59,  4.32s/it]

Question: list flights from city_name1 to city_name0 on friday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

  1%|          | 4/447 [00:17<30:59,  4.20s/it]

Question: list flights from city_name1 to city_name0 on monday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

  1%|          | 5/447 [00:21<30:37,  4.16s/it]

Question: list flights from city_name1 to city_name0 on wednesday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

  1%|▏         | 6/447 [00:25<30:14,  4.11s/it]

Question: list flights from city_name1 to city_name0 on sunday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

  2%|▏         | 7/447 [00:29<29:47,  4.06s/it]

Question: list flights from city_name1 to city_name0 on friday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

  2%|▏         | 8/447 [00:33<30:11,  4.13s/it]

Question: list flights from city_name1 to city_name0 on friday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

  2%|▏         | 9/447 [00:37<29:50,  4.09s/it]

Question: give me the flights from city_name1 to city_name0 on tuesday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

  2%|▏         | 10/447 [00:41<29:45,  4.09s/it]

Question: i need a friday flight from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

  2%|▏         | 11/447 [00:45<29:31,  4.06s/it]

Question: i need a sunday flight from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

  3%|▎         | 12/447 [00:49<29:20,  4.05s/it]

Question: city_name1 to city_name0 on friday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

  3%|▎         | 13/447 [00:53<29:24,  4.06s/it]

Question: city_name1 to city_name0 on tuesday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

  3%|▎         | 14/447 [00:58<29:38,  4.11s/it]

Question: city_name1 to city_name0 month_number0 day_number0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

  3%|▎         | 15/447 [01:01<29:17,  4.07s/it]

Question: city_name1 to city_name0 on saturday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

  4%|▎         | 16/447 [01:05<29:02,  4.04s/it]

Question: city_name1 to city_name0 on sunday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

  4%|▍         | 17/447 [01:09<28:49,  4.02s/it]

Question: city_name1 to city_name0 on wednesday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

  4%|▍         | 18/447 [01:14<28:53,  4.04s/it]

Question: what are the flights between city_name1 and city_name0 on wednesday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

  4%|▍         | 19/447 [01:18<28:45,  4.03s/it]

Question: please give me the flights from city_name1 to city_name0 on month_number0 day_number0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

  4%|▍         | 20/447 [01:22<29:20,  4.12s/it]

Question: please give me the flights from city_name1 to city_name0 on month_number0 day_number0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

  5%|▍         | 21/447 [01:27<31:30,  4.44s/it]

Question: please list all the flights from city_name1 to city_name0 on month_number0 day_number0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

  5%|▍         | 22/447 [01:31<30:43,  4.34s/it]

Question: please list all the flights from city_name1 to city_name0 on month_number0 day_number0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

  5%|▌         | 23/447 [01:35<30:16,  4.28s/it]

Question: i'd like to travel from city_name1 to city_name0 next wednesday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

  5%|▌         | 24/447 [01:39<29:30,  4.19s/it]

Question: find flight from city_name1 to city_name0 on monday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

  6%|▌         | 25/447 [01:43<29:09,  4.15s/it]

Question: find flight from city_name1 to city_name0 on tuesday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

  6%|▌         | 26/447 [01:47<28:57,  4.13s/it]

Question: find flight from city_name1 to city_name0 on monday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

  6%|▌         | 27/447 [01:52<28:50,  4.12s/it]

Question: find flight from city_name1 to city_name0 on wednesday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

  6%|▋         | 28/447 [01:56<28:48,  4.12s/it]

Question: find flight from city_name1 to city_name0 on friday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

  6%|▋         | 29/447 [02:00<28:28,  4.09s/it]

Question: find flight from city_name1 to city_name0 on sunday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

  7%|▋         | 30/447 [02:04<28:11,  4.06s/it]

Question: are there any flights on month_number0 day_number0 from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

  7%|▋         | 31/447 [02:08<27:45,  4.00s/it]

Question: i need information on flights from city_name1 to city_name0 that leave on a day_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DAYSalias0.DAY_NAME = "day_name0" AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

  7%|▋         | 32/447 [02:11<27:31,  3.98s/it]

Question: i need the flights from city_name1 to city_name0 on a day_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DAYSalias0.DAY_NAME = "day_name0" AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

  7%|▋         | 33/447 [02:16<27:46,  4.03s/it]

Question: i want to go from city_name1 to city_name0 on a day_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DAYSalias0.DAY_NAME = "day_name0" AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

  8%|▊         | 34/447 [02:19<26:30,  3.85s/it]

Question: list day_name0 flights from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DAYSalias0.DAY_NAME = "day_name0" AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DAYSalias0.DAY_NAME = "day_name0" AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

  8%|▊         | 35/447 [02:22<25:40,  3.74s/it]

Question: list day_name0 flights from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DAYSalias0.DAY_NAME = "day_name0" AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DAYSalias0.DAY_NAME = "day_name0" AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

  8%|▊         | 36/447 [02:25<23:58,  3.50s/it]

Question: what flights go from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

  8%|▊         | 37/447 [02:29<23:14,  3.40s/it]

Question: what flights go from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

  9%|▊         | 38/447 [02:32<22:43,  3.33s/it]

Question: flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

  9%|▊         | 39/447 [02:35<21:51,  3.22s/it]

Question: flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

  9%|▉         | 40/447 [02:38<21:15,  3.13s/it]

Question: flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

  9%|▉         | 41/447 [02:41<20:43,  3.06s/it]

Question: i would like flight information from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

  9%|▉         | 42/447 [02:43<20:22,  3.02s/it]

Question: could i have flight information on flights from city_name0 to city_name1 please
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 10%|▉         | 43/447 [02:46<20:10,  3.00s/it]

Question: could i have flight information on flights from city_name0 to city_name1 please
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 10%|▉         | 44/447 [02:49<20:04,  2.99s/it]

Question: list flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 10%|█         | 45/447 [02:52<20:08,  3.01s/it]

Question: get flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 10%|█         | 46/447 [02:56<20:13,  3.02s/it]

Question: get flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 11%|█         | 47/447 [02:58<19:57,  2.99s/it]

Question: get flights between city_name0 and city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 11%|█         | 48/447 [03:01<19:57,  3.00s/it]

Question: list flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 11%|█         | 49/447 [03:04<19:41,  2.97s/it]

Question: what are the flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 11%|█         | 50/447 [03:07<19:59,  3.02s/it]

Question: i need information on flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 11%|█▏        | 51/447 [03:10<19:50,  3.01s/it]

Question: i need a flight from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 12%|█▏        | 52/447 [03:13<19:39,  2.99s/it]

Question: i need flight information from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 12%|█▏        | 53/447 [03:17<20:01,  3.05s/it]

Question: i need flights departing from city_name0 and arriving city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 12%|█▏        | 54/447 [03:20<19:46,  3.02s/it]

Question: i need information on flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 12%|█▏        | 55/447 [03:22<19:34,  3.00s/it]

Question: i need information on flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 13%|█▎        | 56/447 [03:25<19:28,  2.99s/it]

Question: i want a flight from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 13%|█▎        | 57/447 [03:28<19:26,  2.99s/it]

Question: i need information on flights between city_name0 and city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 13%|█▎        | 58/447 [03:32<19:41,  3.04s/it]

Question: i need the flight numbers of flights leaving from city_name0 and arriving at city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 13%|█▎        | 59/447 [03:35<19:33,  3.02s/it]

Question: show me flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 13%|█▎        | 60/447 [03:38<19:23,  3.01s/it]

Question: show me all flights from city_name0 to city_name1 please
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 14%|█▎        | 61/447 [03:41<19:34,  3.04s/it]

Question: show me the flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 14%|█▍        | 62/447 [03:44<19:16,  3.00s/it]

Question: city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 14%|█▍        | 63/447 [03:47<19:18,  3.02s/it]

Question: show me all flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 14%|█▍        | 64/447 [03:50<19:44,  3.09s/it]

Question: show me all flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 15%|█▍        | 65/447 [03:53<19:44,  3.10s/it]

Question: show me flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 15%|█▍        | 66/447 [03:56<19:15,  3.03s/it]

Question: show me flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 15%|█▍        | 67/447 [04:00<20:31,  3.24s/it]

Question: list flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 15%|█▌        | 68/447 [04:03<19:56,  3.16s/it]

Question: list flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 15%|█▌        | 69/447 [04:06<19:29,  3.09s/it]

Question: list flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 16%|█▌        | 70/447 [04:09<19:12,  3.06s/it]

Question: list flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 16%|█▌        | 71/447 [04:11<18:56,  3.02s/it]

Question: list flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 16%|█▌        | 72/447 [04:15<19:18,  3.09s/it]

Question: list flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 16%|█▋        | 73/447 [04:18<19:02,  3.05s/it]

Question: list flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 17%|█▋        | 74/447 [04:21<18:52,  3.04s/it]

Question: list flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 17%|█▋        | 75/447 [04:24<18:38,  3.01s/it]

Question: list flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 17%|█▋        | 76/447 [04:27<19:30,  3.16s/it]

Question: list flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 17%|█▋        | 77/447 [04:30<19:07,  3.10s/it]

Question: list flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 17%|█▋        | 78/447 [04:33<19:03,  3.10s/it]

Question: give me the flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 18%|█▊        | 79/447 [04:36<18:51,  3.08s/it]

Question: flight number from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 18%|█▊        | 80/447 [04:39<18:34,  3.04s/it]

Question: flight number from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 18%|█▊        | 81/447 [04:42<18:21,  3.01s/it]

Question: flight numbers from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 18%|█▊        | 82/447 [04:45<18:05,  2.97s/it]

Question: please list all the flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 19%|█▊        | 83/447 [04:48<18:02,  2.97s/it]

Question: tell me the flights that leave city_name0 and go to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 19%|█▉        | 84/447 [04:51<17:55,  2.96s/it]

Question: show me the flights between city_name0 and city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 19%|█▉        | 85/447 [04:54<17:53,  2.97s/it]

Question: show me the flights between city_name0 and city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 19%|█▉        | 86/447 [04:57<17:59,  2.99s/it]

Question: show me the flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 19%|█▉        | 87/447 [05:00<17:51,  2.98s/it]

Question: what flights go from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 20%|█▉        | 88/447 [05:03<17:47,  2.97s/it]

Question: what are the flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 20%|█▉        | 89/447 [05:06<17:38,  2.96s/it]

Question: what are the flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 20%|██        | 90/447 [05:09<17:31,  2.95s/it]

Question: what are the flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 20%|██        | 91/447 [05:12<17:28,  2.95s/it]

Question: what are the flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 21%|██        | 92/447 [05:15<17:52,  3.02s/it]

Question: what are the flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 21%|██        | 93/447 [05:22<25:15,  4.28s/it]

Question: please list the flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 21%|██        | 94/447 [05:25<22:54,  3.89s/it]

Question: please list the flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 21%|██▏       | 95/447 [05:31<26:50,  4.57s/it]

Question: please list the flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 21%|██▏       | 96/447 [05:34<23:57,  4.09s/it]

Question: i'd like to travel from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 22%|██▏       | 97/447 [05:37<22:00,  3.77s/it]

Question: like to book a flight from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 22%|██▏       | 98/447 [05:40<20:40,  3.55s/it]

Question: show me all the flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 22%|██▏       | 99/447 [05:43<19:35,  3.38s/it]

Question: find me all the flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 22%|██▏       | 100/447 [05:46<19:13,  3.32s/it]

Question: now show me all the flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 23%|██▎       | 101/447 [05:50<19:15,  3.34s/it]

Question: i want to book a flight from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 23%|██▎       | 102/447 [05:54<20:10,  3.51s/it]

Question: find me a flight that flies from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 23%|██▎       | 103/447 [05:57<19:44,  3.44s/it]

Question: i would like information on flights leaving from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 23%|██▎       | 104/447 [06:00<19:08,  3.35s/it]

Question: get fares from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FAREalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FAREalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 23%|██▎       | 105/447 [06:03<18:36,  3.26s/it]

Question: get fares from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FAREalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FAREalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 24%|██▎       | 106/447 [06:06<17:52,  3.14s/it]

Question: i need a ticket from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 24%|██▍       | 107/447 [06:09<17:28,  3.08s/it]

Question: please list all flights from city_name0 to city_name1 any any type of class
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 24%|██▍       | 108/447 [06:13<19:14,  3.41s/it]

Question: what are the flights from city_name2 to city_name1 that stop in city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , CITY AS CITYalias0 , CITY AS CITYalias1 , CITY AS CITYalias2 , FLIGHT AS FLIGHTalias0 , FLIGHT_STOP AS FLIGHT_STOPalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name0" AND FLIGHT_STOPalias0.STOP_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND FLIGHTalias0.FLIGHT_ID = FLIGHT_STOPalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name2" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , CITY AS CITYalias0 , CITY AS CITYalias1 , CITY AS CITYalias2 , FLIGHT AS FLIGHTalias0 , FLIGHT_STOP AS FLIGHT_STOPalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name1" AND FLIGHT_STOPalias0.STOP_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND FLIGHTalias0.FLIGHT_ID = FLIGHT_STOPalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name2" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 24%|██▍       | 109/447 [06:17<20:35,  3.65s/it]

Question: i need a flight from city_name2 to city_name1 that goes through city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , CITY AS CITYalias0 , CITY AS CITYalias1 , CITY AS CITYalias2 , FLIGHT AS FLIGHTalias0 , FLIGHT_STOP AS FLIGHT_STOPalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name0" AND FLIGHT_STOPalias0.STOP_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND FLIGHTalias0.FLIGHT_ID = FLIGHT_STOPalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name2" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , CITY AS CITYalias0 , CITY AS CITYalias1 , CITY AS CITYalias2 , FLIGHT AS FLIGHTalias0 , FLIGHT_STOP AS FLIGHT_STOPalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name1" AND FLIGHT_STOPalias0.STOP_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND FLIGHTalias0.FLIGHT_ID = FLIGHT_STOPalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name2" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 25%|██▍       | 110/447 [06:22<21:27,  3.82s/it]

Question: the flights from city_name2 to city_name1 that stop in city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , CITY AS CITYalias0 , CITY AS CITYalias1 , CITY AS CITYalias2 , FLIGHT AS FLIGHTalias0 , FLIGHT_STOP AS FLIGHT_STOPalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name0" AND FLIGHT_STOPalias0.STOP_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND FLIGHTalias0.FLIGHT_ID = FLIGHT_STOPalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name2" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , CITY AS CITYalias0 , CITY AS CITYalias1 , CITY AS CITYalias2 , FLIGHT AS FLIGHTalias0 , FLIGHT_STOP AS FLIGHT_STOPalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name1" AND FLIGHT_STOPalias0.STOP_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND FLIGHTalias0.FLIGHT_ID = FLIGHT_STOPalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name2" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 25%|██▍       | 111/447 [06:26<21:47,  3.89s/it]

Question: yes i'd like to find a flight from city_name2 to city_name1 stopping in city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , CITY AS CITYalias0 , CITY AS CITYalias1 , CITY AS CITYalias2 , FLIGHT AS FLIGHTalias0 , FLIGHT_STOP AS FLIGHT_STOPalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name0" AND FLIGHT_STOPalias0.STOP_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND FLIGHTalias0.FLIGHT_ID = FLIGHT_STOPalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name2" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , CITY AS CITYalias0 , CITY AS CITYalias1 , CITY AS CITYalias2 , FLIGHT AS FLIGHTalias0 , FLIGHT_STOP AS FLIGHT_STOPalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name1" AND FLIGHT_STOPalias0.STOP_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND FLIGHTalias0.FLIGHT_ID = FLIGHT_STOPalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name2" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 25%|██▌       | 112/447 [06:29<20:54,  3.74s/it]

Question: show me all airline_code0 flights from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 25%|██▌       | 113/447 [06:32<19:52,  3.57s/it]

Question: list airline_code0 flights from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 26%|██▌       | 114/447 [06:35<19:07,  3.44s/it]

Question: give me the flights from city_name1 to city_name0 on airline_code0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 26%|██▌       | 115/447 [06:39<18:43,  3.39s/it]

Question: flight numbers on airline_code0 from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 26%|██▌       | 116/447 [06:42<18:22,  3.33s/it]

Question: flight numbers from city_name1 to city_name0 on airline_code0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 26%|██▌       | 117/447 [06:45<18:10,  3.30s/it]

Question: flight numbers from city_name1 to city_name0 on airline_code0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 26%|██▋       | 118/447 [06:48<17:56,  3.27s/it]

Question: show airline_code0 from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 27%|██▋       | 119/447 [06:52<17:55,  3.28s/it]

Question: show airline_code0 flights from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 27%|██▋       | 120/447 [06:55<17:44,  3.25s/it]

Question: show airline_code0 flights from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 27%|██▋       | 121/447 [06:58<17:37,  3.24s/it]

Question: i would like a flight from city_name1 to city_name0 on airline_code0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 27%|██▋       | 122/447 [07:01<17:29,  3.23s/it]

Question: what are the airline_code0 flights from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 28%|██▊       | 123/447 [07:04<17:25,  3.23s/it]

Question: please list the flights from city_name1 to city_name0 on airline_code0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 28%|██▊       | 124/447 [07:08<17:29,  3.25s/it]

Question: i'd like to fly from city_name1 to city_name0 on airline_code0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 28%|██▊       | 125/447 [07:10<16:07,  3.00s/it]

Question: is there transport_type0 service at the airport_code0 airport
Predicted SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM AIRPORT AS AIRPORTalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" AND GROUND_SERVICEalias0.AIRPORT_CODE = AIRPORTalias0.AIRPORT_CODE AND GROUND_SERVICEalias0.TRANSPORT_TYPE = "transport_type0" ;
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM AIRPORT AS AIRPORTalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" AND GROUND_SERVICEalias0.AIRPORT_CODE = AIRPORTalias0.AIRPORT_CODE AND GROUND_SERVICEalias0.TRANSPORT_TYPE = "transport_type0" ;
Correct

 28%|██▊       | 126/447 [07:14<17:16,  3.23s/it]

Question: how much is class_type0 flight from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FAREalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FAREalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FARE_BASISalias0.CLASS_TYPE = "class_type0" AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE ;
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FAREalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FAREalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FARE_BASISalias0.CLASS_TYPE = "class_type0" AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE ;
Correct

 28%|██▊       | 127/447 [07:17<17:14,  3.23s/it]

Question: which airlines fly between city_name0 and city_name1
Predicted SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.AIRLINE_CODE = AIRLINEalias0.AIRLINE_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.AIRLINE_CODE = AIRLINEalias0.AIRLINE_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 29%|██▊       | 128/447 [07:20<17:13,  3.24s/it]

Question: list airlines that fly from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.AIRLINE_CODE = AIRLINEalias0.AIRLINE_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.AIRLINE_CODE = AIRLINEalias0.AIRLINE_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct

 29%|██▉       | 129/447 [07:23<16:48,  3.17s/it]

Question: which flights go from city_name1 to city_name0 and back
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FAREalias0.ROUND_TRIP_COST IS NOT NULL AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 29%|██▉       | 130/447 [07:27<17:57,  3.40s/it]

Question: round trip flights from city_name1 to city_name0 please
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FAREalias0.ROUND_TRIP_REQUIRED = "YES" AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FAREalias0.ROUND_TRIP_COST IS NOT NULL AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 29%|██▉       | 131/447 [07:31<18:44,  3.56s/it]

Question: show me round trip flights from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FAREalias0.ROUND_TRIP_REQUIRED = "YES" AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FAREalias0.ROUND_TRIP_COST IS NOT NULL AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 30%|██▉       | 132/447 [07:35<19:08,  3.65s/it]

Question: show me round trip flights from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FAREalias0.ROUND_TRIP_REQUIRED = "YES" AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FAREalias0.ROUND_TRIP_COST IS NOT NULL AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 30%|██▉       | 133/447 [07:39<19:20,  3.69s/it]

Question: show me round trips between city_name1 and city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FAREalias0.ROUND_TRIP_REQUIRED = "YES" AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FAREalias0.ROUND_TRIP_COST IS NOT NULL AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 30%|██▉       | 134/447 [07:43<19:28,  3.73s/it]

Question: show me round trip flights from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FAREalias0.ROUND_TRIP_REQUIRED = "YES" AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FAREalias0.ROUND_TRIP_COST IS NOT NULL AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 30%|███       | 135/447 [07:47<19:57,  3.84s/it]

Question: show me round trip flights from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FAREalias0.ROUND_TRIP_REQUIRED = "YES" AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FAREalias0.ROUND_TRIP_COST IS NOT NULL AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 30%|███       | 136/447 [07:50<18:39,  3.60s/it]

Question: i would like to book a round trip flight from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FAREalias0.ROUND_TRIP_COST IS NOT NULL AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 31%|███       | 137/447 [07:54<19:39,  3.80s/it]

Question: city_name1 to city_name0 economy
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FARE_BASISalias0.CLASS_TYPE = "economy" AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FARE_BASISalias0.ECONOMY = "economy0" AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 31%|███       | 138/447 [07:58<20:24,  3.96s/it]

Question: city_name1 to city_name0 economy
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FARE_BASISalias0.CLASS_TYPE = "economy" AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FARE_BASISalias0.ECONOMY = "economy0" AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 31%|███       | 139/447 [08:03<20:52,  4.07s/it]

Question: city_name1 to city_name0 economy
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FARE_BASISalias0.CLASS_TYPE = "economy" AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FARE_BASISalias0.ECONOMY = "economy0" AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 31%|███▏      | 140/447 [08:07<21:24,  4.18s/it]

Question: city_name1 to city_name0 economy
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FARE_BASISalias0.CLASS_TYPE = "economy" AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FARE_BASISalias0.ECONOMY = "economy0" AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 32%|███▏      | 141/447 [08:12<21:33,  4.23s/it]

Question: city_name1 to city_name0 economy
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FARE_BASISalias0.CLASS_TYPE = "economy" AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FARE_BASISalias0.ECONOMY = "economy0" AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 32%|███▏      | 142/447 [08:14<18:52,  3.71s/it]

Question: what types of ground transportation are available in city_name0
Predicted SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.AIRPORT_CODE = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE ;
Incorrect

 32%|███▏      | 143/447 [08:16<16:52,  3.33s/it]

Question: is ground transportation available in city_name0
Predicted SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE ;
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE ;
Incorrect

 32%|███▏      | 144/447 [08:19<14:51,  2.94s/it]

Question: ground transportation in city_name0
Predicted SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE ;
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE ;
Correct

 32%|███▏      | 145/447 [08:21<14:25,  2.87s/it]

Question: ground transportation for city_name0
Predicted SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM AIRPORT AS AIRPORTalias0 , CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE AND GROUND_SERVICEalias0.AIRPORT_CODE = AIRPORTalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE ;
Incorrect

 33%|███▎      | 146/447 [08:24<14:07,  2.81s/it]

Question: show me ground transportation in city_name0
Predicted SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE AND GROUND_SERVICEalias0.AIRPORT_CODE = AIRPORT_SERVICEalias0.AIRPORT_CODE;
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE ;
Incorrect

 33%|███▎      | 147/447 [08:27<14:38,  2.93s/it]

Question: show me ground transportation in city_name0
Predicted SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE AND GROUND_SERVICEalias0.AIRPORT_CODE = AIRPORT_SERVICEalias0.AIRPORT_CODE;
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE ;
Incorrect

 33%|███▎      | 148/447 [08:30<14:16,  2.87s/it]

Question: what ground transportation is there in city_name0
Predicted SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE AND GROUND_SERVICEalias0.AIRPORT_CODE = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE ;
Incorrect

 33%|███▎      | 149/447 [08:32<13:24,  2.70s/it]

Question: list ground transportation in city_name0
Predicted SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE ;
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE ;
Incorrect

 34%|███▎      | 150/447 [08:35<13:23,  2.70s/it]

Question: is there ground transportation available at the city_name0 airport
Predicted SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE AND AIRPORT_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE AND GROUND_SERVICEalias0.AIRPORT_CODE = AIRPORT_SERVICEalias0.AIRPORT_CODE;
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE ;
Incorrect

 34%|███▍      | 151/447 [08:38<13:25,  2.72s/it]

Question: is there ground transportation available at the city_name0 airport
Predicted SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE AND AIRPORT_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE AND GROUND_SERVICEalias0.AIRPORT_CODE = AIRPORT_SERVICEalias0.AIRPORT_CODE;
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE ;
Incorrect

 34%|███▍      | 152/447 [08:40<13:24,  2.73s/it]

Question: is there ground transportation available at the city_name0 airport
Predicted SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE AND AIRPORT_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE AND GROUND_SERVICEalias0.AIRPORT_CODE = AIRPORT_SERVICEalias0.AIRPORT_CODE;
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE ;
Incorrect

 34%|███▍      | 153/447 [08:43<13:36,  2.78s/it]

Question: is there ground transportation available at the city_name0 airport
Predicted SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE AND AIRPORT_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE AND GROUND_SERVICEalias0.AIRPORT_CODE = AIRPORT_SERVICEalias0.AIRPORT_CODE;
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE ;
Incorrect

 34%|███▍      | 154/447 [08:46<13:21,  2.74s/it]

Question: tell me about the ground transportation from city_name0 airport
Predicted SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.AIRPORT_CODE = AIRPORT_SERVICEalias0.AIRPORT_CODE AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE ;
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE ;
Incorrect

 35%|███▍      | 155/447 [08:48<12:50,  2.64s/it]

Question: what type of ground transportation is there at the city_name0 airport
Predicted SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.AIRPORT_CODE = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE ;
Incorrect

 35%|███▍      | 156/447 [08:55<18:12,  3.75s/it]

Question: show me the cheapest one way flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FAREalias0.ONE_DIRECTION_COST = ( SELECT MIN( FAREalias1.ONE_DIRECTION_COST ) FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 , CITY AS CITYalias2 , CITY AS CITYalias3 , FARE AS FAREalias1 , FLIGHT AS FLIGHTalias1 , FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name0" AND CITYalias3.CITY_CODE = AIRPORT_SERVICEalias3.CITY_CODE AND CITYalias3.CITY_NAME = "city_name1" AND FAREalias1.ROUND_TRIP_REQUIRED = "round_trip_required0" AND FLIGHT_FAREalias1.FARE_ID = FAREalias1.FARE_ID AND FLIGHTalias1.FLIGHT_ID = FLIGHT_FAREalias1.FLIGHT_ID AND FLIGHTalias1.FROM_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND FLIGHTalias1.TO_AIRPORT = AIRPORT_SERVICEalias3.AIRPORT_CODE ) AND FAREalias0.ROUND_TRIP_REQUIRED = "round_trip_required0" AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ;
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FAREalias0.ONE_DIRECTION_COST = ( SELECT MIN( FAREalias1.ONE_DIRECTION_COST ) FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 , CITY AS CITYalias2 , CITY AS CITYalias3 , FARE AS FAREalias1 , FLIGHT AS FLIGHTalias1 , FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name0" AND CITYalias3.CITY_CODE = AIRPORT_SERVICEalias3.CITY_CODE AND CITYalias3.CITY_NAME = "city_name1" AND FAREalias1.ROUND_TRIP_REQUIRED = "round_trip_required0" AND FLIGHT_FAREalias1.FARE_ID = FAREalias1.FARE_ID AND FLIGHTalias1.FLIGHT_ID = FLIGHT_FAREalias1.FLIGHT_ID AND FLIGHTalias1.FROM_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND FLIGHTalias1.TO_AIRPORT = AIRPORT_SERVICEalias3.AIRPORT_CODE ) AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 35%|███▌      | 157/447 [09:01<21:57,  4.54s/it]

Question: show me the cheapest one way flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FAREalias0.ONE_DIRECTION_COST = ( SELECT MIN( FAREalias1.ONE_DIRECTION_COST ) FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 , CITY AS CITYalias2 , CITY AS CITYalias3 , FARE AS FAREalias1 , FLIGHT AS FLIGHTalias1 , FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name0" AND CITYalias3.CITY_CODE = AIRPORT_SERVICEalias3.CITY_CODE AND CITYalias3.CITY_NAME = "city_name1" AND FAREalias1.ROUND_TRIP_REQUIRED = "round_trip_required0" AND FLIGHT_FAREalias1.FARE_ID = FAREalias1.FARE_ID AND FLIGHTalias1.FLIGHT_ID = FLIGHT_FAREalias1.FLIGHT_ID AND FLIGHTalias1.FROM_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND FLIGHTalias1.TO_AIRPORT = AIRPORT_SERVICEalias3.AIRPORT_CODE ) AND FAREalias0.ROUND_TRIP_REQUIRED = "round_trip_required0" AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ;
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FAREalias0.ONE_DIRECTION_COST = ( SELECT MIN( FAREalias1.ONE_DIRECTION_COST ) FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 , CITY AS CITYalias2 , CITY AS CITYalias3 , FARE AS FAREalias1 , FLIGHT AS FLIGHTalias1 , FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name0" AND CITYalias3.CITY_CODE = AIRPORT_SERVICEalias3.CITY_CODE AND CITYalias3.CITY_NAME = "city_name1" AND FAREalias1.ROUND_TRIP_REQUIRED = "round_trip_required0" AND FLIGHT_FAREalias1.FARE_ID = FAREalias1.FARE_ID AND FLIGHTalias1.FLIGHT_ID = FLIGHT_FAREalias1.FLIGHT_ID AND FLIGHTalias1.FROM_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND FLIGHTalias1.TO_AIRPORT = AIRPORT_SERVICEalias3.AIRPORT_CODE ) AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 35%|███▌      | 158/447 [09:04<19:45,  4.10s/it]

Question: show me nonstop flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.STOPS = stops0 ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.STOPS = stops0 ;
Correct

 36%|███▌      | 159/447 [09:07<18:18,  3.82s/it]

Question: show me nonstop flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.STOPS = stops0 ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.STOPS = stops0 ;
Correct

 36%|███▌      | 160/447 [09:10<17:08,  3.58s/it]

Question: show me nonstop flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.STOPS = stops0 ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.STOPS = stops0 ;
Correct

 36%|███▌      | 161/447 [09:13<16:23,  3.44s/it]

Question: show me the nonstop flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.STOPS = stops0 ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.STOPS = stops0 ;
Correct

 36%|███▌      | 162/447 [09:17<15:56,  3.36s/it]

Question: give me the flights from city_name0 to city_name1 nonstop
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE AND FLIGHTalias0.STOPS = stops0 ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.STOPS = stops0 ;
Incorrect

 36%|███▋      | 163/447 [09:20<15:31,  3.28s/it]

Question: give me the flights from city_name0 to city_name1 nonstop
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.STOPS = stops0 ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.STOPS = stops0 ;
Correct

 37%|███▋      | 164/447 [09:23<15:46,  3.35s/it]

Question: what are the nonstop flights between city_name0 and city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.STOPS = stops0 ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.STOPS = stops0 ;
Correct

 37%|███▋      | 165/447 [09:27<16:24,  3.49s/it]

Question: city_name1 to city_name0 one way before departure_time0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( FAREalias0.ROUND_TRIP_REQUIRED = "round_trip_required0" AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 37%|███▋      | 166/447 [09:31<17:14,  3.68s/it]

Question: show me one way flights from city_name1 to city_name0 before departure_time0 on any day
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FAREalias0.ROUND_TRIP_REQUIRED = "NO" AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( FAREalias0.ROUND_TRIP_REQUIRED = "round_trip_required0" AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 37%|███▋      | 167/447 [09:34<16:26,  3.52s/it]

Question: i need a flight from city_name1 to city_name0 that leaves before departure_time0 see if too much information
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

 38%|███▊      | 168/447 [09:37<15:53,  3.42s/it]

Question: please list only the flights from city_name1 to city_name0 that leave before departure_time0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

 38%|███▊      | 169/447 [09:41<15:37,  3.37s/it]

Question: list flights before departure_time0 from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

 38%|███▊      | 170/447 [09:44<15:24,  3.34s/it]

Question: list flights from city_name1 to city_name0 before departure_time0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

 38%|███▊      | 171/447 [09:47<15:07,  3.29s/it]

Question: city_name1 to city_name0 before departure_time0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

 38%|███▊      | 172/447 [09:50<14:52,  3.25s/it]

Question: list the flights from city_name1 to city_name0 that leave before departure_time0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

 39%|███▊      | 173/447 [09:54<15:31,  3.40s/it]

Question: what type of aircraft are flying from city_name1 to city_name0 before departure_time0
Predicted SQL: SELECT DISTINCT AIRCRAFTalias0.BASIC_TYPE FROM AIRCRAFT AS AIRCRAFTalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , EQUIPMENT_SEQUENCE AS EQUIPMENT_SEQUENCEalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND EQUIPMENT_SEQUENCEalias0.AIRCRAFT_CODE = AIRCRAFTalias0.AIRCRAFT_CODE AND FLIGHTalias0.AIRCRAFT_CODE_SEQUENCE = EQUIPMENT_SEQUENCEalias0.AIRCRAFT_CODE_SEQUENCE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.BASIC_TYPE FROM AIRCRAFT AS AIRCRAFTalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , EQUIPMENT_SEQUENCE AS EQUIPMENT_SEQUENCEalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND EQUIPMENT_SEQUENCEalias0.AIRCRAFT_CODE = AIRCRAFTalias0.AIRCRAFT_CODE AND FLIGHTalias0.AIRCRAFT_CODE_SEQUENCE = EQUIPMENT_SEQUENCEalias0.AIRCRAFT_CODE_SEQUENCE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

 39%|███▉      | 174/447 [09:56<13:21,  2.94s/it]

Question: what are restrictions restriction_code0
Predicted SQL: SELECT DISTINCT RESTRICTIONalias0.RESTRICTION_CODE FROM RESTRICTION AS RESTRICTIONalias0 WHERE RESTRICTIONalias0.RESTRICTION_CODE = "restriction_code0";
Correct SQL: SELECT DISTINCT RESTRICTIONalias0.ADVANCE_PURCHASE , RESTRICTIONalias0.APPLICATION , RESTRICTIONalias0.MAXIMUM_STAY , RESTRICTIONalias0.MINIMUM_STAY , RESTRICTIONalias0.NO_DISCOUNTS , RESTRICTIONalias0.RESTRICTION_CODE , RESTRICTIONalias0.SATURDAY_STAY_REQUIRED , RESTRICTIONalias0.STOPOVERS FROM RESTRICTION AS RESTRICTIONalias0 WHERE RESTRICTIONalias0.RESTRICTION_CODE = "restriction_code0" ;
Incorrect

 39%|███▉      | 175/447 [09:59<13:25,  2.96s/it]

Question: what does the restriction ap58 mean
Predicted SQL: SELECT DISTINCT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.RESTRICTION_CODE = "ap58";
Correct SQL: SELECT DISTINCT RESTRICTIONalias0.ADVANCE_PURCHASE , RESTRICTIONalias0.APPLICATION , RESTRICTIONalias0.MAXIMUM_STAY , RESTRICTIONalias0.MINIMUM_STAY , RESTRICTIONalias0.NO_DISCOUNTS , RESTRICTIONalias0.RESTRICTION_CODE , RESTRICTIONalias0.SATURDAY_STAY_REQUIRED , RESTRICTIONalias0.STOPOVERS FROM RESTRICTION AS RESTRICTIONalias0 WHERE RESTRICTIONalias0.RESTRICTION_CODE = "restriction_code0" ;
Incorrect

 39%|███▉      | 176/447 [10:02<14:08,  3.13s/it]

Question: tell me again the morning flights on airline_code0 from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ;
Incorrect

 40%|███▉      | 177/447 [10:08<16:56,  3.76s/it]

Question: what is the earliest arriving flight from city_name0 to city_name1 state_code0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 , STATE AS STATEalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.ARRIVAL_TIME = ( SELECT MIN( FLIGHTalias1.ARRIVAL_TIME ) FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 , CITY AS CITYalias2 , CITY AS CITYalias3 , FLIGHT AS FLIGHTalias1 WHERE CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name0" AND CITYalias3.CITY_CODE = AIRPORT_SERVICEalias3.CITY_CODE AND CITYalias3.CITY_NAME = "city_name1" AND FLIGHTalias1.FROM_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND FLIGHTalias1.TO_AIRPORT = AIRPORT_SERVICEalias3.AIRPORT_CODE ) AND STATEalias0.STATE_CODE = CITYalias1.STATE_CODE AND STATEalias0.STATE_CODE = "state_code0" ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias3.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 WHERE AIRPORT_SERVICEalias3.CITY_CODE IN ( SELECT CITYalias3.CITY_CODE FROM CITY AS CITYalias3 WHERE ( CITYalias3.CITY_NAME = "city_name1" AND CITYalias3.STATE_CODE = "state_code0" ) ) ) ) AND FLIGHTalias0.ARRIVAL_TIME = ( SELECT MIN( FLIGHTalias1.ARRIVAL_TIME ) FROM FLIGHT AS FLIGHTalias1 WHERE ( FLIGHTalias1.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias1.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE ( CITYalias1.CITY_NAME = "city_name1" AND CITYalias1.STATE_CODE = "state_code0" ) ) ) ) ) ) ;
Incorrect

 40%|███▉      | 178/447 [10:13<19:24,  4.33s/it]

Question: what is the earliest arriving flight between city_name0 and city_name1 state_code0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 , STATE AS STATEalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE AND STATEalias0.STATE_CODE = CITYalias1.STATE_CODE AND STATEalias0.STATE_CODE = "state_code0" ) AND FLIGHTalias0.ARRIVAL_TIME = ( SELECT MIN( FLIGHTalias1.ARRIVAL_TIME ) FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 , CITY AS CITYalias2 , CITY AS CITYalias3 , FLIGHT AS FLIGHTalias1 , STATE AS STATEalias1 WHERE CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name0" AND CITYalias3.CITY_CODE = AIRPORT_SERVICEalias3.CITY_CODE AND CITYalias3.CITY_NAME = "city_name1" AND FLIGHTalias1.FROM_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND FLIGHTalias1.TO_AIRPORT = AIRPORT_SERVICEalias3.AIRPORT_CODE AND STATEalias1.STATE_CODE = CITYalias3.STATE_CODE AND STATEalias1.STATE_CODE = "state_code0" ) ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias3.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 WHERE AIRPORT_SERVICEalias3.CITY_CODE IN ( SELECT CITYalias3.CITY_CODE FROM CITY AS CITYalias3 WHERE ( CITYalias3.CITY_NAME = "city_name1" AND CITYalias3.STATE_CODE = "state_code0" ) ) ) ) AND FLIGHTalias0.ARRIVAL_TIME = ( SELECT MIN( FLIGHTalias1.ARRIVAL_TIME ) FROM FLIGHT AS FLIGHTalias1 WHERE ( FLIGHTalias1.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias1.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE ( CITYalias1.CITY_NAME = "city_name1" AND CITYalias1.STATE_CODE = "state_code0" ) ) ) ) ) ) ;
Incorrect

 40%|████      | 179/447 [10:20<22:03,  4.94s/it]

Question: what 's the earliest arriving flight between city_name0 and city_name1 state_code0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 , STATE AS STATEalias0 , STATE AS STATEalias1 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE AND STATEalias0.STATE_CODE = CITYalias0.STATE_CODE AND STATEalias0.STATE_NAME = "state_name0" AND STATEalias1.STATE_CODE = CITYalias1.STATE_CODE AND STATEalias1.STATE_NAME = "state_name1" ) AND FLIGHTalias0.ARRIVAL_TIME = ( SELECT MIN( FLIGHTalias1.ARRIVAL_TIME ) FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 , CITY AS CITYalias2 , CITY AS CITYalias3 , FLIGHT AS FLIGHTalias1 , STATE AS STATEalias2 , STATE AS STATEalias3 WHERE CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name0" AND CITYalias3.CITY_CODE = AIRPORT_SERVICEalias3.CITY_CODE AND CITYalias3.CITY_NAME = "city_name1" AND FLIGHTalias1.FROM_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND FLIGHTalias1.TO_AIRPORT = AIRPORT_SERVICEalias3.AIRPORT_CODE AND STATEalias2.STATE_CODE = CITYalias2.STATE_CODE AND STATEalias2.STATE_NAME = "state_name0" AND STATEalias3.STATE_CODE = CITYalias3.STATE_CODE AND STATEalias3.STATE_NAME = "state_name1" ) ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias3.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 WHERE AIRPORT_SERVICEalias3.CITY_CODE IN ( SELECT CITYalias3.CITY_CODE FROM CITY AS CITYalias3 WHERE ( CITYalias3.CITY_NAME = "city_name1" AND CITYalias3.STATE_CODE = "state_code0" ) ) ) ) AND FLIGHTalias0.ARRIVAL_TIME = ( SELECT MIN( FLIGHTalias1.ARRIVAL_TIME ) FROM FLIGHT AS FLIGHTalias1 WHERE ( FLIGHTalias1.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias1.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE ( CITYalias1.CITY_NAME = "city_name1" AND CITYalias1.STATE_CODE = "state_code0" ) ) ) ) ) ) ;
Incorrect

 40%|████      | 180/447 [10:25<22:11,  4.99s/it]

Question: what is the earliest arriving flight from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.ARRIVAL_TIME = ( SELECT MIN( FLIGHTalias1.ARRIVAL_TIME ) FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 , CITY AS CITYalias2 , CITY AS CITYalias3 , FLIGHT AS FLIGHTalias1 WHERE CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name0" AND CITYalias3.CITY_CODE = AIRPORT_SERVICEalias3.CITY_CODE AND CITYalias3.CITY_NAME = "city_name1" AND FLIGHTalias1.FROM_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND FLIGHTalias1.TO_AIRPORT = AIRPORT_SERVICEalias3.AIRPORT_CODE ) ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.ARRIVAL_TIME = ( SELECT MIN( FLIGHTalias1.ARRIVAL_TIME ) FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 , CITY AS CITYalias2 , CITY AS CITYalias3 , FLIGHT AS FLIGHTalias1 WHERE CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name0" AND CITYalias3.CITY_CODE = AIRPORT_SERVICEalias3.CITY_CODE AND CITYalias3.CITY_NAME = "city_name1" AND FLIGHTalias1.FROM_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND FLIGHTalias1.TO_AIRPORT = AIRPORT_SERVICEalias3.AIRPORT_CODE ) AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 40%|████      | 181/447 [10:30<21:48,  4.92s/it]

Question: what is the earliest arriving flight from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.ARRIVAL_TIME = ( SELECT MIN( FLIGHTalias1.ARRIVAL_TIME ) FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 , CITY AS CITYalias2 , CITY AS CITYalias3 , FLIGHT AS FLIGHTalias1 WHERE CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name0" AND CITYalias3.CITY_CODE = AIRPORT_SERVICEalias3.CITY_CODE AND CITYalias3.CITY_NAME = "city_name1" AND FLIGHTalias1.FROM_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND FLIGHTalias1.TO_AIRPORT = AIRPORT_SERVICEalias3.AIRPORT_CODE ) ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.ARRIVAL_TIME = ( SELECT MIN( FLIGHTalias1.ARRIVAL_TIME ) FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 , CITY AS CITYalias2 , CITY AS CITYalias3 , FLIGHT AS FLIGHTalias1 WHERE CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name0" AND CITYalias3.CITY_CODE = AIRPORT_SERVICEalias3.CITY_CODE AND CITYalias3.CITY_NAME = "city_name1" AND FLIGHTalias1.FROM_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND FLIGHTalias1.TO_AIRPORT = AIRPORT_SERVICEalias3.AIRPORT_CODE ) AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 41%|████      | 182/447 [10:33<19:10,  4.34s/it]

Question: what are the fares for flights between city_name0 and city_name1
Predicted SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FAREalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FAREalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND CITYalias1.STATE_CODE = "state_code0" AND FAREalias0.ROUND_TRIP_COST IS NOT NULL AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Incorrect

 41%|████      | 183/447 [10:34<15:39,  3.56s/it]

Question: what is airport_code0
Predicted SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" ;
Correct SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" ;
Correct

 41%|████      | 184/447 [10:36<13:11,  3.01s/it]

Question: what is airport_code0
Predicted SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" ;
Correct SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" ;
Correct

 41%|████▏     | 185/447 [10:40<14:24,  3.30s/it]

Question: i need a flight_days0 flight from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.FLIGHT_DAYS = "flight_days0" ;
Incorrect

 42%|████▏     | 186/447 [10:42<13:08,  3.02s/it]

Question: what does fare code fare_basis_code0 mean
Predicted SQL: SELECT DISTINCT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.FARE_BASIS_CODE = "fare_basis_code0" ;
Correct SQL: SELECT DISTINCT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.FARE_BASIS_CODE = "fare_basis_code0" ;
Correct

 42%|████▏     | 187/447 [10:44<11:56,  2.75s/it]

Question: what does fare code fare_basis_code0 mean
Predicted SQL: SELECT DISTINCT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.FARE_BASIS_CODE = "fare_basis_code0" ;
Correct SQL: SELECT DISTINCT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.FARE_BASIS_CODE = "fare_basis_code0" ;
Correct

 42%|████▏     | 188/447 [10:47<11:11,  2.59s/it]

Question: what does fare code fare_basis_code0 mean
Predicted SQL: SELECT DISTINCT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.FARE_BASIS_CODE = "fare_basis_code0" ;
Correct SQL: SELECT DISTINCT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.FARE_BASIS_CODE = "fare_basis_code0" ;
Correct

 42%|████▏     | 189/447 [10:49<10:29,  2.44s/it]

Question: what does fare code fare_basis_code0 mean
Predicted SQL: SELECT DISTINCT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.FARE_BASIS_CODE = "fare_basis_code0" ;
Correct SQL: SELECT DISTINCT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.FARE_BASIS_CODE = "fare_basis_code0" ;
Correct

 43%|████▎     | 190/447 [10:51<09:57,  2.33s/it]

Question: what does fare code fare_basis_code0 mean
Predicted SQL: SELECT DISTINCT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.FARE_BASIS_CODE = "fare_basis_code0" ;
Correct SQL: SELECT DISTINCT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.FARE_BASIS_CODE = "fare_basis_code0" ;
Correct

 43%|████▎     | 191/447 [10:53<09:32,  2.24s/it]

Question: what does fare code fare_basis_code0 mean
Predicted SQL: SELECT DISTINCT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.FARE_BASIS_CODE = "fare_basis_code0" ;
Correct SQL: SELECT DISTINCT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.FARE_BASIS_CODE = "fare_basis_code0" ;
Correct

 43%|████▎     | 192/447 [10:55<09:20,  2.20s/it]

Question: what does fare code fare_basis_code0 mean
Predicted SQL: SELECT DISTINCT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.FARE_BASIS_CODE = "fare_basis_code0" ;
Correct SQL: SELECT DISTINCT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.FARE_BASIS_CODE = "fare_basis_code0" ;
Correct

 43%|████▎     | 193/447 [10:59<11:13,  2.65s/it]

Question: show me flights from city_name0 to city_name1 one way
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FAREalias0.ROUND_TRIP_REQUIRED = "NO" AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FAREalias0.ROUND_TRIP_REQUIRED = "round_trip_required0" AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 43%|████▎     | 194/447 [11:02<11:53,  2.82s/it]

Question: list flights from city_name1 to city_name0 after departure_time0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

 44%|████▎     | 195/447 [11:06<12:51,  3.06s/it]

Question: city_name1 to city_name0 after 1201am
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

 44%|████▍     | 196/447 [11:08<12:26,  2.97s/it]

Question: what cities does airline_code0 fly out of
Predicted SQL: SELECT DISTINCT CITYalias0.CITY_NAME FROM AIRLINE AS AIRLINEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND FLIGHTalias0.AIRLINE_CODE = AIRLINEalias0.AIRLINE_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT CITYalias0.CITY_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 44%|████▍     | 197/447 [11:11<12:17,  2.95s/it]

Question: list the cities from which airline_code0 flies
Predicted SQL: SELECT DISTINCT CITYalias0.CITY_NAME FROM AIRLINE AS AIRLINEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.AIRLINE_CODE = AIRLINEalias0.AIRLINE_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE ;
Correct SQL: SELECT DISTINCT CITYalias0.CITY_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 44%|████▍     | 198/447 [11:14<12:08,  2.93s/it]

Question: what cities does airline_code0 fly to
Predicted SQL: SELECT DISTINCT CITYalias0.CITY_NAME FROM AIRLINE AS AIRLINEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.AIRLINE_CODE = AIRLINEalias0.AIRLINE_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE ;
Correct SQL: SELECT DISTINCT CITYalias0.CITY_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 45%|████▍     | 199/447 [11:16<10:42,  2.59s/it]

Question: what the abbreviation airline_code0 stand for
Predicted SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_NAME FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 45%|████▍     | 200/447 [11:18<09:45,  2.37s/it]

Question: what airline is airline_code0
Predicted SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_NAME FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 45%|████▍     | 201/447 [11:20<09:01,  2.20s/it]

Question: which airline is airline_code0
Predicted SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_NAME FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 45%|████▌     | 202/447 [11:21<08:22,  2.05s/it]

Question: what airline is airline_code0
Predicted SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_NAME FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 45%|████▌     | 203/447 [11:23<08:00,  1.97s/it]

Question: what airline is airline_code0
Predicted SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_NAME FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 46%|████▌     | 204/447 [11:25<07:57,  1.97s/it]

Question: which airline is airline_code0
Predicted SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_NAME FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 46%|████▌     | 205/447 [11:27<08:04,  2.00s/it]

Question: which airline is airline_code0
Predicted SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_NAME FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 46%|████▌     | 206/447 [11:29<07:46,  1.94s/it]

Question: which airline is airline_code0
Predicted SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_NAME FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 46%|████▋     | 207/447 [11:31<07:46,  1.94s/it]

Question: which airline is airline_code0
Predicted SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_NAME FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 47%|████▋     | 208/447 [11:33<07:36,  1.91s/it]

Question: what airline is airline_code0
Predicted SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_NAME FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 47%|████▋     | 209/447 [11:35<07:35,  1.92s/it]

Question: what airline is airline_code0
Predicted SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_NAME FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 47%|████▋     | 210/447 [11:36<07:22,  1.87s/it]

Question: what airline is airline_code0
Predicted SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_NAME FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 47%|████▋     | 211/447 [11:38<07:14,  1.84s/it]

Question: what airline is airline_code0
Predicted SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_NAME FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 47%|████▋     | 212/447 [11:40<07:10,  1.83s/it]

Question: what airline is airline_code0
Predicted SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_NAME FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 48%|████▊     | 213/447 [11:42<07:11,  1.85s/it]

Question: what airline is airline_code0
Predicted SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_NAME FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 48%|████▊     | 214/447 [11:43<06:56,  1.79s/it]

Question: what airline is a s airline_code0 in sam
Predicted SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_NAME FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0";
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 48%|████▊     | 215/447 [11:45<06:52,  1.78s/it]

Question: what airline is airline_code0
Predicted SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_NAME FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 48%|████▊     | 216/447 [11:47<06:59,  1.82s/it]

Question: which airline is airline_code0
Predicted SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_NAME FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 49%|████▊     | 217/447 [11:52<09:58,  2.60s/it]

Question: city_name1 to city_name0 on wednesday arriving before arrival_time0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.ARRIVAL_TIME < arrival_time0 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.ARRIVAL_TIME < arrival_time0 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

 49%|████▉     | 218/447 [11:54<09:30,  2.49s/it]

Question: list airports in city_name0
Predicted SQL: SELECT DISTINCT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" ;
Correct SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 WHERE AIRPORTalias0.AIRPORT_CODE = AIRPORT_SERVICEalias0.AIRPORT_CODE AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" ;
Incorrect

 49%|████▉     | 219/447 [11:56<09:02,  2.38s/it]

Question: list airports in city_name0
Predicted SQL: SELECT DISTINCT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" ;
Correct SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 WHERE AIRPORTalias0.AIRPORT_CODE = AIRPORT_SERVICEalias0.AIRPORT_CODE AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" ;
Incorrect

 49%|████▉     | 220/447 [11:59<09:39,  2.55s/it]

Question: list airports in city_name0
Predicted SQL: SELECT DISTINCT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" ;
Correct SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 WHERE AIRPORTalias0.AIRPORT_CODE = AIRPORT_SERVICEalias0.AIRPORT_CODE AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" ;
Incorrect

 49%|████▉     | 221/447 [12:01<09:10,  2.44s/it]

Question: list the airports in city_name0
Predicted SQL: SELECT DISTINCT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" ;
Correct SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 WHERE AIRPORTalias0.AIRPORT_CODE = AIRPORT_SERVICEalias0.AIRPORT_CODE AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" ;
Incorrect

 50%|████▉     | 222/447 [12:03<08:49,  2.35s/it]

Question: tell me all the airports near city_name0
Predicted SQL: SELECT DISTINCT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" AND AIRPORT_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE ;
Correct SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 WHERE AIRPORTalias0.AIRPORT_CODE = AIRPORT_SERVICEalias0.AIRPORT_CODE AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" ;
Incorrect

 50%|████▉     | 223/447 [12:05<08:34,  2.30s/it]

Question: tell me all the airports in the city_name0 area
Predicted SQL: SELECT DISTINCT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" AND AIRPORT_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE ;
Correct SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 WHERE AIRPORTalias0.AIRPORT_CODE = AIRPORT_SERVICEalias0.AIRPORT_CODE AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" ;
Incorrect

 50%|█████     | 224/447 [12:08<08:31,  2.29s/it]

Question: i need to transport_type0 at city_name0
Predicted SQL: SELECT DISTINCT GROUND_SERVICEalias0.GROUND_SERVICE_CODE FROM CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE AND GROUND_SERVICEalias0.TRANSPORT_TYPE = "transport_type0" ;
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE ( GROUND_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) AND GROUND_SERVICEalias0.TRANSPORT_TYPE = "transport_type0" ) ;
Incorrect

 50%|█████     | 225/447 [12:13<11:23,  3.08s/it]

Question: i would like a flight that leaves on sunday from city_name1 state_name1 to city_name0 state_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 , STATE AS STATEalias0 , STATE AS STATEalias1 WHERE ( ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND STATEalias1.STATE_CODE = CITYalias1.STATE_CODE AND STATEalias1.STATE_NAME = "state_name0" ) AND STATEalias0.STATE_CODE = CITYalias0.STATE_CODE AND STATEalias0.STATE_NAME = "state_name1" ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 , STATE AS STATEalias0 , STATE AS STATEalias1 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE AND STATEalias1.STATE_CODE = CITYalias1.STATE_CODE AND STATEalias1.STATE_NAME = "state_name0" ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND STATEalias0.STATE_CODE = CITYalias0.STATE_CODE AND STATEalias0.STATE_NAME = "state_name1" ;
Incorrect

 51%|█████     | 226/447 [12:18<13:40,  3.71s/it]

Question: what are the flights from city_name1 state_name1 to city_name0 state_name0 on tuesday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 , STATE AS STATEalias0 , STATE AS STATEalias1 WHERE ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE AND STATEalias1.STATE_CODE = CITYalias1.STATE_CODE AND STATEalias1.STATE_NAME = "state_name0" ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND STATEalias0.STATE_CODE = CITYalias0.STATE_CODE AND STATEalias0.STATE_NAME = "state_name1" ) ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 , STATE AS STATEalias0 , STATE AS STATEalias1 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE AND STATEalias1.STATE_CODE = CITYalias1.STATE_CODE AND STATEalias1.STATE_NAME = "state_name0" ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND STATEalias0.STATE_CODE = CITYalias0.STATE_CODE AND STATEalias0.STATE_NAME = "state_name1" ;
Incorrect

 51%|█████     | 227/447 [12:20<11:44,  3.20s/it]

Question: what does fare code booking_class0 mean
Predicted SQL: SELECT DISTINCT CLASS_OF_SERVICEalias0.BOOKING_CLASS FROM CLASS_OF_SERVICE AS CLASS_OF_SERVICEalias0 WHERE CLASS_OF_SERVICEalias0.BOOKING_CLASS = "booking_class0" ;
Correct SQL: SELECT DISTINCT CLASS_OF_SERVICEalias0.BOOKING_CLASS FROM CLASS_OF_SERVICE AS CLASS_OF_SERVICEalias0 WHERE CLASS_OF_SERVICEalias0.BOOKING_CLASS = "booking_class0" ;
Correct

 51%|█████     | 228/447 [12:22<10:09,  2.78s/it]

Question: what does fare code booking_class0 mean
Predicted SQL: SELECT DISTINCT CLASS_OF_SERVICEalias0.BOOKING_CLASS FROM CLASS_OF_SERVICE AS CLASS_OF_SERVICEalias0 WHERE CLASS_OF_SERVICEalias0.BOOKING_CLASS = "booking_class0" ;
Correct SQL: SELECT DISTINCT CLASS_OF_SERVICEalias0.BOOKING_CLASS FROM CLASS_OF_SERVICE AS CLASS_OF_SERVICEalias0 WHERE CLASS_OF_SERVICEalias0.BOOKING_CLASS = "booking_class0" ;
Correct

 51%|█████     | 229/447 [12:23<09:09,  2.52s/it]

Question: what does fare code booking_class0 mean
Predicted SQL: SELECT DISTINCT CLASS_OF_SERVICEalias0.BOOKING_CLASS FROM CLASS_OF_SERVICE AS CLASS_OF_SERVICEalias0 WHERE CLASS_OF_SERVICEalias0.BOOKING_CLASS = "booking_class0" ;
Correct SQL: SELECT DISTINCT CLASS_OF_SERVICEalias0.BOOKING_CLASS FROM CLASS_OF_SERVICE AS CLASS_OF_SERVICEalias0 WHERE CLASS_OF_SERVICEalias0.BOOKING_CLASS = "booking_class0" ;
Correct

 51%|█████▏    | 230/447 [12:25<08:33,  2.37s/it]

Question: what does fare code booking_class0 mean
Predicted SQL: SELECT DISTINCT CLASS_OF_SERVICEalias0.BOOKING_CLASS FROM CLASS_OF_SERVICE AS CLASS_OF_SERVICEalias0 WHERE CLASS_OF_SERVICEalias0.BOOKING_CLASS = "booking_class0" ;
Correct SQL: SELECT DISTINCT CLASS_OF_SERVICEalias0.BOOKING_CLASS FROM CLASS_OF_SERVICE AS CLASS_OF_SERVICEalias0 WHERE CLASS_OF_SERVICEalias0.BOOKING_CLASS = "booking_class0" ;
Correct

 52%|█████▏    | 231/447 [12:27<07:59,  2.22s/it]

Question: what class is fare code booking_class0
Predicted SQL: SELECT DISTINCT CLASS_OF_SERVICEalias0.CLASS_DESCRIPTION FROM CLASS_OF_SERVICE AS CLASS_OF_SERVICEalias0 WHERE CLASS_OF_SERVICEalias0.BOOKING_CLASS = "booking_class0";
Correct SQL: SELECT DISTINCT CLASS_OF_SERVICEalias0.BOOKING_CLASS FROM CLASS_OF_SERVICE AS CLASS_OF_SERVICEalias0 WHERE CLASS_OF_SERVICEalias0.BOOKING_CLASS = "booking_class0" ;
Incorrect

 52%|█████▏    | 232/447 [12:30<08:35,  2.40s/it]

Question: list the airlines with flights to or from city_name0
Predicted SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = AIRLINEalias0.AIRLINE_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE OR FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = AIRLINEalias0.AIRLINE_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 52%|█████▏    | 233/447 [12:33<08:58,  2.52s/it]

Question: how many airline_code0 flights leave city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT COUNT( DISTINCT FLIGHTalias0.FLIGHT_ID ) FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 52%|█████▏    | 234/447 [12:37<10:34,  2.98s/it]

Question: list airfares for class_type0 class round trip from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 WHERE ( ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FAREalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FAREalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FAREalias0.ROUND_TRIP_REQUIRED = "round_trip_required0" ) AND FARE_BASISalias0.CLASS_TYPE = "class_type0" AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE ;
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FAREalias0.ROUND_TRIP_COST IS NOT NULL AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FARE_BASISalias0.CLASS_TYPE = "class_type0" AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE ;
Incorrect

 53%|█████▎    | 235/447 [12:42<12:13,  3.46s/it]

Question: list class_type0 round trip airfare from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FARE_BASISalias0.CLASS_TYPE = "class_type0" AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ) AND FAREalias0.ROUND_TRIP_REQUIRED = "NO" ;
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FAREalias0.ROUND_TRIP_COST IS NOT NULL AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FARE_BASISalias0.CLASS_TYPE = "class_type0" AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE ;
Incorrect

 53%|█████▎    | 236/447 [12:45<12:28,  3.55s/it]

Question: show me the cost of a class_type0 class ticket from city_name0 to city_name1 and back
Predicted SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 WHERE ( ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FAREalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FAREalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FAREalias0.ROUND_TRIP_REQUIRED = "round_trip_required0" ) AND FARE_BASISalias0.CLASS_TYPE = "class_type0" AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE ;
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FAREalias0.ROUND_TRIP_COST IS NOT NULL AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FARE_BASISalias0.CLASS_TYPE = "class_type0" AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE ;
Incorrect

 53%|█████▎    | 237/447 [12:48<11:02,  3.15s/it]

Question: list all flights departing from city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

 53%|█████▎    | 238/447 [12:52<12:36,  3.62s/it]

Question: i need the fares on flights from city_name1 to city_name0 on a day_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ;
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DAYS AS DAYSalias0 , DAYS AS DAYSalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DAYSalias1.DAY_NAME = "day_name0" AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias1.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND DAYSalias0.DAY_NAME = "day_name0" AND FARE_BASISalias0.BASIS_DAYS = DAYSalias0.DAYS_CODE AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 53%|█████▎    | 239/447 [12:57<13:39,  3.94s/it]

Question: get day_name0 fares from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DAYS AS DAYSalias0 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DAYSalias0.DAY_NAME = "day_name0" AND FAREalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FARE_BASISalias0.BASIS_DAYS = DAYSalias0.DAYS_CODE AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FAREalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DAYS AS DAYSalias0 , DAYS AS DAYSalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DAYSalias1.DAY_NAME = "day_name0" AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias1.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND DAYSalias0.DAY_NAME = "day_name0" AND FARE_BASISalias0.BASIS_DAYS = DAYSalias0.DAYS_CODE AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 54%|█████▎    | 240/447 [13:01<13:47,  4.00s/it]

Question: get day_name0 fares from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DAYS AS DAYSalias0 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DAYSalias0.DAY_NAME = "day_name0" AND FAREalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FARE_BASISalias0.BASIS_DAYS = DAYSalias0.DAYS_CODE AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FAREalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DAYS AS DAYSalias0 , DAYS AS DAYSalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DAYSalias1.DAY_NAME = "day_name0" AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias1.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND DAYSalias0.DAY_NAME = "day_name0" AND FARE_BASISalias0.BASIS_DAYS = DAYSalias0.DAYS_CODE AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 54%|█████▍    | 241/447 [13:06<14:15,  4.15s/it]

Question: get day_name0 fares from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DAYS AS DAYSalias0 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DAYSalias0.DAY_NAME = "day_name0" AND FAREalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FARE_BASISalias0.BASIS_DAYS = DAYSalias0.DAYS_CODE AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FAREalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DAYS AS DAYSalias0 , DAYS AS DAYSalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DAYSalias1.DAY_NAME = "day_name0" AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias1.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND DAYSalias0.DAY_NAME = "day_name0" AND FARE_BASISalias0.BASIS_DAYS = DAYSalias0.DAYS_CODE AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 54%|█████▍    | 242/447 [13:10<14:07,  4.13s/it]

Question: get the day_name0 fare from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DAYS AS DAYSalias0 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DAYSalias0.DAY_NAME = "day_name0" AND FAREalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FARE_BASISalias0.BASIS_DAYS = DAYSalias0.DAYS_CODE AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FAREalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DAYS AS DAYSalias0 , DAYS AS DAYSalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DAYSalias1.DAY_NAME = "day_name0" AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias1.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND DAYSalias0.DAY_NAME = "day_name0" AND FARE_BASISalias0.BASIS_DAYS = DAYSalias0.DAYS_CODE AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 54%|█████▍    | 243/447 [13:14<14:04,  4.14s/it]

Question: get first flight from city_name1 to city_name0 on thursday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) ORDER BY FLIGHTalias0.DEPARTURE_TIME LIMIT 1 ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias3.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 WHERE AIRPORT_SERVICEalias3.CITY_CODE IN ( SELECT CITYalias3.CITY_CODE FROM CITY AS CITYalias3 WHERE CITYalias3.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME = ( SELECT MIN( FLIGHTalias1.DEPARTURE_TIME ) FROM FLIGHT AS FLIGHTalias1 WHERE ( ( FLIGHTalias1.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias1.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias1.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ) ) ;
Incorrect

 55%|█████▍    | 244/447 [13:17<12:36,  3.73s/it]

Question: list the airline_code0 flights from city_name0 to anywhere
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

 55%|█████▍    | 245/447 [13:19<11:19,  3.36s/it]

Question: list the airline_code0 flights from city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

 55%|█████▌    | 246/447 [13:22<10:20,  3.09s/it]

Question: list the airline_code0 flights departing from city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

 55%|█████▌    | 247/447 [13:25<10:43,  3.22s/it]

Question: i need a flight on airline_code0 from city_name1 to city_name0 that arrives around 5pm
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.ARRIVAL_TIME < arrival_time0 AND FLIGHTalias0.ARRIVAL_TIME > arrival_time1 ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.ARRIVAL_TIME <= arrival_time0 AND FLIGHTalias0.ARRIVAL_TIME >= arrival_time1 ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 55%|█████▌    | 248/447 [13:29<11:09,  3.36s/it]

Question: i'd like to fly from city_name1 to city_name0 on on airline_code0 arriving around 5pm
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.ARRIVAL_TIME < arrival_time0 AND FLIGHTalias0.ARRIVAL_TIME > arrival_time1 ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.ARRIVAL_TIME <= arrival_time0 AND FLIGHTalias0.ARRIVAL_TIME >= arrival_time1 ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 56%|█████▌    | 249/447 [13:31<10:21,  3.14s/it]

Question: show me the airports serviced by airline_code0
Predicted SQL: SELECT DISTINCT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRLINE AS AIRLINEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , FLIGHT AS FLIGHTalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.AIRLINE_CODE = AIRLINEalias0.AIRLINE_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 , FLIGHT AS FLIGHTalias0 WHERE FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.TO_AIRPORT = AIRPORTalias0.AIRPORT_CODE ;
Incorrect

 56%|█████▌    | 250/447 [13:40<15:17,  4.66s/it]

Question: cheapest fare from city_name1 to city_name0 on the day_number0 of month_number0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FAREalias0.FARE_ID = FLIGHT_FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FAREalias0.ROUND_TRIP_COST = ( SELECT MIN( FAREalias1.ROUND_TRIP_COST ) FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 , CITY AS CITYalias2 , CITY AS CITYalias3 , DATE_DAY AS DATE_DAYalias1 , DAYS AS DAYSalias1 , FARE AS FAREalias1 , FLIGHT AS FLIGHTalias1 , FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE ( CITYalias3.CITY_CODE = AIRPORT_SERVICEalias3.CITY_CODE AND CITYalias3.CITY_NAME = "city_name0" AND DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 AND DAYSalias1.DAY_NAME = DATE_DAYalias1.DAY_NAME AND FLIGHTalias1.FLIGHT_DAYS = DAYSalias1.DAYS_CODE AND FLIGHTalias1.TO_AIRPORT = AIRPORT_SERVICEalias3.AIRPORT_CODE ) AND CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name1" AND FAREalias1.FARE_ID = FLIGHT_FAREalias1.FARE_ID AND FLIGHTalias1.FLIGHT_ID = FLIGHT_FAREalias1.FLIGHT_ID AND FLIGHTalias1.FROM_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE ) ;
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FARE_BASISalias0.BASIS_DAYS = DAYSalias0.DAYS_CODE AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FAREalias0.ONE_DIRECTION_COST = ( SELECT MIN( FAREalias1.ONE_DIRECTION_COST ) FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 , CITY AS CITYalias2 , CITY AS CITYalias3 , DATE_DAY AS DATE_DAYalias1 , DAYS AS DAYSalias1 , FARE AS FAREalias1 , FARE_BASIS AS FARE_BASISalias1 , FLIGHT AS FLIGHTalias1 , FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name1" AND CITYalias3.CITY_CODE = AIRPORT_SERVICEalias3.CITY_CODE AND CITYalias3.CITY_NAME = "city_name0" AND DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 AND DAYSalias1.DAY_NAME = DATE_DAYalias1.DAY_NAME AND FARE_BASISalias1.BASIS_DAYS = DAYSalias1.DAYS_CODE AND FAREalias1.FARE_BASIS_CODE = FARE_BASISalias1.FARE_BASIS_CODE AND FLIGHT_FAREalias1.FARE_ID = FAREalias1.FARE_ID AND FLIGHTalias1.FLIGHT_ID = FLIGHT_FAREalias1.FLIGHT_ID AND FLIGHTalias1.FROM_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND FLIGHTalias1.TO_AIRPORT = AIRPORT_SERVICEalias3.AIRPORT_CODE ) ;
Incorrect

 56%|█████▌    | 251/447 [13:41<12:25,  3.80s/it]

Question: what is a aircraft_code0
Predicted SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Correct

 56%|█████▋    | 252/447 [13:43<10:23,  3.20s/it]

Question: what type of plane is a aircraft_code0
Predicted SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE, AIRCRAFTalias0.BASIC_TYPE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0";
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Incorrect

 57%|█████▋    | 253/447 [13:45<08:56,  2.76s/it]

Question: what is a aircraft_code0
Predicted SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Correct

 57%|█████▋    | 254/447 [13:47<08:00,  2.49s/it]

Question: what is the seating capacity on the aircraft aircraft_code0
Predicted SQL: SELECT DISTINCT AIRCRAFTalias0.SEATING_CAPACITY FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Incorrect

 57%|█████▋    | 255/447 [13:49<07:18,  2.29s/it]

Question: what is the seating capacity of a aircraft_code0
Predicted SQL: SELECT DISTINCT AIRCRAFTalias0.SEATING_CAPACITY FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Incorrect

 57%|█████▋    | 256/447 [13:50<06:53,  2.16s/it]

Question: what is the seating capacity of the aircraft aircraft_code0
Predicted SQL: SELECT DISTINCT AIRCRAFTalias0.SEATING_CAPACITY FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Incorrect

 57%|█████▋    | 257/447 [13:52<06:27,  2.04s/it]

Question: what is the seating capacity of the aircraft aircraft_code0
Predicted SQL: SELECT DISTINCT AIRCRAFTalias0.SEATING_CAPACITY FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Incorrect

 58%|█████▊    | 258/447 [13:54<06:09,  1.96s/it]

Question: what is the seating capacity of the type of aircraft aircraft_code0
Predicted SQL: SELECT DISTINCT AIRCRAFTalias0.SEATING_CAPACITY FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0";
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Incorrect

 58%|█████▊    | 259/447 [13:56<06:04,  1.94s/it]

Question: what is the seating capacity of an aircraft_code0
Predicted SQL: SELECT DISTINCT AIRCRAFTalias0.SEATING_CAPACITY FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Incorrect

 58%|█████▊    | 260/447 [13:59<06:40,  2.14s/it]

Question: what is the capacity of the aircraft_code0
Predicted SQL: SELECT DISTINCT AIRCRAFTalias0.CAPACITY FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0";
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Incorrect

 58%|█████▊    | 261/447 [14:01<06:38,  2.14s/it]

Question: what is aircraft_code0
Predicted SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Correct

 59%|█████▊    | 262/447 [14:03<06:21,  2.06s/it]

Question: what is seating capacity on the aircraft aircraft_code0
Predicted SQL: SELECT DISTINCT AIRCRAFTalias0.SEATING_CAPACITY FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Incorrect

 59%|█████▉    | 263/447 [14:04<06:09,  2.01s/it]

Question: what is the seating capacity of a aircraft_code0
Predicted SQL: SELECT DISTINCT AIRCRAFTalias0.SEATING_CAPACITY FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Incorrect

 59%|█████▉    | 264/447 [14:06<05:55,  1.94s/it]

Question: how many people will a aircraft_code0 hold
Predicted SQL: SELECT DISTINCT AIRCRAFTalias0.SEATING_CAPACITY FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Incorrect

 59%|█████▉    | 265/447 [14:08<05:43,  1.89s/it]

Question: how many passengers can fly on a aircraft_code0
Predicted SQL: SELECT DISTINCT AIRCRAFTalias0.PASSENGER_CAPACITY FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Incorrect

 60%|█████▉    | 266/447 [14:10<05:41,  1.89s/it]

Question: what is the seating capacity of the aircraft_code0
Predicted SQL: SELECT DISTINCT AIRCRAFTalias0.SEATING_CAPACITY FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Incorrect

 60%|█████▉    | 267/447 [14:12<05:32,  1.85s/it]

Question: tell me about the aircraft_code0 aircraft
Predicted SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Correct

 60%|█████▉    | 268/447 [14:13<05:24,  1.81s/it]

Question: tell me about the aircraft_code0 aircraft
Predicted SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Correct

 60%|██████    | 269/447 [14:15<05:20,  1.80s/it]

Question: tell me about the type of aircraft called an aircraft_code0
Predicted SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Correct

 60%|██████    | 270/447 [14:17<05:23,  1.83s/it]

Question: what is the seating capacity of the aircraft_code0
Predicted SQL: SELECT DISTINCT AIRCRAFTalias0.SEATS FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Incorrect

 61%|██████    | 271/447 [14:19<05:21,  1.83s/it]

Question: what is the seating capacity of the aircraft_code0
Predicted SQL: SELECT DISTINCT AIRCRAFTalias0.SEATING_CAPACITY FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Incorrect

 61%|██████    | 272/447 [14:21<05:21,  1.84s/it]

Question: what is the seating capacity on the aircraft aircraft_code0
Predicted SQL: SELECT DISTINCT AIRCRAFTalias0.SEATING_CAPACITY FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0";
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE = "aircraft_code0" ;
Incorrect

 61%|██████    | 273/447 [14:27<09:06,  3.14s/it]

Question: show me one way flights from city_name1 to city_name0 after departure_time0 on wednesday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FAREalias0.ROUND_TRIP_REQUIRED = "round_trip_required0" AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DATE_DAY AS DATE_DAYalias1 , DAYS AS DAYSalias0 , DAYS AS DAYSalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND DAYSalias1.DAY_NAME = DATE_DAYalias1.DAY_NAME AND FARE_BASISalias0.BASIS_DAYS = DAYSalias1.DAYS_CODE AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FAREalias0.ROUND_TRIP_REQUIRED = "round_trip_required0" AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ) AND FLIGHTalias0.DEPARTURE_TIME > departure_time0 ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 61%|██████▏   | 274/447 [14:31<09:52,  3.42s/it]

Question: from city_name1 to city_name0 one way after departure_time0 wednesday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DATE_DAY AS DATE_DAYalias1 , DAYS AS DAYSalias0 , DAYS AS DAYSalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND DAYSalias1.DAY_NAME = DATE_DAYalias1.DAY_NAME AND FARE_BASISalias0.BASIS_DAYS = DAYSalias1.DAYS_CODE AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FAREalias0.ROUND_TRIP_REQUIRED = "round_trip_required0" AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ) AND FLIGHTalias0.DEPARTURE_TIME > departure_time0 ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 62%|██████▏   | 275/447 [14:36<11:07,  3.88s/it]

Question: give me the flights from city_name1 to city_name0 that have meals on airline_code0 saturday morning
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 , FOOD_SERVICE AS FOOD_SERVICEalias0 WHERE ( ( ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME <= departure_time0 AND FLIGHTalias0.DEPARTURE_TIME >= departure_time1 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) AND FLIGHTalias0.MEAL_CODE = FOOD_SERVICEalias0.MEAL_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.MEAL_CODE IN ( SELECT FOOD_SERVICEalias0.MEAL_CODE FROM FOOD_SERVICE AS FOOD_SERVICEalias0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) ;
Incorrect

 62%|██████▏   | 276/447 [14:41<11:52,  4.17s/it]

Question: give me the flights from city_name1 to city_name0 on airline_code0 that have meals early saturday morning
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 , FOOD_SERVICE AS FOOD_SERVICEalias0 WHERE ( ( ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.MEAL_CODE IN (SELECT FOOD_SERVICE.MEAL_CODE FROM FOOD_SERVICE) ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.MEAL_CODE IN ( SELECT FOOD_SERVICEalias0.MEAL_CODE FROM FOOD_SERVICE AS FOOD_SERVICEalias0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) ;
Incorrect

 62%|██████▏   | 277/447 [14:45<12:11,  4.30s/it]

Question: give me a combination of airline_code0 flights from city_name1 to city_name0 that have meals early saturday morning
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 , FOOD_SERVICE AS FOOD_SERVICEalias0 WHERE ( ( ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.MEAL_CODE = FOOD_SERVICEalias0.MEAL_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.MEAL_CODE IN ( SELECT FOOD_SERVICEalias0.MEAL_CODE FROM FOOD_SERVICE AS FOOD_SERVICEalias0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) ;
Incorrect

 62%|██████▏   | 278/447 [14:51<13:19,  4.73s/it]

Question: give me the saturday morning flights on airline_code0 that have meals from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 , FOOD_SERVICE AS FOOD_SERVICEalias0 WHERE ( ( ( ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME <= departure_time0 AND FLIGHTalias0.DEPARTURE_TIME >= departure_time1 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) AND FLIGHTalias0.MEAL_CODE IN ( SELECT FOOD_SERVICEalias1.MEAL_CODE FROM FOOD_SERVICE AS FOOD_SERVICEalias1 WHERE FOOD_SERVICEalias1.MEAL_CODE IS NOT NULL ) ) AND FOOD_SERVICEalias0.MEAL_CODE = FLIGHTalias0.MEAL_CODE ) ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.MEAL_CODE IN ( SELECT FOOD_SERVICEalias0.MEAL_CODE FROM FOOD_SERVICE AS FOOD_SERVICEalias0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) ;
Incorrect

 62%|██████▏   | 279/447 [14:57<14:10,  5.07s/it]

Question: give me the saturday morning flights from city_name1 to city_name0 on airline_code0 that have meals
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 , FOOD_SERVICE AS FOOD_SERVICEalias0 WHERE ( ( ( ( ( FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.DEPARTURE_TIME > departure_time1 ) AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) AND FOOD_SERVICEalias0.MEAL_CODE = FLIGHTalias0.MEAL_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.MEAL_CODE IN ( SELECT FOOD_SERVICEalias0.MEAL_CODE FROM FOOD_SERVICE AS FOOD_SERVICEalias0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) ;
Incorrect

 63%|██████▎   | 280/447 [15:01<13:26,  4.83s/it]

Question: how about a flight from city_name1 to city_name0 that leaves monday night
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( ( FLIGHTalias0.DEPARTURE_TIME <= departure_time0 AND FLIGHTalias0.DEPARTURE_TIME >= departure_time1 ) AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) OR ( FLIGHTalias0.DEPARTURE_TIME <= departure_time2 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 63%|██████▎   | 281/447 [15:05<12:52,  4.65s/it]

Question: how about a flight leaving tuesday night from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME <= departure_time0 AND FLIGHTalias0.DEPARTURE_TIME >= departure_time1 ) AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( ( FLIGHTalias0.DEPARTURE_TIME <= departure_time0 AND FLIGHTalias0.DEPARTURE_TIME >= departure_time1 ) AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) OR ( FLIGHTalias0.DEPARTURE_TIME <= departure_time2 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 63%|██████▎   | 282/447 [15:08<11:19,  4.12s/it]

Question: get flights from city_name0 to airport_code0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT AS AIRPORTalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORTalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT AS AIRPORTalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORTalias0.AIRPORT_CODE ;
Incorrect

 63%|██████▎   | 283/447 [15:11<10:01,  3.67s/it]

Question: show me a return flight from city_name0 to airport_code0 please
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = "airport_code0" ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT AS AIRPORTalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORTalias0.AIRPORT_CODE ;
Incorrect

 64%|██████▎   | 284/447 [15:15<10:20,  3.81s/it]

Question: give me the flights from city_name1 to city_name0 on wednesday on airline_code0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 64%|██████▍   | 285/447 [15:19<10:42,  3.96s/it]

Question: saturday flight on airline_code0 from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 64%|██████▍   | 286/447 [15:24<10:47,  4.02s/it]

Question: i'd like to book a flight from city_name1 to city_name0 on airline_code0 for next saturday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 64%|██████▍   | 287/447 [15:28<10:48,  4.06s/it]

Question: find me all the round trip flights from city_name2 to city_name1 stopping in city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , CITY AS CITYalias0 , CITY AS CITYalias1 , CITY AS CITYalias2 , FLIGHT AS FLIGHTalias0 , FLIGHT_STOP AS FLIGHT_STOPalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name0" AND FLIGHT_STOPalias0.STOP_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND FLIGHTalias0.FLIGHT_ID = FLIGHT_STOPalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name2" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 , CITY AS CITYalias0 , CITY AS CITYalias1 , CITY AS CITYalias2 , CITY AS CITYalias3 , FLIGHT AS FLIGHTalias0 , FLIGHT_STOP AS FLIGHT_STOPalias0 , FLIGHT_STOP AS FLIGHT_STOPalias1 WHERE ( ( CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name0" AND FLIGHT_STOPalias0.STOP_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND FLIGHTalias0.FLIGHT_ID = FLIGHT_STOPalias0.FLIGHT_ID ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name2" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 64%|██████▍   | 288/447 [15:37<14:41,  5.54s/it]

Question: cheapest round trip fare from city_name1 to city_name0 on month_number0 day_number0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FAREalias0.ROUND_TRIP_COST = ( SELECT MIN( FAREalias1.ROUND_TRIP_COST ) FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 , CITY AS CITYalias2 , CITY AS CITYalias3 , DATE_DAY AS DATE_DAYalias1 , DAYS AS DAYSalias1 , FARE AS FAREalias1 , FLIGHT AS FLIGHTalias1 , FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE ( CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name0" AND CITYalias3.CITY_CODE = AIRPORT_SERVICEalias3.CITY_CODE AND CITYalias3.CITY_NAME = "city_name1" AND DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 AND DAYSalias1.DAY_NAME = DATE_DAYalias1.DAY_NAME AND FAREalias1.ROUND_TRIP_REQUIRED = "round_trip_required0" AND FLIGHT_FAREalias1.FARE_ID = FAREalias1.FARE_ID AND FLIGHTalias1.FLIGHT_DAYS = DAYSalias1.DAYS_CODE AND FLIGHTalias1.FLIGHT_ID = FLIGHT_FAREalias1.FLIGHT_ID AND FLIGHTalias1.FROM_AIRPORT = AIRPORT_SERVICEalias3.AIRPORT_CODE AND FLIGHTalias1.TO_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE ) AND FAREalias1.ROUND_TRIP_COST IS NOT NULL ) AND FAREalias0.ROUND_TRIP_REQUIRED = "round_trip_required0" AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FAREalias0.ROUND_TRIP_COST IS NOT NULL ;
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DATE_DAY AS DATE_DAYalias1 , DAYS AS DAYSalias0 , DAYS AS DAYSalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 AND DAYSalias1.DAY_NAME = DATE_DAYalias1.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias1.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FARE_BASISalias0.BASIS_DAYS = DAYSalias0.DAYS_CODE AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FAREalias0.ROUND_TRIP_COST = ( SELECT MIN( FAREalias1.ROUND_TRIP_COST ) FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 , CITY AS CITYalias2 , CITY AS CITYalias3 , DATE_DAY AS DATE_DAYalias2 , DATE_DAY AS DATE_DAYalias3 , DAYS AS DAYSalias2 , DAYS AS DAYSalias3 , FARE AS FAREalias1 , FARE_BASIS AS FARE_BASISalias1 , FLIGHT AS FLIGHTalias1 , FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE ( CITYalias3.CITY_CODE = AIRPORT_SERVICEalias3.CITY_CODE AND CITYalias3.CITY_NAME = "city_name0" AND DATE_DAYalias3.DAY_NUMBER = day_number0 AND DATE_DAYalias3.MONTH_NUMBER = month_number0 AND DATE_DAYalias3.YEAR = year0 AND DAYSalias3.DAY_NAME = DATE_DAYalias3.DAY_NAME AND FLIGHTalias1.FLIGHT_DAYS = DAYSalias3.DAYS_CODE AND FLIGHTalias1.TO_AIRPORT = AIRPORT_SERVICEalias3.AIRPORT_CODE ) AND CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name1" AND DATE_DAYalias2.DAY_NUMBER = day_number0 AND DATE_DAYalias2.MONTH_NUMBER = month_number0 AND DATE_DAYalias2.YEAR = year0 AND DAYSalias2.DAY_NAME = DATE_DAYalias2.DAY_NAME AND FARE_BASISalias1.BASIS_DAYS = DAYSalias2.DAYS_CODE AND FAREalias1.FARE_BASIS_CODE = FARE_BASISalias1.FARE_BASIS_CODE AND FLIGHT_FAREalias1.FARE_ID = FAREalias1.FARE_ID AND FLIGHTalias1.FLIGHT_ID = FLIGHT_FAREalias1.FLIGHT_ID AND FLIGHTalias1.FROM_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE ) ;
Incorrect

 65%|██████▍   | 289/447 [15:45<16:49,  6.39s/it]

Question: cheapest fare round trip from city_name1 to city_name0 on month_number0 day_number0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FAREalias0.ROUND_TRIP_COST = ( SELECT MIN( FAREalias1.ROUND_TRIP_COST ) FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 , CITY AS CITYalias2 , CITY AS CITYalias3 , DATE_DAY AS DATE_DAYalias1 , DAYS AS DAYSalias1 , FARE AS FAREalias1 , FLIGHT AS FLIGHTalias1 , FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE ( CITYalias3.CITY_CODE = AIRPORT_SERVICEalias3.CITY_CODE AND CITYalias3.CITY_NAME = "city_name0" AND DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 AND DAYSalias1.DAY_NAME = DATE_DAYalias1.DAY_NAME AND FLIGHTalias1.FLIGHT_DAYS = DAYSalias1.DAYS_CODE AND FLIGHTalias1.TO_AIRPORT = AIRPORT_SERVICEalias3.AIRPORT_CODE ) AND CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name1" AND FLIGHT_FAREalias1.FARE_ID = FAREalias1.FARE_ID AND FLIGHTalias1.FLIGHT_ID = FLIGHT_FAREalias1.FLIGHT_ID AND FLIGHTalias1.FROM_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE ) AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FAREalias0.ROUND_TRIP_REQUIRED = "round_trip_required0" ;
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DATE_DAY AS DATE_DAYalias1 , DAYS AS DAYSalias0 , DAYS AS DAYSalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 AND DAYSalias1.DAY_NAME = DATE_DAYalias1.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias1.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FARE_BASISalias0.BASIS_DAYS = DAYSalias0.DAYS_CODE AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FAREalias0.ROUND_TRIP_COST = ( SELECT MIN( FAREalias1.ROUND_TRIP_COST ) FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 , CITY AS CITYalias2 , CITY AS CITYalias3 , DATE_DAY AS DATE_DAYalias2 , DATE_DAY AS DATE_DAYalias3 , DAYS AS DAYSalias2 , DAYS AS DAYSalias3 , FARE AS FAREalias1 , FARE_BASIS AS FARE_BASISalias1 , FLIGHT AS FLIGHTalias1 , FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE ( CITYalias3.CITY_CODE = AIRPORT_SERVICEalias3.CITY_CODE AND CITYalias3.CITY_NAME = "city_name0" AND DATE_DAYalias3.DAY_NUMBER = day_number0 AND DATE_DAYalias3.MONTH_NUMBER = month_number0 AND DATE_DAYalias3.YEAR = year0 AND DAYSalias3.DAY_NAME = DATE_DAYalias3.DAY_NAME AND FLIGHTalias1.FLIGHT_DAYS = DAYSalias3.DAYS_CODE AND FLIGHTalias1.TO_AIRPORT = AIRPORT_SERVICEalias3.AIRPORT_CODE ) AND CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name1" AND DATE_DAYalias2.DAY_NUMBER = day_number0 AND DATE_DAYalias2.MONTH_NUMBER = month_number0 AND DATE_DAYalias2.YEAR = year0 AND DAYSalias2.DAY_NAME = DATE_DAYalias2.DAY_NAME AND FARE_BASISalias1.BASIS_DAYS = DAYSalias2.DAYS_CODE AND FAREalias1.FARE_BASIS_CODE = FARE_BASISalias1.FARE_BASIS_CODE AND FLIGHT_FAREalias1.FARE_ID = FAREalias1.FARE_ID AND FLIGHTalias1.FLIGHT_ID = FLIGHT_FAREalias1.FLIGHT_ID AND FLIGHTalias1.FROM_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE ) ;
Incorrect

 65%|██████▍   | 290/447 [15:51<16:12,  6.20s/it]

Question: show me class_type0 class flights from city_name1 to city_name0 round trip
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FAREalias0.ROUND_TRIP_REQUIRED = "round_trip_required0" AND FARE_BASISalias0.CLASS_TYPE = "class_type0" AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( FARE_BASISalias0.CLASS_TYPE = "class_type0" AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FAREalias0.ROUND_TRIP_COST IS NOT NULL AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 65%|██████▌   | 291/447 [15:56<15:12,  5.85s/it]

Question: show me class_type0 class flights from city_name1 to city_name0 round trip
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FARE_BASISalias0.CLASS_TYPE = "class_type0" AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FAREalias0.ROUND_TRIP_REQUIRED = "YES" ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( FARE_BASISalias0.CLASS_TYPE = "class_type0" AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FAREalias0.ROUND_TRIP_COST IS NOT NULL AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 65%|██████▌   | 292/447 [15:59<13:06,  5.08s/it]

Question: list the airline_code0 flights arriving in city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct

 66%|██████▌   | 293/447 [16:01<10:20,  4.03s/it]

Question: list airports
Predicted SQL: SELECT DISTINCT AIRPORT_CODE FROM AIRPORT;
Correct SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 ;
Incorrect

 66%|██████▌   | 294/447 [16:02<08:18,  3.26s/it]

Question: list airports
Predicted SQL: SELECT DISTINCT AIRPORT_CODE FROM AIRPORT;
Correct SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 ;
Incorrect

 66%|██████▌   | 295/447 [16:07<09:08,  3.61s/it]

Question: i need flight information for a flight departing from city_name1 to city_name0 wednesday after departure_time0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 66%|██████▌   | 296/447 [16:11<09:29,  3.77s/it]

Question: i need flight information for flights departing from city_name1 going back to city_name0 wednesday after departure_time0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 66%|██████▋   | 297/447 [16:15<09:45,  3.90s/it]

Question: i need flight information for flights departing from city_name1 to city_name0 on wednesday after departure_time0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 67%|██████▋   | 298/447 [16:19<09:58,  4.02s/it]

Question: i need flight information for flights departing from city_name1 to city_name0 on wednesday after departure_time0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 67%|██████▋   | 299/447 [16:23<10:00,  4.06s/it]

Question: i need a flight from city_name1 to city_name0 departing wednesday after departure_time0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 67%|██████▋   | 300/447 [16:28<09:59,  4.08s/it]

Question: i need a flight from city_name1 to city_name0 on wednesday departing after departure_time0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 67%|██████▋   | 301/447 [16:32<09:53,  4.07s/it]

Question: give me the flights from city_name1 to city_name0 leaving after departure_time0 on wednesday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 68%|██████▊   | 302/447 [16:36<09:57,  4.12s/it]

Question: i need flight and airline information for a flight from city_name1 to city_name0 on monday departing after departure_time0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 68%|██████▊   | 303/447 [16:38<08:48,  3.67s/it]

Question: list all flights arriving in city_name0 between arrival_time1 and arrival_time0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.ARRIVAL_TIME <= arrival_time0 AND FLIGHTalias0.ARRIVAL_TIME >= arrival_time1 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.ARRIVAL_TIME <= arrival_time0 AND FLIGHTalias0.ARRIVAL_TIME >= arrival_time1 ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) ;
Incorrect

 68%|██████▊   | 304/447 [16:41<07:56,  3.33s/it]

Question: list all flights arriving in city_name0 between arrival_time1 and arrival_time0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FLIGHTalias0.ARRIVAL_TIME BETWEEN arrival_time1 AND arrival_time0 ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.ARRIVAL_TIME <= arrival_time0 AND FLIGHTalias0.ARRIVAL_TIME >= arrival_time1 ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) ;
Incorrect

 68%|██████▊   | 305/447 [16:44<07:21,  3.11s/it]

Question: list all flights on all types of aircraft arriving in city_name0 between arrival_time1 and arrival_time0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FLIGHTalias0.ARRIVAL_TIME BETWEEN arrival_time1 AND arrival_time0 ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.ARRIVAL_TIME <= arrival_time0 AND FLIGHTalias0.ARRIVAL_TIME >= arrival_time1 ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) ;
Incorrect

 68%|██████▊   | 306/447 [16:48<08:04,  3.44s/it]

Question: please find all the flights from city_name1 to any airport in the city_name0 area that arrive next saturday before arrival_time1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.ARRIVAL_TIME < arrival_time1 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( ( ( FLIGHTalias0.ARRIVAL_TIME < arrival_time0 OR FLIGHTalias0.TIME_ELAPSED >= time_elapsed0 ) AND FLIGHTalias0.DEPARTURE_TIME > FLIGHTalias0.ARRIVAL_TIME ) AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) OR ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND NOT ( ( FLIGHTalias0.ARRIVAL_TIME < arrival_time0 OR FLIGHTalias0.TIME_ELAPSED >= time_elapsed0 ) AND FLIGHTalias0.DEPARTURE_TIME > FLIGHTalias0.ARRIVAL_TIME ) ) ) AND FLIGHTalias0.ARRIVAL_TIME <= arrival_time1 ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 69%|██████▊   | 307/447 [16:50<07:19,  3.14s/it]

Question: list distance from airports to downtown in city_name0
Predicted SQL: SELECT DISTINCT GROUND_SERVICEalias0.DISTANCE FROM AIRPORT AS AIRPORTalias0 , CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE AIRPORTalias0.AIRPORT_CODE = GROUND_SERVICEalias0.AIRPORT_CODE AND CITYalias0.CITY_CODE = GROUND_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" ;
Correct SQL: SELECT DISTINCT AIRPORT_SERVICEalias0.MILES_DISTANT FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" ;
Incorrect

 69%|██████▉   | 308/447 [16:54<07:42,  3.33s/it]

Question: list day_name0 night flights from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DAYSalias0.DAY_NAME = "day_name0" AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( FLIGHTalias0.DEPARTURE_TIME <= departure_time0 AND FLIGHTalias0.DEPARTURE_TIME >= departure_time1 ) AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME = "day_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 69%|██████▉   | 309/447 [16:58<08:14,  3.59s/it]

Question: please list the flights from city_name1 to city_name0 on a day_name0 night
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( FLIGHTalias0.DEPARTURE_TIME <= departure_time0 AND FLIGHTalias0.DEPARTURE_TIME >= departure_time1 ) AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME = "day_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 69%|██████▉   | 310/447 [17:03<08:59,  3.94s/it]

Question: please show me class_type0 class flights from city_name1 to city_name0 one way leaving before departure_time0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FARE_BASISalias0.CLASS_TYPE = "class_type0" ) AND FAREalias0.ROUND_TRIP_REQUIRED = "round_trip_required0" AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( ( FAREalias0.ROUND_TRIP_REQUIRED = "round_trip_required0" ) AND FARE_BASISalias0.CLASS_TYPE = "class_type0" AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 70%|██████▉   | 311/447 [17:06<08:32,  3.77s/it]

Question: show me all round trip flights from city_name1 to city_name0 nonstop
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.STOPS = stops0 ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FAREalias0.ROUND_TRIP_COST IS NOT NULL AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FLIGHTalias0.STOPS = stops0 ;
Incorrect

 70%|██████▉   | 312/447 [17:09<08:05,  3.60s/it]

Question: show me all round trip flights from city_name1 to city_name0 nonstop
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.STOPS = stops0 ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FAREalias0.ROUND_TRIP_COST IS NOT NULL AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FLIGHTalias0.STOPS = stops0 ;
Incorrect

 70%|███████   | 313/447 [17:13<08:03,  3.61s/it]

Question: get flight from city_name1 to city_name0 stopping at airport_code0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 , FLIGHT_STOP AS FLIGHT_STOPalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHT_STOPalias0.STOP_AIRPORT = "airport_code0" AND FLIGHTalias0.FLIGHT_ID = FLIGHT_STOPalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT AS AIRPORTalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 , FLIGHT_STOP AS FLIGHT_STOPalias0 WHERE ( AIRPORTalias0.AIRPORT_CODE = "airport_code0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHT_STOPalias0.STOP_AIRPORT = AIRPORTalias0.AIRPORT_CODE AND FLIGHTalias0.FLIGHT_ID = FLIGHT_STOPalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 70%|███████   | 314/447 [17:15<06:48,  3.07s/it]

Question: list all airline_code0 flights
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) ;
Incorrect

 70%|███████   | 315/447 [17:18<06:36,  3.00s/it]

Question: how many flights does airline_code0 have to city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT COUNT( DISTINCT FLIGHTalias0.FLIGHT_ID ) FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 71%|███████   | 316/447 [17:20<06:21,  2.91s/it]

Question: show airline_code0 flights from airport_code0 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.FROM_AIRPORT = "airport_code0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT AS AIRPORTalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE ( AIRPORTalias0.AIRPORT_CODE = "airport_code0" AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORTalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 71%|███████   | 317/447 [17:24<06:25,  2.96s/it]

Question: what are the flights from airport_code0 to city_name0 on airline_code0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT AS AIRPORTalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORTalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT AS AIRPORTalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE ( AIRPORTalias0.AIRPORT_CODE = "airport_code0" AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORTalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ;
Incorrect

 71%|███████   | 318/447 [17:29<07:38,  3.56s/it]

Question: give me the flights from city_name1 to city_name0 on saturday or sunday on airline_code0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) OR ( DATE_DAYalias0.DAY_NUMBER = day_number1 AND DATE_DAYalias0.MONTH_NUMBER = month_number1 AND DATE_DAYalias0.YEAR = year1 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DATE_DAY AS DATE_DAYalias1 , DAYS AS DAYSalias0 , DAYS AS DAYSalias1 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) AND ( ( FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND DATE_DAYalias0.YEAR = year0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.DAY_NUMBER = day_number0 ) OR ( FLIGHTalias0.FLIGHT_DAYS = DAYSalias1.DAYS_CODE AND DAYSalias1.DAY_NAME = DATE_DAYalias1.DAY_NAME AND DATE_DAYalias1.YEAR = year0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.DAY_NUMBER = day_number0 ) ) ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Incorrect

 71%|███████▏  | 319/447 [17:32<07:19,  3.43s/it]

Question: i need an early flight from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 72%|███████▏  | 320/447 [17:35<07:07,  3.36s/it]

Question: please list afternoon flights between city_name0 and city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 72%|███████▏  | 321/447 [17:38<07:00,  3.34s/it]

Question: list flights from city_name0 to city_name1 in the morning
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 72%|███████▏  | 322/447 [17:41<06:56,  3.33s/it]

Question: can i have a morning flight from city_name0 to city_name1 please
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 72%|███████▏  | 323/447 [17:45<06:45,  3.27s/it]

Question: show me the morning flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 72%|███████▏  | 324/447 [17:48<06:39,  3.25s/it]

Question: i want a flight from city_name0 to city_name1 early in the morning
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 73%|███████▎  | 325/447 [17:52<07:01,  3.45s/it]

Question: i would like a morning flight from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 73%|███████▎  | 326/447 [17:55<07:02,  3.49s/it]

Question: i'd like a morning flight from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 73%|███████▎  | 327/447 [17:59<06:49,  3.42s/it]

Question: i'd like an evening flight from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 73%|███████▎  | 328/447 [18:04<07:58,  4.02s/it]

Question: what flights go from city_name1 to city_name0 on tuesday morning
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 74%|███████▎  | 329/447 [18:10<09:04,  4.61s/it]

Question: i need to fly from city_name1 to city_name0 on wednesday afternoon
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 74%|███████▍  | 330/447 [18:15<09:12,  4.72s/it]

Question: list flights from city_name1 to city_name0 on monday morning
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 74%|███████▍  | 331/447 [18:21<09:59,  5.17s/it]

Question: give me the flights from city_name1 to city_name0 thursday evening
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME <= departure_time0 AND FLIGHTalias0.DEPARTURE_TIME >= departure_time1 ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) OR ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME <= departure_time2 AND FLIGHTalias0.DEPARTURE_TIME >= departure_time3 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 74%|███████▍  | 332/447 [18:26<09:27,  4.93s/it]

Question: give me the flights from city_name1 to city_name0 on wednesday evening
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME <= departure_time0 AND FLIGHTalias0.DEPARTURE_TIME >= departure_time1 ) AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 74%|███████▍  | 333/447 [18:31<09:47,  5.15s/it]

Question: give me a flight from city_name1 to city_name0 on tuesday morning
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 75%|███████▍  | 334/447 [18:36<09:15,  4.92s/it]

Question: city_name1 to city_name0 sunday morning
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 75%|███████▍  | 335/447 [18:40<08:53,  4.76s/it]

Question: city_name1 to city_name0 wednesday morning
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 75%|███████▌  | 336/447 [18:44<08:32,  4.62s/it]

Question: city_name1 to city_name0 sunday afternoon
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 75%|███████▌  | 337/447 [18:48<08:14,  4.50s/it]

Question: city_name1 to city_name0 sunday afternoon
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 76%|███████▌  | 338/447 [18:53<08:00,  4.41s/it]

Question: city_name1 to city_name0 sunday afternoon
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 76%|███████▌  | 339/447 [18:57<07:57,  4.42s/it]

Question: city_name1 to city_name0 on sunday afternoon
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 76%|███████▌  | 340/447 [19:01<07:49,  4.39s/it]

Question: city_name1 to city_name0 saturday morning
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 76%|███████▋  | 341/447 [19:06<08:04,  4.57s/it]

Question: city_name1 to city_name0 saturday morning
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 77%|███████▋  | 342/447 [19:11<07:49,  4.47s/it]

Question: city_name1 to city_name0 thursday evening
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 77%|███████▋  | 343/447 [19:15<07:37,  4.40s/it]

Question: please list all flights from city_name1 to city_name0 on monday morning
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 77%|███████▋  | 344/447 [19:19<07:28,  4.36s/it]

Question: please list the flights from city_name1 to city_name0 on monday morning
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 77%|███████▋  | 345/447 [19:23<07:18,  4.30s/it]

Question: i would like to leave thursday morning from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 77%|███████▋  | 346/447 [19:27<07:10,  4.26s/it]

Question: i would like a flight on friday morning from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 78%|███████▊  | 347/447 [19:32<07:03,  4.24s/it]

Question: i need a morning flight from city_name1 to city_name0 on next monday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 78%|███████▊  | 348/447 [19:36<07:03,  4.28s/it]

Question: and a flight from city_name1 to city_name0 that leaves tuesday afternoon
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME <= departure_time0 AND FLIGHTalias0.DEPARTURE_TIME >= departure_time1 ) AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 78%|███████▊  | 349/447 [19:40<06:59,  4.28s/it]

Question: find flight from city_name1 to city_name0 on monday am
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 78%|███████▊  | 350/447 [19:50<09:25,  5.83s/it]

Question: get last flight from city_name1 to city_name0 on wednesday or first flight from city_name1 to city_name0 on thursday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.DEPARTURE_TIME = ( SELECT MAX( FLIGHTalias1.DEPARTURE_TIME ) FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 , CITY AS CITYalias2 , CITY AS CITYalias3 , FLIGHT AS FLIGHTalias1 WHERE ( CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name1" AND FLIGHTalias1.FROM_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE ) AND CITYalias3.CITY_CODE = AIRPORT_SERVICEalias3.CITY_CODE AND CITYalias3.CITY_NAME = "city_name0" AND FLIGHTalias1.TO_AIRPORT = AIRPORT_SERVICEalias3.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) OR ( DATE_DAYalias0.DAY_NUMBER = day_number1 AND DATE_DAYalias0.MONTH_NUMBER = month_number1 AND DATE_DAYalias0.YEAR = year1 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.DEPARTURE_TIME = ( SELECT MIN( FLIGHTalias1.DEPARTURE_TIME ) FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 , CITY AS CITYalias2 , CITY AS CITYalias3 , FLIGHT AS FLIGHTalias1 WHERE ( CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name1" AND FLIGHTalias1.FROM_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE ) AND CITYalias3.CITY_CODE = AIRPORT_SERVICEalias3.CITY_CODE AND CITYalias3.CITY_NAME = "city_name0" AND FLIGHTalias1.TO_AIRPORT = AIRPORT_SERVICEalias3.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( FLIGHTalias0.DEPARTURE_TIME = ( SELECT MAX( FLIGHTalias1.DEPARTURE_TIME ) FROM FLIGHT AS FLIGHTalias1 WHERE ( ( FLIGHTalias1.FLIGHT_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) AND FLIGHTalias1.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias3.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 WHERE AIRPORT_SERVICEalias3.CITY_CODE IN ( SELECT CITYalias3.CITY_CODE FROM CITY AS CITYalias3 WHERE CITYalias3.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias1.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name1" ) ) ) ) AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) OR ( FLIGHTalias0.DEPARTURE_TIME = ( SELECT MIN( FLIGHTalias2.DEPARTURE_TIME ) FROM FLIGHT AS FLIGHTalias2 WHERE ( ( FLIGHTalias2.FLIGHT_DAYS IN ( SELECT DAYSalias3.DAYS_CODE FROM DAYS AS DAYSalias3 WHERE DAYSalias3.DAY_NAME IN ( SELECT DATE_DAYalias3.DAY_NAME FROM DATE_DAY AS DATE_DAYalias3 WHERE DATE_DAYalias3.DAY_NUMBER = day_number0 AND DATE_DAYalias3.MONTH_NUMBER = month_number0 AND DATE_DAYalias3.YEAR = year0 ) ) AND FLIGHTalias2.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias5.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias5 WHERE AIRPORT_SERVICEalias5.CITY_CODE IN ( SELECT CITYalias5.CITY_CODE FROM CITY AS CITYalias5 WHERE CITYalias5.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias2.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias4.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias4 WHERE AIRPORT_SERVICEalias4.CITY_CODE IN ( SELECT CITYalias4.CITY_CODE FROM CITY AS CITYalias4 WHERE CITYalias4.CITY_NAME = "city_name1" ) ) ) ) AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias2.DAYS_CODE FROM DAYS AS DAYSalias2 WHERE DAYSalias2.DAY_NAME IN ( SELECT DATE_DAYalias2.DAY_NAME FROM DATE_DAY AS DATE_DAYalias2 WHERE DATE_DAYalias2.DAY_NUMBER = day_number0 AND DATE_DAYalias2.MONTH_NUMBER = month_number0 AND DATE_DAYalias2.YEAR = year0 ) ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 79%|███████▊  | 351/447 [19:55<09:08,  5.71s/it]

Question: get last flight from city_name1 to city_name0 on wednesday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.DEPARTURE_TIME = ( SELECT MAX( FLIGHTalias1.DEPARTURE_TIME ) FROM FLIGHT AS FLIGHTalias1 , DAYS AS DAYSalias1 , DATE_DAY AS DATE_DAYalias1 WHERE ( DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 AND DAYSalias1.DAY_NAME = DATE_DAYalias1.DAY_NAME AND FLIGHTalias1.FLIGHT_DAYS = DAYSalias1.DAYS_CODE ) ) AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias3.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 WHERE AIRPORT_SERVICEalias3.CITY_CODE IN ( SELECT CITYalias3.CITY_CODE FROM CITY AS CITYalias3 WHERE CITYalias3.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME = ( SELECT MAX( FLIGHTalias1.DEPARTURE_TIME ) FROM FLIGHT AS FLIGHTalias1 WHERE ( ( FLIGHTalias1.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias1.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias1.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ) ) ;
Incorrect

 79%|███████▊  | 352/447 [19:59<08:13,  5.19s/it]

Question: list last wednesday flight from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias3.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 WHERE AIRPORT_SERVICEalias3.CITY_CODE IN ( SELECT CITYalias3.CITY_CODE FROM CITY AS CITYalias3 WHERE CITYalias3.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME = ( SELECT MAX( FLIGHTalias1.DEPARTURE_TIME ) FROM FLIGHT AS FLIGHTalias1 WHERE ( ( FLIGHTalias1.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias1.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias1.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ) ) ;
Incorrect

 79%|███████▉  | 353/447 [20:03<07:40,  4.90s/it]

Question: i need a flight from city_name1 to city_name0 leaving monday before departure_time0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 79%|███████▉  | 354/447 [20:08<07:14,  4.68s/it]

Question: i need a flight departing from city_name1 to city_name0 leaving monday before departure_time0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 79%|███████▉  | 355/447 [20:12<06:55,  4.51s/it]

Question: i need flight numbers for those flights departing on thursday before departure_time0 from city_name1 going to city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 80%|███████▉  | 356/447 [20:16<06:40,  4.40s/it]

Question: list flights from city_name1 to city_name0 before 6am thursday morning
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 80%|███████▉  | 357/447 [20:20<06:28,  4.32s/it]

Question: can you find me another flight from city_name1 to city_name0 on saturday before departure_time0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 80%|████████  | 358/447 [20:24<06:22,  4.29s/it]

Question: i need flight information for a flight departing from city_name1 to city_name0 departing tuesday at departure_time0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME = departure_time0 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME = departure_time0 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 80%|████████  | 359/447 [20:28<06:13,  4.24s/it]

Question: i need flight and fare information for thursday departing prior to departure_time0 from city_name1 going to city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.BASIS_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) ) AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ;
Incorrect

 81%|████████  | 360/447 [20:33<06:26,  4.44s/it]

Question: i need flight and fare information departing from city_name1 to city_name0 on thursday before departure_time0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FAREalias0.ROUND_TRIP_REQUIRED = "round_trip_required0" AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.BASIS_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) ) AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ;
Incorrect

 81%|████████  | 361/447 [20:37<06:14,  4.35s/it]

Question: i need flight numbers and airlines for flights departing from city_name1 to city_name0 on thursday departing before departure_time0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE , FLIGHTalias0.FLIGHT_NUMBER FROM AIRLINE AS AIRLINEalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.AIRLINE_CODE = AIRLINEalias0.AIRLINE_CODE ;
Incorrect

 81%|████████  | 362/447 [20:41<05:40,  4.01s/it]

Question: list airports in state_name2 state_name1 and state_name0 please
Predicted SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 , STATE AS STATEalias0 , STATE AS STATEalias1 , STATE AS STATEalias2 WHERE STATEalias0.STATE_CODE = AIRPORTalias0.STATE_CODE AND STATEalias0.STATE_NAME = "state_name0" OR STATEalias1.STATE_CODE = AIRPORTalias0.STATE_CODE AND STATEalias1.STATE_NAME = "state_name1" OR STATEalias2.STATE_CODE = AIRPORTalias0.STATE_CODE AND STATEalias2.STATE_NAME = "state_name2" ;
Correct SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.STATE_CODE IN ( SELECT STATEalias0.STATE_CODE FROM STATE AS STATEalias0 WHERE ( ( STATEalias0.STATE_NAME = "state_name0" OR STATEalias0.STATE_NAME = "state_name1" ) OR STATEalias0.STATE_NAME = "state_name2" ) ) ;
Incorrect

 81%|████████  | 363/447 [20:43<05:09,  3.68s/it]

Question: list state_name0 state_name1 state_name2 airports
Predicted SQL: SELECT DISTINCT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , STATE AS STATEalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND STATEalias0.STATE_CODE = CITYalias0.STATE_CODE AND ( STATEalias0.STATE_NAME = "state_name0" OR STATEalias0.STATE_NAME = "state_name1" OR STATEalias0.STATE_NAME = "state_name2" ) ;
Correct SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.STATE_CODE IN ( SELECT STATEalias0.STATE_CODE FROM STATE AS STATEalias0 WHERE ( ( STATEalias0.STATE_NAME = "state_name0" OR STATEalias0.STATE_NAME = "state_name1" ) OR STATEalias0.STATE_NAME = "state_name2" ) ) ;
Incorrect

 81%|████████▏ | 364/447 [20:46<04:34,  3.31s/it]

Question: list the state_name0 airport
Predicted SQL: SELECT DISTINCT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , STATE AS STATEalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND STATEalias0.STATE_CODE = CITYalias0.STATE_CODE AND STATEalias0.STATE_NAME = "state_name0" ;
Correct SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.STATE_CODE IN ( SELECT STATEalias0.STATE_CODE FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "state_name0" ) ;
Incorrect

 82%|████████▏ | 365/447 [20:48<04:11,  3.06s/it]

Question: list state_name0 airports
Predicted SQL: SELECT DISTINCT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , STATE AS STATEalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND STATEalias0.STATE_CODE = CITYalias0.STATE_CODE AND STATEalias0.STATE_NAME = "state_name0" ;
Correct SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.STATE_CODE IN ( SELECT STATEalias0.STATE_CODE FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "state_name0" ) ;
Incorrect

 82%|████████▏ | 366/447 [20:51<03:52,  2.87s/it]

Question: list state_name0 airports
Predicted SQL: SELECT DISTINCT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , STATE AS STATEalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND STATEalias0.STATE_CODE = CITYalias0.STATE_CODE AND STATEalias0.STATE_NAME = "state_name0" ;
Correct SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.STATE_CODE IN ( SELECT STATEalias0.STATE_CODE FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "state_name0" ) ;
Incorrect

 82%|████████▏ | 367/447 [20:53<03:37,  2.72s/it]

Question: list airports in state_name0
Predicted SQL: SELECT DISTINCT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , STATE AS STATEalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND STATEalias0.STATE_CODE = CITYalias0.STATE_CODE AND STATEalias0.STATE_NAME = "state_name0" ;
Correct SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.STATE_CODE IN ( SELECT STATEalias0.STATE_CODE FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "state_name0" ) ;
Incorrect

 82%|████████▏ | 368/447 [20:56<03:27,  2.62s/it]

Question: list airports in state_name0
Predicted SQL: SELECT DISTINCT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , STATE AS STATEalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND STATEalias0.STATE_CODE = CITYalias0.STATE_CODE AND STATEalias0.STATE_NAME = "state_name0" ;
Correct SQL: SELECT DISTINCT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.STATE_CODE IN ( SELECT STATEalias0.STATE_CODE FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "state_name0" ) ;
Incorrect

 83%|████████▎ | 369/447 [20:59<03:45,  2.89s/it]

Question: i need a ticket from city_name0 state_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 , STATE AS STATEalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE AND STATEalias0.STATE_CODE = CITYalias0.STATE_CODE AND STATEalias0.STATE_NAME = "state_name0" ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE ( CITYalias0.CITY_NAME = "city_name0" AND CITYalias0.STATE_CODE IN ( SELECT STATEalias0.STATE_CODE FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "state_name0" ) ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 83%|████████▎ | 370/447 [21:02<03:54,  3.05s/it]

Question: list flights from city_name0 state_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 , STATE AS STATEalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE AND STATEalias0.STATE_CODE = CITYalias0.STATE_CODE AND STATEalias0.STATE_NAME = "state_name0" ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE ( CITYalias0.CITY_NAME = "city_name0" AND CITYalias0.STATE_CODE IN ( SELECT STATEalias0.STATE_CODE FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "state_name0" ) ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 83%|████████▎ | 371/447 [21:06<04:08,  3.27s/it]

Question: list flights from city_name0 state_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 , STATE AS STATEalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE AND STATEalias0.STATE_CODE = CITYalias0.STATE_CODE AND STATEalias0.STATE_NAME = "state_name0" ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE ( CITYalias0.CITY_NAME = "city_name0" AND CITYalias0.STATE_CODE IN ( SELECT STATEalias0.STATE_CODE FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "state_name0" ) ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 83%|████████▎ | 372/447 [21:12<04:55,  3.93s/it]

Question: i'd like a one way ticket from city_name1 to city_name0 either wednesday evening or thursday morning
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.DEPARTURE_TIME <= departure_time0 AND FLIGHTalias0.DEPARTURE_TIME >= departure_time1 ) OR ( DATE_DAYalias0.DAY_NUMBER = day_number1 AND DATE_DAYalias0.MONTH_NUMBER = month_number1 AND DATE_DAYalias0.YEAR = year1 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.DEPARTURE_TIME <= departure_time2 AND FLIGHTalias0.DEPARTURE_TIME >= departure_time3 ) ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( ( ( FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.BASIS_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FAREalias0.FARE_ID IN ( SELECT FLIGHT_FAREalias0.FARE_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FLIGHT_ID IN ( SELECT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ) ) ) OR ( FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias1.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias1 WHERE FARE_BASISalias1.BASIS_DAYS IN ( SELECT DAYSalias2.DAYS_CODE FROM DAYS AS DAYSalias2 WHERE DAYSalias2.DAY_NAME IN ( SELECT DATE_DAYalias2.DAY_NAME FROM DATE_DAY AS DATE_DAYalias2 WHERE DATE_DAYalias2.DAY_NUMBER = day_number0 AND DATE_DAYalias2.MONTH_NUMBER = month_number0 AND DATE_DAYalias2.YEAR = year0 ) ) ) AND FAREalias0.FARE_ID IN ( SELECT FLIGHT_FAREalias1.FARE_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE FLIGHT_FAREalias1.FLIGHT_ID IN ( SELECT FLIGHTalias1.FLIGHT_ID FROM FLIGHT AS FLIGHTalias1 WHERE ( ( ( ( FLIGHTalias1.DEPARTURE_TIME BETWEEN departure_time2 AND departure_time3 ) AND FLIGHTalias1.FLIGHT_DAYS IN ( SELECT DAYSalias3.DAYS_CODE FROM DAYS AS DAYSalias3 WHERE DAYSalias3.DAY_NAME IN ( SELECT DATE_DAYalias3.DAY_NAME FROM DATE_DAY AS DATE_DAYalias3 WHERE DATE_DAYalias3.DAY_NUMBER = day_number0 AND DATE_DAYalias3.MONTH_NUMBER = month_number0 AND DATE_DAYalias3.YEAR = year0 ) ) ) AND FLIGHTalias1.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias3.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 WHERE AIRPORT_SERVICEalias3.CITY_CODE IN ( SELECT CITYalias3.CITY_CODE FROM CITY AS CITYalias3 WHERE CITYalias3.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias1.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name1" ) ) ) ) ) ) ) AND FAREalias0.ROUND_TRIP_REQUIRED = "round_trip_required0" ) ;
Incorrect

 83%|████████▎ | 373/447 [21:16<04:54,  3.98s/it]

Question: now show me all round trip flights from city_name1 to city_name0 that arrive before arrival_time0 in city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.ARRIVAL_TIME < arrival_time0 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FAREalias0.ROUND_TRIP_REQUIRED = "YES" AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.ARRIVAL_TIME < arrival_time0 AND FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias0.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FARE_ID IN ( SELECT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( FAREalias0.ROUND_TRIP_COST IS NOT NULL ) ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 84%|████████▎ | 374/447 [21:24<06:12,  5.10s/it]

Question: show me the cheapest economy flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FARE_BASISalias0.CLASS_TYPE = "economy" AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ) AND FAREalias0.FARE_ID = ( SELECT FAREalias1.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 , CITY AS CITYalias2 , CITY AS CITYalias3 , FARE AS FAREalias1 , FARE_BASIS AS FARE_BASISalias1 , FLIGHT AS FLIGHTalias1 , FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE ( CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name0" AND CITYalias3.CITY_CODE = AIRPORT_SERVICEalias3.CITY_CODE AND CITYalias3.CITY_NAME = "city_name1" AND FARE_BASISalias1.CLASS_TYPE = "economy" AND FAREalias1.FARE_BASIS_CODE = FARE_BASISalias1.FARE_BASIS_CODE AND FLIGHT_FAREalias1.FARE_ID = FAREalias1.FARE_ID AND FLIGHTalias1.FLIGHT_ID = FLIGHT_FAREalias1.FLIGHT_ID AND FLIGHTalias1.FROM_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND FLIGHTalias1.TO_AIRPORT = AIRPORT_SERVICEalias3.AIRPORT_CODE ) ORDER BY FAREalias1.ONE_DIRECTION_COST ASC LIMIT 1 ) ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias0.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FARE_ID IN ( SELECT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( ( FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias1.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias1 WHERE FARE_BASISalias1.ECONOMY = "economy0" ) AND FAREalias0.FARE_ID IN ( SELECT FLIGHT_FAREalias2.FARE_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias2 WHERE FLIGHT_FAREalias2.FLIGHT_ID IN ( SELECT FLIGHTalias2.FLIGHT_ID FROM FLIGHT AS FLIGHTalias2 WHERE ( FLIGHTalias2.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias4.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias4 WHERE AIRPORT_SERVICEalias4.CITY_CODE IN ( SELECT CITYalias4.CITY_CODE FROM CITY AS CITYalias4 WHERE CITYalias4.CITY_NAME = "city_name0" ) ) AND FLIGHTalias2.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias5.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias5 WHERE AIRPORT_SERVICEalias5.CITY_CODE IN ( SELECT CITYalias5.CITY_CODE FROM CITY AS CITYalias5 WHERE CITYalias5.CITY_NAME = "city_name1" ) ) ) ) ) ) AND FAREalias0.ONE_DIRECTION_COST = ( SELECT MIN( FAREalias1.ONE_DIRECTION_COST ) FROM FARE AS FAREalias1 WHERE ( FAREalias1.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.ECONOMY = "economy0" ) AND FAREalias1.FARE_ID IN ( SELECT FLIGHT_FAREalias1.FARE_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE FLIGHT_FAREalias1.FLIGHT_ID IN ( SELECT FLIGHTalias1.FLIGHT_ID FROM FLIGHT AS FLIGHTalias1 WHERE ( FLIGHTalias1.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name0" ) ) AND FLIGHTalias1.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias3.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 WHERE AIRPORT_SERVICEalias3.CITY_CODE IN ( SELECT CITYalias3.CITY_CODE FROM CITY AS CITYalias3 WHERE CITYalias3.CITY_NAME = "city_name1" ) ) ) ) ) ) ) ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) ;
Incorrect

 84%|████████▍ | 375/447 [21:29<06:04,  5.06s/it]

Question: and from city_name1 to city_name0 before departure_time0 flight_days0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.FLIGHT_DAYS = "flight_days0" ) ;
Incorrect

 84%|████████▍ | 376/447 [21:32<05:32,  4.68s/it]

Question: show me the nonstop flights and fares from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.STOPS = stops0 ) AND FAREalias0.FARE_ID = FLIGHT_FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.STOPS = stops0 ) AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ;
Incorrect

 84%|████████▍ | 377/447 [21:37<05:18,  4.55s/it]

Question: show me weekday flights from city_name1 to city_name0 one way
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND DAYSalias0.DAYS_CODE BETWEEN day_number0 AND day_number1 ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias6.DAYS_CODE FROM DAYS AS DAYSalias6 WHERE DAYSalias6.DAY_NAME = "day_name0" ) AND FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias3.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias3 WHERE FLIGHT_FAREalias3.FARE_ID IN ( SELECT FAREalias3.FARE_ID FROM FARE AS FAREalias3 WHERE ( FAREalias3.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias3.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias3 WHERE FARE_BASISalias3.BASIS_DAYS IN ( SELECT DAYSalias7.DAYS_CODE FROM DAYS AS DAYSalias7 WHERE DAYSalias7.DAY_NAME = "day_name0" ) ) AND FAREalias3.ROUND_TRIP_REQUIRED = "round_trip_required0" ) ) ) ) OR ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias8.DAYS_CODE FROM DAYS AS DAYSalias8 WHERE DAYSalias8.DAY_NAME = "day_name1" ) AND FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias4.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias4 WHERE FLIGHT_FAREalias4.FARE_ID IN ( SELECT FAREalias4.FARE_ID FROM FARE AS FAREalias4 WHERE ( FAREalias4.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias4.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias4 WHERE FARE_BASISalias4.BASIS_DAYS IN ( SELECT DAYSalias9.DAYS_CODE FROM DAYS AS DAYSalias9 WHERE DAYSalias9.DAY_NAME = "day_name1" ) ) AND FAREalias4.ROUND_TRIP_REQUIRED = "round_trip_required0" ) ) ) ) ) OR ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias4.DAYS_CODE FROM DAYS AS DAYSalias4 WHERE DAYSalias4.DAY_NAME = "day_name2" ) AND FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias2.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias2 WHERE FLIGHT_FAREalias2.FARE_ID IN ( SELECT FAREalias2.FARE_ID FROM FARE AS FAREalias2 WHERE ( FAREalias2.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias2.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias2 WHERE FARE_BASISalias2.BASIS_DAYS IN ( SELECT DAYSalias5.DAYS_CODE FROM DAYS AS DAYSalias5 WHERE DAYSalias5.DAY_NAME = "day_name2" ) ) AND FAREalias2.ROUND_TRIP_REQUIRED = "round_trip_required0" ) ) ) ) ) OR ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias2.DAYS_CODE FROM DAYS AS DAYSalias2 WHERE DAYSalias2.DAY_NAME = "day_name3" ) AND FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias1.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE FLIGHT_FAREalias1.FARE_ID IN ( SELECT FAREalias1.FARE_ID FROM FARE AS FAREalias1 WHERE ( FAREalias1.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias1.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias1 WHERE FARE_BASISalias1.BASIS_DAYS IN ( SELECT DAYSalias3.DAYS_CODE FROM DAYS AS DAYSalias3 WHERE DAYSalias3.DAY_NAME = "day_name3" ) ) AND FAREalias1.ROUND_TRIP_REQUIRED = "round_trip_required0" ) ) ) ) ) OR ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME = "day_name4" ) AND FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias0.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FARE_ID IN ( SELECT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.BASIS_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME = "day_name4" ) ) AND FAREalias0.ROUND_TRIP_REQUIRED = "round_trip_required0" ) ) ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 85%|████████▍ | 378/447 [21:41<05:07,  4.45s/it]

Question: show me weekday flights from city_name1 to city_name0 one way
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND DAYSalias0.DAYS_CODE BETWEEN day_number0 AND day_number1 ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias6.DAYS_CODE FROM DAYS AS DAYSalias6 WHERE DAYSalias6.DAY_NAME = "day_name0" ) AND FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias3.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias3 WHERE FLIGHT_FAREalias3.FARE_ID IN ( SELECT FAREalias3.FARE_ID FROM FARE AS FAREalias3 WHERE ( FAREalias3.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias3.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias3 WHERE FARE_BASISalias3.BASIS_DAYS IN ( SELECT DAYSalias7.DAYS_CODE FROM DAYS AS DAYSalias7 WHERE DAYSalias7.DAY_NAME = "day_name0" ) ) AND FAREalias3.ROUND_TRIP_REQUIRED = "round_trip_required0" ) ) ) ) OR ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias8.DAYS_CODE FROM DAYS AS DAYSalias8 WHERE DAYSalias8.DAY_NAME = "day_name1" ) AND FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias4.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias4 WHERE FLIGHT_FAREalias4.FARE_ID IN ( SELECT FAREalias4.FARE_ID FROM FARE AS FAREalias4 WHERE ( FAREalias4.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias4.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias4 WHERE FARE_BASISalias4.BASIS_DAYS IN ( SELECT DAYSalias9.DAYS_CODE FROM DAYS AS DAYSalias9 WHERE DAYSalias9.DAY_NAME = "day_name1" ) ) AND FAREalias4.ROUND_TRIP_REQUIRED = "round_trip_required0" ) ) ) ) ) OR ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias4.DAYS_CODE FROM DAYS AS DAYSalias4 WHERE DAYSalias4.DAY_NAME = "day_name2" ) AND FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias2.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias2 WHERE FLIGHT_FAREalias2.FARE_ID IN ( SELECT FAREalias2.FARE_ID FROM FARE AS FAREalias2 WHERE ( FAREalias2.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias2.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias2 WHERE FARE_BASISalias2.BASIS_DAYS IN ( SELECT DAYSalias5.DAYS_CODE FROM DAYS AS DAYSalias5 WHERE DAYSalias5.DAY_NAME = "day_name2" ) ) AND FAREalias2.ROUND_TRIP_REQUIRED = "round_trip_required0" ) ) ) ) ) OR ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias2.DAYS_CODE FROM DAYS AS DAYSalias2 WHERE DAYSalias2.DAY_NAME = "day_name3" ) AND FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias1.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE FLIGHT_FAREalias1.FARE_ID IN ( SELECT FAREalias1.FARE_ID FROM FARE AS FAREalias1 WHERE ( FAREalias1.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias1.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias1 WHERE FARE_BASISalias1.BASIS_DAYS IN ( SELECT DAYSalias3.DAYS_CODE FROM DAYS AS DAYSalias3 WHERE DAYSalias3.DAY_NAME = "day_name3" ) ) AND FAREalias1.ROUND_TRIP_REQUIRED = "round_trip_required0" ) ) ) ) ) OR ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME = "day_name4" ) AND FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias0.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FARE_ID IN ( SELECT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.BASIS_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME = "day_name4" ) ) AND FAREalias0.ROUND_TRIP_REQUIRED = "round_trip_required0" ) ) ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 85%|████████▍ | 379/447 [21:43<04:14,  3.74s/it]

Question: list city_name0
Predicted SQL: SELECT DISTINCT CITYalias0.CITY_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ;
Correct SQL: SELECT DISTINCT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ;
Incorrect

 85%|████████▌ | 380/447 [21:45<03:35,  3.21s/it]

Question: list city_name0
Predicted SQL: SELECT DISTINCT CITYalias0.CITY_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ;
Correct SQL: SELECT DISTINCT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ;
Incorrect

 85%|████████▌ | 381/447 [21:48<03:26,  3.13s/it]

Question: list flights from airport_code0 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.FROM_AIRPORT = "airport_code0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) ;
Incorrect

 85%|████████▌ | 382/447 [21:53<04:01,  3.72s/it]

Question: list flights from city_name1 to city_name0 with fares on monday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FARE_BASISalias0.BASIS_DAYS = DAYSalias0.DAYS_CODE AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.BASIS_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) ) AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ;
Incorrect

 86%|████████▌ | 383/447 [21:57<04:05,  3.84s/it]

Question: give me the flights and fares for a trip to city_name0 from city_name1 on wednesday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.BASIS_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) ) AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ;
Incorrect

 86%|████████▌ | 384/447 [22:01<04:00,  3.82s/it]

Question: list flights from city_name0 on saturday afternoon
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 86%|████████▌ | 385/447 [22:04<03:40,  3.56s/it]

Question: list type of aircraft for all flights from city_name0
Predicted SQL: SELECT DISTINCT AIRCRAFTalias0.BASIC_TYPE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRCRAFT AS AIRCRAFTalias0 , CITY AS CITYalias0 , EQUIPMENT_SEQUENCE AS EQUIPMENT_SEQUENCEalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND EQUIPMENT_SEQUENCEalias0.AIRCRAFT_CODE = AIRCRAFTalias0.AIRCRAFT_CODE AND FLIGHTalias0.AIRCRAFT_CODE_SEQUENCE = EQUIPMENT_SEQUENCEalias0.AIRCRAFT_CODE_SEQUENCE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.BASIC_TYPE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE IN ( SELECT EQUIPMENT_SEQUENCEalias0.AIRCRAFT_CODE FROM EQUIPMENT_SEQUENCE AS EQUIPMENT_SEQUENCEalias0 WHERE EQUIPMENT_SEQUENCEalias0.AIRCRAFT_CODE_SEQUENCE IN ( SELECT FLIGHTalias0.AIRCRAFT_CODE_SEQUENCE FROM FLIGHT AS FLIGHTalias0 WHERE FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) ) ;
Incorrect

 86%|████████▋ | 386/447 [22:10<04:23,  4.32s/it]

Question: list flights and fares from city_name0 to city_name1 round trip leaving saturday returning next saturday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DATE_DAY AS DATE_DAYalias1 , DAYS AS DAYSalias0 , DAYS AS DAYSalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND DATE_DAYalias1.DAY_NUMBER = day_number1 AND DATE_DAYalias1.MONTH_NUMBER = month_number1 AND DATE_DAYalias1.YEAR = year1 AND DAYSalias1.DAY_NAME = DATE_DAYalias1.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias1.DAYS_CODE ) AND FAREalias0.ROUND_TRIP_REQUIRED = "round_trip_required0" ) AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) OR ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name1" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias3.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 WHERE AIRPORT_SERVICEalias3.CITY_CODE IN ( SELECT CITYalias3.CITY_CODE FROM CITY AS CITYalias3 WHERE CITYalias3.CITY_NAME = "city_name0" ) ) ) ) AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND ( ( FAREalias0.ROUND_TRIP_COST IS NOT NULL ) AND FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.BASIS_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) ) ) AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ;
Incorrect

 87%|████████▋ | 387/447 [22:15<04:38,  4.65s/it]

Question: list flights from city_name1 to city_name0 on saturday of fare basis code of fare_basis_code0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FARE_BASISalias0.FARE_BASIS_CODE = "fare_basis_code0" ) AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias0.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FARE_ID IN ( SELECT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( FAREalias0.FARE_BASIS_CODE = "fare_basis_code0" AND FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.BASIS_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) ) ) ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 87%|████████▋ | 388/447 [22:19<04:20,  4.41s/it]

Question: list seating capacities of airline_code0 flights from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT EQUIPMENT_SEQUENCEalias0.SEATING_CAPACITY FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , EQUIPMENT_SEQUENCE AS EQUIPMENT_SEQUENCEalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FLIGHTalias0.AIRCRAFT_CODE_SEQUENCE = EQUIPMENT_SEQUENCEalias0.AIRCRAFT_CODE_SEQUENCE ;
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE IN ( SELECT EQUIPMENT_SEQUENCEalias0.AIRCRAFT_CODE FROM EQUIPMENT_SEQUENCE AS EQUIPMENT_SEQUENCEalias0 WHERE EQUIPMENT_SEQUENCEalias0.AIRCRAFT_CODE_SEQUENCE IN ( SELECT FLIGHTalias0.AIRCRAFT_CODE_SEQUENCE FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) ) ) ;
Incorrect

 87%|████████▋ | 389/447 [22:23<04:08,  4.28s/it]

Question: list airline_code0 flights from city_name0 to city_name1 with aircraft type
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , AIRCRAFT AS AIRCRAFTalias0 , CITY AS CITYalias0 , CITY AS CITYalias1 , EQUIPMENT_SEQUENCE AS EQUIPMENT_SEQUENCEalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND AIRCRAFTalias0.AIRCRAFT_CODE = EQUIPMENT_SEQUENCEalias0.AIRCRAFT_CODE AND FLIGHTalias0.AIRCRAFT_CODE_SEQUENCE = EQUIPMENT_SEQUENCEalias0.AIRCRAFT_CODE_SEQUENCE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRCRAFT AS AIRCRAFTalias0 , EQUIPMENT_SEQUENCE AS EQUIPMENT_SEQUENCEalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) AND EQUIPMENT_SEQUENCEalias0.AIRCRAFT_CODE = AIRCRAFTalias0.AIRCRAFT_CODE AND FLIGHTalias0.AIRCRAFT_CODE_SEQUENCE = EQUIPMENT_SEQUENCEalias0.AIRCRAFT_CODE_SEQUENCE ;
Incorrect

 87%|████████▋ | 390/447 [22:27<04:04,  4.28s/it]

Question: give me the round trip flights from city_name1 to city_name0 next wednesday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FLIGHTalias0.ROUND_TRIP = 1 ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias0.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FARE_ID IN ( SELECT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.BASIS_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) ) AND FAREalias0.ROUND_TRIP_COST IS NOT NULL ) ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 87%|████████▋ | 391/447 [22:32<04:09,  4.46s/it]

Question: give me the fares for round trip flights from city_name1 to city_name0 next wednesday
Predicted SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FAREalias0.ROUND_TRIP_REQUIRED = "NO" AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ;
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( ( FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.BASIS_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FAREalias0.FARE_ID IN ( SELECT FLIGHT_FAREalias0.FARE_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FLIGHT_ID IN ( SELECT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ) ) ) AND FAREalias0.ROUND_TRIP_COST IS NOT NULL ) ;
Incorrect

 88%|████████▊ | 392/447 [22:37<04:11,  4.56s/it]

Question: give me the fares from city_name1 to city_name0 next sunday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FAREalias0.ONE_DIRECTION_COST IS NOT NULL AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.BASIS_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FAREalias0.FARE_ID IN ( SELECT FLIGHT_FAREalias0.FARE_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FLIGHT_ID IN ( SELECT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ) ) ) ;
Incorrect

 88%|████████▊ | 393/447 [22:43<04:25,  4.92s/it]

Question: give me the meal flights departing early saturday morning from city_name1 to city_name0 nonstop
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 , FOOD_SERVICE AS FOOD_SERVICEalias0 WHERE ( ( ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.STOPS = stops0 ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FOOD_SERVICEalias0.MEAL_CODE = FLIGHTalias0.MEAL_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.MEAL_CODE IN ( SELECT FOOD_SERVICEalias0.MEAL_CODE FROM FOOD_SERVICE AS FOOD_SERVICEalias0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) AND FLIGHTalias0.STOPS = stops0 ) ;
Incorrect

 88%|████████▊ | 394/447 [22:47<04:13,  4.78s/it]

Question: give me the flights from city_name1 to city_name0 saturday morning that have meals
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 , FOOD_SERVICE AS FOOD_SERVICEalias0 WHERE ( ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FLIGHTalias0.MEAL_CODE = FOOD_SERVICEalias0.MEAL_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.MEAL_CODE IN ( SELECT FOOD_SERVICEalias0.MEAL_CODE FROM FOOD_SERVICE AS FOOD_SERVICEalias0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 88%|████████▊ | 395/447 [22:52<04:04,  4.71s/it]

Question: give me the saturday morning flights with meals from city_name1 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 , FOOD_SERVICE AS FOOD_SERVICEalias0 WHERE ( ( ( ( FLIGHTalias0.DEPARTURE_TIME < departure_time0 AND FOOD_SERVICEalias0.MEAL_CODE = FLIGHTalias0.MEAL_CODE ) AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.MEAL_CODE IN ( SELECT FOOD_SERVICEalias0.MEAL_CODE FROM FOOD_SERVICE AS FOOD_SERVICEalias0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 89%|████████▊ | 396/447 [22:55<03:42,  4.35s/it]

Question: give me flights from city_name1 to city_name0 that have meals on airline_code0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 , FOOD_SERVICE AS FOOD_SERVICEalias0 WHERE ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FLIGHTalias0.MEAL_CODE = FOOD_SERVICEalias0.MEAL_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.MEAL_CODE IN ( SELECT FOOD_SERVICEalias0.MEAL_CODE FROM FOOD_SERVICE AS FOOD_SERVICEalias0 ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) ;
Incorrect

 89%|████████▉ | 397/447 [23:04<04:40,  5.61s/it]

Question: give me the cheapest round trip flights from city_name1 to city_name0 around month_number0 day_number0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FAREalias0.ROUND_TRIP_COST = ( SELECT MIN( FAREalias1.ROUND_TRIP_COST ) FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 , CITY AS CITYalias2 , CITY AS CITYalias3 , DATE_DAY AS DATE_DAYalias1 , DAYS AS DAYSalias1 , FARE AS FAREalias1 , FLIGHT AS FLIGHTalias1 , FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 AND DAYSalias1.DAY_NAME = DATE_DAYalias1.DAY_NAME AND FLIGHTalias1.FLIGHT_DAYS = DAYSalias1.DAYS_CODE AND FLIGHTalias1.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FAREalias1.ROUND_TRIP_REQUIRED = "round_trip_required0" AND FLIGHT_FAREalias1.FARE_ID = FAREalias1.FARE_ID AND FLIGHTalias1.FLIGHT_ID = FLIGHT_FAREalias1.FLIGHT_ID AND FLIGHTalias1.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) ) AND FAREalias0.ROUND_TRIP_REQUIRED = "round_trip_required0" AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias0.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FARE_ID IN ( SELECT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( ( FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias1.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias1 WHERE FARE_BASISalias1.BASIS_DAYS IN ( SELECT DAYSalias3.DAYS_CODE FROM DAYS AS DAYSalias3 WHERE DAYSalias3.DAY_NAME IN ( SELECT DATE_DAYalias3.DAY_NAME FROM DATE_DAY AS DATE_DAYalias3 WHERE DATE_DAYalias3.DAY_NUMBER = day_number0 AND DATE_DAYalias3.MONTH_NUMBER = month_number0 AND DATE_DAYalias3.YEAR = year0 ) ) ) AND FAREalias0.FARE_ID IN ( SELECT FLIGHT_FAREalias2.FARE_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias2 WHERE FLIGHT_FAREalias2.FLIGHT_ID IN ( SELECT FLIGHTalias2.FLIGHT_ID FROM FLIGHT AS FLIGHTalias2 WHERE ( ( FLIGHTalias2.FLIGHT_DAYS IN ( SELECT DAYSalias4.DAYS_CODE FROM DAYS AS DAYSalias4 WHERE DAYSalias4.DAY_NAME IN ( SELECT DATE_DAYalias4.DAY_NAME FROM DATE_DAY AS DATE_DAYalias4 WHERE DATE_DAYalias4.DAY_NUMBER = day_number0 AND DATE_DAYalias4.MONTH_NUMBER = month_number0 AND DATE_DAYalias4.YEAR = year0 ) ) AND FLIGHTalias2.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias5.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias5 WHERE AIRPORT_SERVICEalias5.CITY_CODE IN ( SELECT CITYalias5.CITY_CODE FROM CITY AS CITYalias5 WHERE CITYalias5.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias2.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias4.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias4 WHERE AIRPORT_SERVICEalias4.CITY_CODE IN ( SELECT CITYalias4.CITY_CODE FROM CITY AS CITYalias4 WHERE CITYalias4.CITY_NAME = "city_name1" ) ) ) ) ) ) AND FAREalias0.ROUND_TRIP_COST = ( SELECT MIN( FAREalias1.ROUND_TRIP_COST ) FROM FARE AS FAREalias1 WHERE ( FAREalias1.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.BASIS_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) ) AND FAREalias1.FARE_ID IN ( SELECT FLIGHT_FAREalias1.FARE_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE FLIGHT_FAREalias1.FLIGHT_ID IN ( SELECT FLIGHTalias1.FLIGHT_ID FROM FLIGHT AS FLIGHTalias1 WHERE ( ( FLIGHTalias1.FLIGHT_DAYS IN ( SELECT DAYSalias2.DAYS_CODE FROM DAYS AS DAYSalias2 WHERE DAYSalias2.DAY_NAME IN ( SELECT DATE_DAYalias2.DAY_NAME FROM DATE_DAY AS DATE_DAYalias2 WHERE DATE_DAYalias2.DAY_NUMBER = day_number0 AND DATE_DAYalias2.MONTH_NUMBER = month_number0 AND DATE_DAYalias2.YEAR = year0 ) ) AND FLIGHTalias1.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias3.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 WHERE AIRPORT_SERVICEalias3.CITY_CODE IN ( SELECT CITYalias3.CITY_CODE FROM CITY AS CITYalias3 WHERE CITYalias3.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias1.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name1" ) ) ) ) ) ) ) ) ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 89%|████████▉ | 398/447 [23:09<04:28,  5.48s/it]

Question: cheapest one way fare from city_name1 to city_name0 on month_number0 day_number0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FAREalias0.ONE_DIRECTION_COST = ( SELECT MIN( FAREalias1.ONE_DIRECTION_COST ) FROM FARE AS FAREalias1 ) AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) ;
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( ( FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias1.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias1 WHERE FARE_BASISalias1.BASIS_DAYS IN ( SELECT DAYSalias2.DAYS_CODE FROM DAYS AS DAYSalias2 WHERE DAYSalias2.DAY_NAME IN ( SELECT DATE_DAYalias2.DAY_NAME FROM DATE_DAY AS DATE_DAYalias2 WHERE DATE_DAYalias2.DAY_NUMBER = day_number0 AND DATE_DAYalias2.MONTH_NUMBER = month_number0 AND DATE_DAYalias2.YEAR = year0 ) ) ) AND FAREalias0.FARE_ID IN ( SELECT FLIGHT_FAREalias1.FARE_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE FLIGHT_FAREalias1.FLIGHT_ID IN ( SELECT FLIGHTalias1.FLIGHT_ID FROM FLIGHT AS FLIGHTalias1 WHERE ( ( FLIGHTalias1.FLIGHT_DAYS IN ( SELECT DAYSalias3.DAYS_CODE FROM DAYS AS DAYSalias3 WHERE DAYSalias3.DAY_NAME IN ( SELECT DATE_DAYalias3.DAY_NAME FROM DATE_DAY AS DATE_DAYalias3 WHERE DATE_DAYalias3.DAY_NUMBER = day_number0 AND DATE_DAYalias3.MONTH_NUMBER = month_number0 AND DATE_DAYalias3.YEAR = year0 ) ) AND FLIGHTalias1.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias3.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 WHERE AIRPORT_SERVICEalias3.CITY_CODE IN ( SELECT CITYalias3.CITY_CODE FROM CITY AS CITYalias3 WHERE CITYalias3.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias1.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name1" ) ) ) ) ) ) AND FAREalias0.ONE_DIRECTION_COST = ( SELECT MIN( FAREalias1.ONE_DIRECTION_COST ) FROM FARE AS FAREalias1 WHERE ( FAREalias1.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.BASIS_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FAREalias1.FARE_ID IN ( SELECT FLIGHT_FAREalias0.FARE_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FLIGHT_ID IN ( SELECT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ) ) ) AND FAREalias1.ROUND_TRIP_REQUIRED = "round_trip_required0" ) AND FAREalias0.ROUND_TRIP_REQUIRED = "round_trip_required0" ) ;
Incorrect

 89%|████████▉ | 399/447 [23:13<03:54,  4.88s/it]

Question: is there a fare from city_name0 to city_name1 under one_direction_cost0 dollars
Predicted SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FAREalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FAREalias0.ONE_DIRECTION_COST < one_direction_cost0 AND FAREalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( FAREalias0.FARE_ID IN ( SELECT FLIGHT_FAREalias0.FARE_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FLIGHT_ID IN ( SELECT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) ) ) AND FAREalias0.ONE_DIRECTION_COST < one_direction_cost0 ) ;
Incorrect

 89%|████████▉ | 400/447 [23:19<04:12,  5.37s/it]

Question: city_name1 to city_name0 and city_name2 to city_name0 on sunday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , CITY AS CITYalias0 , CITY AS CITYalias1 , CITY AS CITYalias2 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) OR ( CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE ) ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias1.CITY_NAME = "city_name2" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name0" ) ) ) AND ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) OR FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name2" ) ) ) ) ;
Incorrect

 90%|████████▉ | 401/447 [23:25<04:19,  5.64s/it]

Question: city_name1 to city_name0 and city_name2 to city_name0 on sunday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , CITY AS CITYalias0 , CITY AS CITYalias1 , CITY AS CITYalias2 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) OR ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) ) AND CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name2" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name0" ) ) ) AND ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) OR FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name2" ) ) ) ) ;
Incorrect

 90%|████████▉ | 402/447 [23:30<03:56,  5.26s/it]

Question: city_name1 to city_name0 afternoon day_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND DAYSalias0.DAY_NAME = "day_name0" ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT AS AIRPORTalias0 , AIRPORT AS AIRPORTalias1 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = AIRPORT_SERVICEalias0.AIRPORT_CODE AND AIRPORTalias1.AIRPORT_CODE = AIRPORT_SERVICEalias1.AIRPORT_CODE AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND DAYSalias0.DAY_NAME = "day_name0" AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORTalias1.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORTalias0.AIRPORT_CODE ;
Incorrect

 90%|█████████ | 403/447 [23:34<03:39,  4.98s/it]

Question: city_name1 to city_name0 afternoon on day_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT AS AIRPORTalias0 , AIRPORT AS AIRPORTalias1 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = AIRPORT_SERVICEalias0.AIRPORT_CODE AND AIRPORTalias1.AIRPORT_CODE = AIRPORT_SERVICEalias1.AIRPORT_CODE AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND DAYSalias0.DAY_NAME = "day_name0" AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORTalias1.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORTalias0.AIRPORT_CODE ;
Incorrect

 90%|█████████ | 404/447 [23:37<03:14,  4.53s/it]

Question: a flight from city_name1 to city_name0 arriving between arrival_time1 and arrival_time0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.ARRIVAL_TIME < arrival_time0 AND FLIGHTalias0.ARRIVAL_TIME > arrival_time1 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.ARRIVAL_TIME <= arrival_time0 AND FLIGHTalias0.ARRIVAL_TIME >= arrival_time1 ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 91%|█████████ | 405/447 [23:40<02:50,  4.05s/it]

Question: how many airline_code0 flights leave city_name0 state_code0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 , STATE AS STATEalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND STATEalias0.STATE_CODE = CITYalias0.STATE_CODE AND STATEalias0.STATE_CODE = "state_code0" ;
Correct SQL: SELECT DISTINCT COUNT( * ) FROM FLIGHT AS FLIGHTalias0 WHERE ( FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE ( CITYalias0.CITY_NAME = "city_name0" AND CITYalias0.STATE_CODE IN ( SELECT STATEalias0.STATE_CODE FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_CODE = "state_code0" ) ) ) ) ) ;
Incorrect

 91%|█████████ | 406/447 [23:43<02:25,  3.54s/it]

Question: how many flights does airline_code0 have leaving airport_code0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , FLIGHT AS FLIGHTalias0 WHERE FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.FROM_AIRPORT = "airport_code0" ;
Correct SQL: SELECT DISTINCT COUNT( * ) FROM FLIGHT AS FLIGHTalias0 WHERE ( FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" ) ) ;
Incorrect

 91%|█████████ | 407/447 [23:46<02:19,  3.50s/it]

Question: i would like a connecting flight from city_name1 to city_name0 leaving after departure_time0 o'clock
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.STOPS != stops0 ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.CONNECTIONS > connections0 ) ;
Incorrect

 91%|█████████▏| 408/447 [23:50<02:24,  3.70s/it]

Question: show me the class_type0 class and class_type1 flights between airport_code0 and city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FARE_BASISalias0.CLASS_TYPE = "class_type0" AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ) AND AIRPORT_SERVICEalias0.AIRPORT_CODE = "airport_code0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias0.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FARE_ID IN ( SELECT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( ( FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.CLASS_TYPE = "class_type0" ) ) OR ( FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias1.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias1 WHERE FARE_BASISalias1.CLASS_TYPE = "class_type1" ) ) ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" ) ) ;
Incorrect

 91%|█████████▏| 409/447 [23:55<02:27,  3.88s/it]

Question: show me the class_type0 class and class_type1 flights from airport_code0 airport to city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.FROM_AIRPORT = "airport_code0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FARE_BASISalias0.CLASS_TYPE = "class_type0" OR FARE_BASISalias0.CLASS_TYPE = "class_type1" ) AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias0.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FARE_ID IN ( SELECT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( ( FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.CLASS_TYPE = "class_type0" ) ) OR ( FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias1.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias1 WHERE FARE_BASISalias1.CLASS_TYPE = "class_type1" ) ) ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" ) ) ;
Incorrect

 92%|█████████▏| 410/447 [23:59<02:30,  4.06s/it]

Question: show me the class_type0 class and class_type1 flights from airport_code0 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , FARE AS FAREalias0 , FARE_BASIS AS FARE_BASISalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FARE_BASISalias0.CLASS_TYPE = "class_type0" AND FAREalias0.FARE_BASIS_CODE = FARE_BASISalias0.FARE_BASIS_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND AIRPORT_SERVICEalias0.AIRPORT_CODE = "airport_code0" ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias0.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FARE_ID IN ( SELECT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( ( FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.CLASS_TYPE = "class_type0" ) ) OR ( FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias1.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias1 WHERE FARE_BASISalias1.CLASS_TYPE = "class_type1" ) ) ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" ) ) ;
Incorrect

 92%|█████████▏| 411/447 [24:01<02:08,  3.56s/it]

Question: are meals ever served on airline_code0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRLINE AS AIRLINEalias0 , FLIGHT AS FLIGHTalias0 , FOOD_SERVICE AS FOOD_SERVICEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.AIRLINE_CODE = AIRLINEalias0.AIRLINE_CODE AND FOOD_SERVICEalias0.MEAL_CODE = FLIGHTalias0.MEAL_CODE ;
Correct SQL: SELECT DISTINCT FOOD_SERVICEalias0.COMPARTMENT , FOOD_SERVICEalias0.MEAL_CODE , FOOD_SERVICEalias0.MEAL_NUMBER FROM FOOD_SERVICE AS FOOD_SERVICEalias0 WHERE FOOD_SERVICEalias0.MEAL_CODE IN ( SELECT FLIGHTalias0.MEAL_CODE FROM FLIGHT AS FLIGHTalias0 WHERE ( FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) ) ;
Incorrect

 92%|█████████▏| 412/447 [24:04<01:53,  3.24s/it]

Question: are snacks served on airline_code0
Predicted SQL: SELECT DISTINCT FOOD_SERVICEalias0.SNACK FROM AIRLINE AS AIRLINEalias0 , FLIGHT AS FLIGHTalias0 , FOOD_SERVICE AS FOOD_SERVICEalias0 WHERE AIRLINEalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.AIRLINE_CODE = AIRLINEalias0.AIRLINE_CODE AND FOOD_SERVICEalias0.MEAL_CODE = FLIGHTalias0.MEAL_CODE ;
Correct SQL: SELECT DISTINCT FOOD_SERVICEalias0.COMPARTMENT , FOOD_SERVICEalias0.MEAL_CODE , FOOD_SERVICEalias0.MEAL_NUMBER FROM FOOD_SERVICE AS FOOD_SERVICEalias0 WHERE ( FOOD_SERVICEalias0.MEAL_CODE IN ( SELECT FLIGHTalias0.MEAL_CODE FROM FLIGHT AS FLIGHTalias0 WHERE ( FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) ) AND FOOD_SERVICEalias0.MEAL_DESCRIPTION = "meal_description0" ) ;
Incorrect

 92%|█████████▏| 413/447 [24:09<02:09,  3.82s/it]

Question: what is the least expensive fare from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FAREalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FAREalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FAREalias0.ROUND_TRIP_COST = ( SELECT MIN( FAREalias1.ROUND_TRIP_COST ) FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 , CITY AS CITYalias2 , CITY AS CITYalias3 , FARE AS FAREalias1 WHERE CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name0" AND CITYalias3.CITY_CODE = AIRPORT_SERVICEalias3.CITY_CODE AND CITYalias3.CITY_NAME = "city_name1" AND FAREalias1.FROM_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND FAREalias1.TO_AIRPORT = AIRPORT_SERVICEalias3.AIRPORT_CODE ) ;
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( FAREalias0.FARE_ID IN ( SELECT FLIGHT_FAREalias1.FARE_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE FLIGHT_FAREalias1.FLIGHT_ID IN ( SELECT FLIGHTalias1.FLIGHT_ID FROM FLIGHT AS FLIGHTalias1 WHERE ( FLIGHTalias1.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name0" ) ) AND FLIGHTalias1.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias3.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 WHERE AIRPORT_SERVICEalias3.CITY_CODE IN ( SELECT CITYalias3.CITY_CODE FROM CITY AS CITYalias3 WHERE CITYalias3.CITY_NAME = "city_name1" ) ) ) ) ) AND FAREalias0.ONE_DIRECTION_COST = ( SELECT MIN( FAREalias1.ONE_DIRECTION_COST ) FROM FARE AS FAREalias1 WHERE FAREalias1.FARE_ID IN ( SELECT FLIGHT_FAREalias0.FARE_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FLIGHT_ID IN ( SELECT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) ) ) ) ) ;
Incorrect

 93%|█████████▎| 414/447 [24:15<02:28,  4.51s/it]

Question: list the cheapest fare from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FAREalias0.FARE_ID = ( SELECT FAREalias1.FARE_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 , CITY AS CITYalias2 , CITY AS CITYalias3 , FARE AS FAREalias1 , FLIGHT AS FLIGHTalias1 , FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE ( CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name0" AND CITYalias3.CITY_CODE = AIRPORT_SERVICEalias3.CITY_CODE AND CITYalias3.CITY_NAME = "city_name1" AND FLIGHTalias1.FROM_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND FLIGHTalias1.TO_AIRPORT = AIRPORT_SERVICEalias3.AIRPORT_CODE ) AND FAREalias1.FARE_ID = FLIGHT_FAREalias1.FARE_ID AND FLIGHTalias1.FLIGHT_ID = FLIGHT_FAREalias1.FLIGHT_ID ORDER BY FAREalias1.FARE_ID LIMIT 1 ) AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ;
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( FAREalias0.FARE_ID IN ( SELECT FLIGHT_FAREalias1.FARE_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE FLIGHT_FAREalias1.FLIGHT_ID IN ( SELECT FLIGHTalias1.FLIGHT_ID FROM FLIGHT AS FLIGHTalias1 WHERE ( FLIGHTalias1.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name0" ) ) AND FLIGHTalias1.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias3.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 WHERE AIRPORT_SERVICEalias3.CITY_CODE IN ( SELECT CITYalias3.CITY_CODE FROM CITY AS CITYalias3 WHERE CITYalias3.CITY_NAME = "city_name1" ) ) ) ) ) AND FAREalias0.ONE_DIRECTION_COST = ( SELECT MIN( FAREalias1.ONE_DIRECTION_COST ) FROM FARE AS FAREalias1 WHERE FAREalias1.FARE_ID IN ( SELECT FLIGHT_FAREalias0.FARE_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FLIGHT_ID IN ( SELECT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) ) ) ) ) ;
Incorrect

 93%|█████████▎| 415/447 [24:21<02:40,  5.01s/it]

Question: what are the lowest fares from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FAREalias0.FARE_ID = ( SELECT MIN( FAREalias1.FARE_ID ) FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 , CITY AS CITYalias2 , CITY AS CITYalias3 , FARE AS FAREalias1 , FLIGHT AS FLIGHTalias1 , FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name0" AND CITYalias3.CITY_CODE = AIRPORT_SERVICEalias3.CITY_CODE AND CITYalias3.CITY_NAME = "city_name1" AND FAREalias1.ROUND_TRIP_REQUIRED = "round_trip_required0" AND FLIGHT_FAREalias1.FARE_ID = FAREalias1.FARE_ID AND FLIGHTalias1.FLIGHT_ID = FLIGHT_FAREalias1.FLIGHT_ID AND FLIGHTalias1.FROM_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND FLIGHTalias1.TO_AIRPORT = AIRPORT_SERVICEalias3.AIRPORT_CODE ) AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID ;
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( FAREalias0.FARE_ID IN ( SELECT FLIGHT_FAREalias1.FARE_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE FLIGHT_FAREalias1.FLIGHT_ID IN ( SELECT FLIGHTalias1.FLIGHT_ID FROM FLIGHT AS FLIGHTalias1 WHERE ( FLIGHTalias1.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE ( CITYalias2.CITY_NAME = "city_name0" AND CITYalias2.STATE_CODE = "state_code0" ) ) ) AND FLIGHTalias1.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias3.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 WHERE AIRPORT_SERVICEalias3.CITY_CODE IN ( SELECT CITYalias3.CITY_CODE FROM CITY AS CITYalias3 WHERE CITYalias3.CITY_NAME = "city_name1" ) ) ) ) ) AND FAREalias0.ONE_DIRECTION_COST = ( SELECT MIN( FAREalias1.ONE_DIRECTION_COST ) FROM FARE AS FAREalias1 WHERE FAREalias1.FARE_ID IN ( SELECT FLIGHT_FAREalias0.FARE_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FLIGHT_ID IN ( SELECT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE ( CITYalias0.CITY_NAME = "city_name0" AND CITYalias0.STATE_CODE = "state_code0" ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) ) ) ) ) ;
Incorrect

 93%|█████████▎| 416/447 [24:27<02:44,  5.32s/it]

Question: what is the lowest fare from airport_code0 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT AS AIRPORTalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE ( AIRPORTalias0.AIRPORT_CODE = "airport_code0" AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORTalias0.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND FAREalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FAREalias0.ONE_DIRECTION_COST = ( SELECT MIN( FAREalias1.ONE_DIRECTION_COST ) FROM AIRPORT AS AIRPORTalias1 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias1 , FARE AS FAREalias1 , FLIGHT AS FLIGHTalias1 , FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE AIRPORTalias1.AIRPORT_CODE = "airport_code0" AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias1.FROM_AIRPORT = AIRPORTalias1.AIRPORT_CODE AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND FAREalias1.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE AND FLIGHT_FAREalias1.FARE_ID = FAREalias1.FARE_ID AND FLIGHTalias1.FLIGHT_ID = FLIGHT_FAREalias1.FLIGHT_ID ) ;
Correct SQL: SELECT DISTINCT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( FAREalias0.FARE_ID IN ( SELECT FLIGHT_FAREalias1.FARE_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias1 WHERE FLIGHT_FAREalias1.FLIGHT_ID IN ( SELECT FLIGHTalias1.FLIGHT_ID FROM FLIGHT AS FLIGHTalias1 WHERE ( FLIGHTalias1.FROM_AIRPORT IN ( SELECT AIRPORTalias1.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias1 WHERE AIRPORTalias1.AIRPORT_CODE = "airport_code0" ) AND FLIGHTalias1.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) ) ) AND FAREalias0.ONE_DIRECTION_COST = ( SELECT MIN( FAREalias1.ONE_DIRECTION_COST ) FROM FARE AS FAREalias1 WHERE FAREalias1.FARE_ID IN ( SELECT FLIGHT_FAREalias0.FARE_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FLIGHT_ID IN ( SELECT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) ) ) ) ) ;
Incorrect

 93%|█████████▎| 417/447 [24:30<02:15,  4.51s/it]

Question: list all flights leaving city_name0 between departure_time1 and departure_time0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time1 AND departure_time0 AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.DEPARTURE_TIME <= departure_time0 AND FLIGHTalias0.DEPARTURE_TIME >= departure_time1 ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) ;
Incorrect

 94%|█████████▎| 418/447 [24:33<01:53,  3.92s/it]

Question: what airlines serve city_name0
Predicted SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = AIRLINEalias0.AIRLINE_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE IN ( SELECT FLIGHTalias0.AIRLINE_CODE FROM FLIGHT AS FLIGHTalias0 WHERE FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) ;
Incorrect

 94%|█████████▎| 419/447 [24:35<01:38,  3.52s/it]

Question: what airlines fly into city_name0
Predicted SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = AIRLINEalias0.AIRLINE_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE AIRLINEalias0.AIRLINE_CODE IN ( SELECT FLIGHTalias0.AIRLINE_CODE FROM FLIGHT AS FLIGHTalias0 WHERE FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) ;
Incorrect

 94%|█████████▍| 420/447 [24:39<01:36,  3.59s/it]

Question: list all of the flight_days0 flights arriving in city_name0 between arrival_time1 and arrival_time0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.ARRIVAL_TIME <= arrival_time0 AND FLIGHTalias0.ARRIVAL_TIME >= arrival_time1 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.ARRIVAL_TIME <= arrival_time0 AND FLIGHTalias0.ARRIVAL_TIME >= arrival_time1 ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FLIGHT_DAYS = "flight_days0" ) ;
Incorrect

 94%|█████████▍| 421/447 [24:43<01:33,  3.60s/it]

Question: list all of the flight_days0 flights arriving in city_name0 from arrival_time1 to arrival_time0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.ARRIVAL_TIME <= arrival_time0 AND FLIGHTalias0.ARRIVAL_TIME >= arrival_time1 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.ARRIVAL_TIME <= arrival_time0 AND FLIGHTalias0.ARRIVAL_TIME >= arrival_time1 ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FLIGHT_DAYS = "flight_days0" ) ;
Incorrect

 94%|█████████▍| 422/447 [24:47<01:34,  3.80s/it]

Question: show me all of the flight_days0 flights arriving in city_name0 between arrival_time1 and arrival_time0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.ARRIVAL_TIME <= arrival_time0 AND FLIGHTalias0.ARRIVAL_TIME >= arrival_time1 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.ARRIVAL_TIME <= arrival_time0 AND FLIGHTalias0.ARRIVAL_TIME >= arrival_time1 ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FLIGHT_DAYS = "flight_days0" ) ;
Incorrect

 95%|█████████▍| 423/447 [24:50<01:25,  3.58s/it]

Question: list all flights arriving or leaving city_name0 between arrival_time1 and arrival_time0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND ( FLIGHTalias0.ARRIVAL_TIME BETWEEN arrival_time1 AND arrival_time0 OR FLIGHTalias0.DEPARTURE_TIME BETWEEN arrival_time1 AND arrival_time0 ) AND ( FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE OR FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.ARRIVAL_TIME <= arrival_time0 AND FLIGHTalias0.ARRIVAL_TIME >= arrival_time1 ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) OR ( ( FLIGHTalias0.DEPARTURE_TIME <= departure_time0 AND FLIGHTalias0.DEPARTURE_TIME >= departure_time1 ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) ) ;
Incorrect

 95%|█████████▍| 424/447 [24:52<01:14,  3.24s/it]

Question: what ground transportation is available from airport_code0 airport into city_name0
Predicted SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM AIRPORT AS AIRPORTalias0 , CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" AND CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.AIRPORT_CODE = AIRPORTalias0.AIRPORT_CODE AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE ;
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE ( GROUND_SERVICEalias0.AIRPORT_CODE IN ( SELECT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" ) AND GROUND_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ;
Incorrect

 95%|█████████▌| 425/447 [24:55<01:05,  2.97s/it]

Question: is there ground transportation from airport_code0 into city_name0
Predicted SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM AIRPORT AS AIRPORTalias0 , CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" AND CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.AIRPORT_CODE = AIRPORTalias0.AIRPORT_CODE AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE ;
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE ( GROUND_SERVICEalias0.AIRPORT_CODE IN ( SELECT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" ) AND GROUND_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ;
Incorrect

 95%|█████████▌| 426/447 [24:57<00:58,  2.80s/it]

Question: please list the ground transportation from airport_code0 into city_name0
Predicted SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM AIRPORT AS AIRPORTalias0 , CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" AND CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.AIRPORT_CODE = AIRPORTalias0.AIRPORT_CODE AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE ;
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE ( GROUND_SERVICEalias0.AIRPORT_CODE IN ( SELECT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" ) AND GROUND_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ;
Incorrect

 96%|█████████▌| 427/447 [25:00<00:53,  2.69s/it]

Question: please list ground transportation from airport_code0 into city_name0
Predicted SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM AIRPORT AS AIRPORTalias0 , CITY AS CITYalias0 , GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" AND CITYalias0.CITY_NAME = "city_name0" AND GROUND_SERVICEalias0.AIRPORT_CODE = AIRPORTalias0.AIRPORT_CODE AND GROUND_SERVICEalias0.CITY_CODE = CITYalias0.CITY_CODE ;
Correct SQL: SELECT DISTINCT GROUND_SERVICEalias0.TRANSPORT_TYPE FROM GROUND_SERVICE AS GROUND_SERVICEalias0 WHERE ( GROUND_SERVICEalias0.AIRPORT_CODE IN ( SELECT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" ) AND GROUND_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ;
Incorrect

 96%|█████████▌| 428/447 [25:03<00:56,  2.98s/it]

Question: what are the nonstop flights from city_name1 to city_name0 leaving after departure_time0 and arriving before arrival_time0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.ARRIVAL_TIME < arrival_time0 AND FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.STOPS = stops0 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( FLIGHTalias0.ARRIVAL_TIME < arrival_time0 AND FLIGHTalias0.DEPARTURE_TIME > departure_time0 ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.STOPS = stops0 ) ;
Incorrect

 96%|█████████▌| 429/447 [25:08<01:03,  3.52s/it]

Question: i would like a flight on tuesday which leaves from city_name1 to city_name0 state_name0 and that leaves in the afternoon
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 , STATE AS STATEalias0 WHERE ( ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND STATEalias0.STATE_CODE = CITYalias1.STATE_CODE AND STATEalias0.STATE_NAME = "state_name0" ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE ( CITYalias1.CITY_NAME = "city_name0" AND CITYalias1.STATE_CODE IN ( SELECT STATEalias0.STATE_CODE FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "state_name0" ) ) ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ) ;
Incorrect

 96%|█████████▌| 430/447 [25:12<00:59,  3.51s/it]

Question: what type of aircraft is used for the airline_code0 flight leaving at departure_time0
Predicted SQL: SELECT DISTINCT AIRCRAFTalias0.BASIC_TYPE FROM AIRCRAFT AS AIRCRAFTalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , EQUIPMENT_SEQUENCE AS EQUIPMENT_SEQUENCEalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND EQUIPMENT_SEQUENCEalias0.AIRCRAFT_CODE = AIRCRAFTalias0.AIRCRAFT_CODE AND FLIGHTalias0.AIRCRAFT_CODE_SEQUENCE = EQUIPMENT_SEQUENCEalias0.AIRCRAFT_CODE_SEQUENCE AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.DEPARTURE_TIME = departure_time0 AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT AIRCRAFTalias0.AIRCRAFT_CODE FROM AIRCRAFT AS AIRCRAFTalias0 WHERE AIRCRAFTalias0.AIRCRAFT_CODE IN ( SELECT EQUIPMENT_SEQUENCEalias0.AIRCRAFT_CODE FROM EQUIPMENT_SEQUENCE AS EQUIPMENT_SEQUENCEalias0 WHERE EQUIPMENT_SEQUENCEalias0.AIRCRAFT_CODE_SEQUENCE IN ( SELECT FLIGHTalias0.AIRCRAFT_CODE_SEQUENCE FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.DEPARTURE_TIME = departure_time0 AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) ) ) ;
Incorrect

 96%|█████████▋| 431/447 [25:17<01:03,  3.97s/it]

Question: i need a flight leaving city_name1 to city_name0 leaving next wednesday and returning the following day
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DATE_DAY AS DATE_DAYalias1 , DAYS AS DAYSalias0 , DAYS AS DAYSalias1 , FLIGHT AS FLIGHTalias0 WHERE ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND DATE_DAYalias1.DAY_NUMBER = day_number1 AND DATE_DAYalias1.MONTH_NUMBER = month_number1 AND DATE_DAYalias1.YEAR = year1 AND DAYSalias1.DAY_NAME = DATE_DAYalias1.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias1.DAYS_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) OR ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias3.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 WHERE AIRPORT_SERVICEalias3.CITY_CODE IN ( SELECT CITYalias3.CITY_CODE FROM CITY AS CITYalias3 WHERE CITYalias3.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name0" ) ) ) ) ;
Incorrect

 97%|█████████▋| 432/447 [25:21<01:01,  4.12s/it]

Question: what are the flights on day_name0 that travel from city_name1 state_name1 to city_name0 state_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 , STATE AS STATEalias0 , STATE AS STATEalias1 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DAYSalias0.DAY_NAME = "day_name0" AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE AND STATEalias1.STATE_CODE = CITYalias1.STATE_CODE AND STATEalias1.STATE_NAME = "state_name0" ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND STATEalias0.STATE_CODE = CITYalias0.STATE_CODE AND STATEalias0.STATE_NAME = "state_name1" ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME = "day_name0" ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE ( CITYalias1.CITY_NAME = "city_name0" AND CITYalias1.STATE_CODE IN ( SELECT STATEalias1.STATE_CODE FROM STATE AS STATEalias1 WHERE STATEalias1.STATE_NAME = "state_name0" ) ) ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE ( CITYalias0.CITY_NAME = "city_name1" AND CITYalias0.STATE_CODE IN ( SELECT STATEalias0.STATE_CODE FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "state_name1" ) ) ) ) ) ;
Incorrect

 97%|█████████▋| 433/447 [25:26<01:00,  4.30s/it]

Question: what are the flights on thursday leaving from city_name1 state_name0 to city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 , STATE AS STATEalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND STATEalias0.STATE_CODE = CITYalias0.STATE_CODE AND STATEalias0.STATE_NAME = "state_name0" ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE ( CITYalias0.CITY_NAME = "city_name1" AND CITYalias0.STATE_CODE IN ( SELECT STATEalias0.STATE_CODE FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "state_name0" ) ) ) ) ) ;
Incorrect

 97%|█████████▋| 434/447 [25:31<01:00,  4.66s/it]

Question: what are the flights from city_name1 to city_name0 state_name0 leaving on friday
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 , STATE AS STATEalias0 WHERE ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND STATEalias0.STATE_CODE = CITYalias1.STATE_CODE AND STATEalias0.STATE_NAME = "state_name0" ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE ( CITYalias1.CITY_NAME = "city_name0" AND CITYalias1.STATE_CODE IN ( SELECT STATEalias0.STATE_CODE FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "state_name0" ) ) ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 97%|█████████▋| 435/447 [25:35<00:54,  4.52s/it]

Question: i need a flight from city_name0 to airport_code0 airport that arrives on saturday before arrival_time1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT AS AIRPORTalias0 , CITY AS CITYalias0 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.ARRIVAL_TIME < arrival_time1 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND AIRPORTalias0.AIRPORT_CODE = "airport_code0" AND FLIGHTalias0.TO_AIRPORT = AIRPORTalias0.AIRPORT_CODE ) AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( ( ( ( FLIGHTalias0.ARRIVAL_TIME < arrival_time0 OR FLIGHTalias0.TIME_ELAPSED >= time_elapsed0 ) AND FLIGHTalias0.DEPARTURE_TIME > FLIGHTalias0.ARRIVAL_TIME ) AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) ) OR ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND NOT ( ( FLIGHTalias0.ARRIVAL_TIME < arrival_time0 OR FLIGHTalias0.TIME_ELAPSED >= time_elapsed0 ) AND FLIGHTalias0.DEPARTURE_TIME > FLIGHTalias0.ARRIVAL_TIME ) ) ) AND FLIGHTalias0.ARRIVAL_TIME < arrival_time1 ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) ;
Incorrect

 98%|█████████▊| 436/447 [25:40<00:48,  4.41s/it]

Question: i'd like a flight from city_name0 to airport_code0 airport that arrives on saturday before arrival_time1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT AS AIRPORTalias0 , CITY AS CITYalias0 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.ARRIVAL_TIME < arrival_time1 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND AIRPORTalias0.AIRPORT_CODE = "airport_code0" ) AND FLIGHTalias0.TO_AIRPORT = AIRPORTalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( ( ( ( FLIGHTalias0.ARRIVAL_TIME < arrival_time0 OR FLIGHTalias0.TIME_ELAPSED >= time_elapsed0 ) AND FLIGHTalias0.DEPARTURE_TIME > FLIGHTalias0.ARRIVAL_TIME ) AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) ) OR ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND NOT ( ( FLIGHTalias0.ARRIVAL_TIME < arrival_time0 OR FLIGHTalias0.TIME_ELAPSED >= time_elapsed0 ) AND FLIGHTalias0.DEPARTURE_TIME > FLIGHTalias0.ARRIVAL_TIME ) ) ) AND FLIGHTalias0.ARRIVAL_TIME < arrival_time1 ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = "airport_code0" ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ) ;
Incorrect

 98%|█████████▊| 437/447 [25:43<00:41,  4.14s/it]

Question: what are the flights between city_name1 and city_name0 state_name0 which leave after departure_time0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 , STATE AS STATEalias0 WHERE ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND STATEalias0.STATE_CODE = CITYalias1.STATE_CODE AND STATEalias0.STATE_NAME = "state_name0" ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.DEPARTURE_TIME > departure_time0 AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE ( CITYalias1.CITY_NAME = "city_name0" AND CITYalias1.STATE_CODE IN ( SELECT STATEalias0.STATE_CODE FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "state_name0" ) ) ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 98%|█████████▊| 438/447 [25:47<00:35,  3.99s/it]

Question: what are the nonstop flights between city_name0 and city_name1 state_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 , STATE AS STATEalias0 WHERE ( CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE AND STATEalias0.STATE_CODE = CITYalias1.STATE_CODE AND STATEalias0.STATE_NAME = "state_name0" ) AND FLIGHTalias0.STOPS = stops0 ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE ( CITYalias1.CITY_NAME = "city_name1" AND CITYalias1.STATE_CODE IN ( SELECT STATEalias0.STATE_CODE FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "state_name0" ) ) ) ) ) AND FLIGHTalias0.STOPS = stops0 ) ;
Incorrect

 98%|█████████▊| 439/447 [25:51<00:32,  4.11s/it]

Question: can you find me a flight from city_name0 to city_name1 city next day_name0 before arriving before arrival_time0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.ARRIVAL_TIME < arrival_time0 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT AS AIRPORTalias0 , AIRPORT AS AIRPORTalias1 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE AIRPORTalias0.AIRPORT_CODE = AIRPORT_SERVICEalias0.AIRPORT_CODE AND AIRPORTalias1.AIRPORT_CODE = AIRPORT_SERVICEalias1.AIRPORT_CODE AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND DAYSalias0.DAY_NAME = "day_name0" AND FLIGHTalias0.ARRIVAL_TIME < arrival_time0 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORTalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORTalias1.AIRPORT_CODE ;
Incorrect

 98%|█████████▊| 440/447 [25:56<00:29,  4.22s/it]

Question: can you list all of the airline_code0 flights from city_name1 to city_name0 next saturday arriving before arrival_time0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.ARRIVAL_TIME < arrival_time0 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( FLIGHTalias0.ARRIVAL_TIME < arrival_time0 AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) ;
Incorrect

 99%|█████████▊| 441/447 [26:00<00:25,  4.25s/it]

Question: i'd like a round trip flight from city_name1 to city_name0 on wednesday month_number0 day_number0 arriving at arrival_time0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.ARRIVAL_TIME = arrival_time0 AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FLIGHTalias0.ROUND_TRIP = 1 ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( FLIGHTalias0.ARRIVAL_TIME = arrival_time0 AND FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias0.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FARE_ID IN ( SELECT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.BASIS_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) ) AND FAREalias0.ROUND_TRIP_COST IS NOT NULL ) ) ) ) AND FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) ;
Incorrect

 99%|█████████▉| 442/447 [26:03<00:20,  4.02s/it]

Question: find airline_code0 flight from city_name1 to city_name0 around 630pm
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name0" AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FLIGHTalias0.DEPARTURE_TIME BETWEEN departure_time0 AND departure_time1 ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( FLIGHTalias0.DEPARTURE_TIME <= departure_time0 AND FLIGHTalias0.DEPARTURE_TIME >= departure_time1 ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.AIRLINE_CODE = "airline_code0" ) ;
Incorrect

 99%|█████████▉| 443/447 [26:11<00:19,  4.97s/it]

Question: please find a flight round trip from city_name2 to city_name1 state_name0 with a stopover in city_name0 not exceeding the price of round_trip_cost0 dollars for month_number0 day_number0 year0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , CITY AS CITYalias0 , CITY AS CITYalias1 , CITY AS CITYalias2 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FARE AS FAREalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_FARE AS FLIGHT_FAREalias0 , FLIGHT_STOP AS FLIGHT_STOPalias0 , STATE AS STATEalias0 WHERE ( ( ( ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FAREalias0.ROUND_TRIP_COST <= round_trip_cost0 AND FLIGHT_FAREalias0.FARE_ID = FAREalias0.FARE_ID AND FLIGHT_STOPalias0.STOP_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.FLIGHT_ID = FLIGHT_FAREalias0.FLIGHT_ID AND FLIGHTalias0.FLIGHT_ID = FLIGHT_STOPalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name2" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND STATEalias0.STATE_CODE = CITYalias1.STATE_CODE AND STATEalias0.STATE_NAME = "state_name0" ) AND FAREalias0.ROUND_TRIP_REQUIRED = "round_trip_required0" ) AND FAREalias0.ROUND_TRIP_COST IS NOT NULL ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias0.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FARE_ID IN ( SELECT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( ( FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.BASIS_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year1 ) ) ) AND FAREalias0.ROUND_TRIP_COST <= round_trip_cost0 ) AND FAREalias0.ROUND_TRIP_COST IS NOT NULL ) ) ) ) AND FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_STOPalias0.FLIGHT_ID FROM FLIGHT_STOP AS FLIGHT_STOPalias0 WHERE FLIGHT_STOPalias0.STOP_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name0" ) ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE ( CITYalias1.CITY_NAME = "city_name1" AND CITYalias1.STATE_CODE IN ( SELECT STATEalias0.STATE_CODE FROM STATE AS STATEalias0 WHERE STATEalias0.STATE_NAME = "state_name0" ) ) ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name2" ) ) ) ;
Incorrect

 99%|█████████▉| 444/447 [26:16<00:15,  5.18s/it]

Question: please find a flight from city_name2 to city_name1 that makes a stop in city_name0 on month_number0 day_number0 one way with meal_description0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , CITY AS CITYalias0 , CITY AS CITYalias1 , CITY AS CITYalias2 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 , FLIGHT_STOP AS FLIGHT_STOPalias0 , FOOD_SERVICE AS FOOD_SERVICEalias0 WHERE ( ( ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name0" AND DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHT_STOPalias0.STOP_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.FLIGHT_ID = FLIGHT_STOPalias0.FLIGHT_ID AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND FOOD_SERVICEalias0.MEAL_CODE = FLIGHTalias0.MEAL_CODE AND FOOD_SERVICEalias0.MEAL_DESCRIPTION = "meal_description0" ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name2" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( ( FLIGHTalias0.FLIGHT_DAYS IN ( SELECT DAYSalias0.DAYS_CODE FROM DAYS AS DAYSalias0 WHERE DAYSalias0.DAY_NAME IN ( SELECT DATE_DAYalias0.DAY_NAME FROM DATE_DAY AS DATE_DAYalias0 WHERE DATE_DAYalias0.DAY_NUMBER = day_number0 AND DATE_DAYalias0.MONTH_NUMBER = month_number0 AND DATE_DAYalias0.YEAR = year0 ) ) AND FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_FAREalias0.FLIGHT_ID FROM FLIGHT_FARE AS FLIGHT_FAREalias0 WHERE FLIGHT_FAREalias0.FARE_ID IN ( SELECT FAREalias0.FARE_ID FROM FARE AS FAREalias0 WHERE ( FAREalias0.FARE_BASIS_CODE IN ( SELECT FARE_BASISalias0.FARE_BASIS_CODE FROM FARE_BASIS AS FARE_BASISalias0 WHERE FARE_BASISalias0.BASIS_DAYS IN ( SELECT DAYSalias1.DAYS_CODE FROM DAYS AS DAYSalias1 WHERE DAYSalias1.DAY_NAME IN ( SELECT DATE_DAYalias1.DAY_NAME FROM DATE_DAY AS DATE_DAYalias1 WHERE DATE_DAYalias1.DAY_NUMBER = day_number0 AND DATE_DAYalias1.MONTH_NUMBER = month_number0 AND DATE_DAYalias1.YEAR = year0 ) ) ) AND FAREalias0.ROUND_TRIP_REQUIRED = "round_trip_required0" ) ) ) ) AND FLIGHTalias0.MEAL_CODE IN ( SELECT FOOD_SERVICEalias0.MEAL_CODE FROM FOOD_SERVICE AS FOOD_SERVICEalias0 WHERE FOOD_SERVICEalias0.MEAL_DESCRIPTION = "meal_description0" ) ) AND FLIGHTalias0.FLIGHT_ID IN ( SELECT FLIGHT_STOPalias0.FLIGHT_ID FROM FLIGHT_STOP AS FLIGHT_STOPalias0 WHERE FLIGHT_STOPalias0.STOP_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name0" ) ) ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) AND FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name2" ) ) ) ;
Incorrect

100%|█████████▉| 445/447 [26:20<00:09,  4.78s/it]

Question: is there one airline that flies from city_name1 to city_name2 milwaukee to city_name0 and from city_name0 to city_name1
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , CITY AS CITYalias0 , CITY AS CITYalias1 , CITY AS CITYalias2 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name2" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 WHERE ( ( AIRLINEalias0.AIRLINE_CODE IN ( SELECT FLIGHTalias1.AIRLINE_CODE FROM FLIGHT AS FLIGHTalias1 WHERE ( FLIGHTalias1.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias2.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 WHERE AIRPORT_SERVICEalias2.CITY_CODE IN ( SELECT CITYalias2.CITY_CODE FROM CITY AS CITYalias2 WHERE CITYalias2.CITY_NAME = "city_name0" ) ) AND FLIGHTalias1.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias3.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 WHERE AIRPORT_SERVICEalias3.CITY_CODE IN ( SELECT CITYalias3.CITY_CODE FROM CITY AS CITYalias3 WHERE CITYalias3.CITY_NAME = "city_name1" ) ) ) ) AND AIRLINEalias0.AIRLINE_CODE IN ( SELECT FLIGHTalias2.AIRLINE_CODE FROM FLIGHT AS FLIGHTalias2 WHERE ( FLIGHTalias2.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias4.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias4 WHERE AIRPORT_SERVICEalias4.CITY_CODE IN ( SELECT CITYalias4.CITY_CODE FROM CITY AS CITYalias4 WHERE CITYalias4.CITY_NAME = "city_name1" ) ) AND FLIGHTalias2.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias5.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias5 WHERE AIRPORT_SERVICEalias5.CITY_CODE IN ( SELECT CITYalias5.CITY_CODE FROM CITY AS CITYalias5 WHERE CITYalias5.CITY_NAME = "city_name2" ) ) ) ) ) AND AIRLINEalias0.AIRLINE_CODE IN ( SELECT FLIGHTalias0.AIRLINE_CODE FROM FLIGHT AS FLIGHTalias0 WHERE ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name2" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name0" ) ) ) ) ) ;
Incorrect

100%|█████████▉| 446/447 [26:22<00:04,  4.05s/it]

Question: i'd like to book two flights to city_name0
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , CITY AS CITYalias0 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) ;
Incorrect

100%|██████████| 447/447 [26:25<00:00,  3.55s/it]

Question: find me a flight from city_name0 to any airport in the city_name1 area
Predicted SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "city_name0" AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "city_name1" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ;
Correct SQL: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM FLIGHT AS FLIGHTalias0 WHERE ( FLIGHTalias0.FROM_AIRPORT IN ( SELECT AIRPORT_SERVICEalias0.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 WHERE AIRPORT_SERVICEalias0.CITY_CODE IN ( SELECT CITYalias0.CITY_CODE FROM CITY AS CITYalias0 WHERE CITYalias0.CITY_NAME = "city_name0" ) ) AND FLIGHTalias0.TO_AIRPORT IN ( SELECT AIRPORTalias0.AIRPORT_CODE FROM AIRPORT AS AIRPORTalias0 WHERE AIRPORTalias0.AIRPORT_CODE IN ( SELECT AIRPORT_SERVICEalias1.AIRPORT_CODE FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 WHERE AIRPORT_SERVICEalias1.CITY_CODE IN ( SELECT CITYalias1.CITY_CODE FROM CITY AS CITYalias1 WHERE CITYalias1.CITY_NAME = "city_name1" ) ) ) ) ;
Incorrect


Accuracy: 147/447 = 0.32886